<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>장바구니</title>
<!--
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/cartList.css">
  -->
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/cartList.css}">
<!-- thymeleaf -->

<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	let storeCode = $('#storeCode').text();
	let orderCode = $('#orderCode').text();
	
	/**주문 수량 증감*/
	function count(type, menuNum){
		let currentOrderCount = parseInt($(`#orderCount_${menuNum}`).html());
		alert(menuNum);
		alert(currentOrderCount);
		//더하기, 빼기
		if(type === 'plus' && currentOrderCount < 11) {
			currentOrderCount = currentOrderCount + 1;  
	  	}else if(type === 'minus' && currentOrderCount > 0) {
	  		currentOrderCount = currentOrderCount - 1;
	  	}else {
			alert('주문 수량을 확인해주세요.');
			return false;
		}
		
		//결과 출력
	    $('#orderCount_' + menuNum).text(currentOrderCount);
		
		//가격 업데이트
		updatePrice(menuNum, currentOrderCount);
		
		return currentOrderCount;
	}
	
	/** 가격 업데이트 */
	function updatePrice(menuNum, currentOrderCount) {
	    let pricePerItem = parseInt(currentOrderCount) * parseInt($(`#price_${menuNum}`).html());
	    return isNaN(pricePerItem) ? 0 : pricePerItem;
	}
	
	//getTotal 함수 호출
    getTotal();
	
	/**가격 총 합계 계산*/
	function getTotal(){
		let totalPrice = 0;
		
		//각 메뉴마다 가격을 가져와서 totalPrice에 더함
        $('.price-per-item').each(function() {
        	let menuNum = $(this).attr('id').split('_')[1]; //menuNum 추출
            let pricePerItem = updatePrice(menuNum, parseInt($(`#orderCount_${menuNum}`).html()));
            
         	//만약 숫자가 NaN이 아니라면 더함
            if(!isNaN(pricePerItem)) {
                totalPrice += pricePerItem;
            }
        });
		
        //totalPrice를 화면에 출력
        if (!isNaN(totalPrice)) {
            $('#totalPrice').html(totalPrice + '원');
        } else {
            $('#totalPrice').html('0원'); //totalPrice가 NaN이라면 0원으로 출력
        }
    }
	
	/**카트 메뉴 삭제*/
	function deleteCart(menuNum){
		let result = confirm('선택한 메뉴를 삭제하시겠습니까?');
		if(result == true){
			$.ajax({
				url: "deleteCart",
				type: "post",
				data: {menuNum : menuNum},
				success: function(){
					alert('선택하신 메뉴를 삭제하였습니다.');
				},
				error: function(){
					alert('error');
				}
			});
		}
	}

	/**주문하기*/
	function orderMenu(menuNum){
		let currentOrderCount = parseInt($(`#orderCount_${menuNum}`).html());
		let menuName = $(`#menuName_${menuNum}`).text();
		let price = parseInt($(`#price_${menuNum}`).html());
		
		alert(menuNum);
		let result = confirm('선택한 메뉴를 주문하시겠습니까?');
		let data = {
			storeCode: storeCode,
			orderCode: orderCode,
			menuNum: menuNum,
			menuName: menuName,
			price: price,
			orderCount: currentOrderCount
		}
		
		if(result){
			$.ajax({
				url: "orderMenu",
				type: "post",
				data: data,
				success: function(){
					alert('선택한 메뉴를 주문하였습니다.');
				},
				error: function(e){
					alert(e.statusText);
				}
			});
		}
	}
	
	/**창 닫기*/
	function closeCart(){
		window.close();
	}
});
</script>
</head>

<body>
	<div class="container">
	  <div class="header">
		<h1>장바구니</h1>
	  </div>
	  <!-- 필요한 data -->
	  <span id="orderCode" th:text="${orderCode}" style="display:none;"></span>
	  <span id="storeCode" th:text="${storeCode}" style="display:none;"></span>
	  
	  <!-- 카트에 담은 메뉴 출력 -->
	  <div id="cartList">
	  	<table th:each="menu: ${menuList}" th:if="${menuList != null}">
	  		<!-- null일 경우 에러메세지 출력 -->
	  		<tbody><tr><td th:if="${menuList == null}">장바구니에 담긴 상품이 없습니다.</td></tr></tbody>
	  		<!-- null이 아닐 경우 메뉴 출력 -->
	  		<tr>
	  			<td colspan="3">
	  				<span th:text="${menu.menuName}"></span>
	  				<span th:id="'menuNum_' + ${menuNum}" th:text="${menu.menuNum}" style="display:none;"></span>
  				</td>
	  			<td><button th:onclick="deleteCart(${menu.menuNum})" value="삭제">삭제</button></td>
	  		</tr>
	  		<tr>
	  			<td><a th:menuNum="${menu.menuNum}" th:href="|javascript:count('plus', this.getAttribute('menuNum'))|">+</a></td>
	  			<td>
	  				<p class="order-count" th:id="'orderCount_' + ${menu.menuNum}">
	  					<span th:each="item : ${carts}">
	  						<span th:text="${item[1]}"></span>개
	  					</span>
	  				</p>
  				</td>
	  			<td><a th:menuNum="${menu.menuNum}" th:href="|javascript:count('minus',this.getAttribute('menuNum'))|">- &nbsp;</a></td>
	  			<td>
	  				<p class="price-per-item" th:id="'price_' + ${menu.menuNum}">
	  				<span th:text="${menu.price}"></span>원
  				</td>
	  		</tr>
	  	</table>
		<div>
			<p class="cart-total">합계: <span id="totalPrice"></span></p>
	 		<button class="orderBT" onclick="closeCart()">닫기</button>
	 		<button class="orderBT" th:onclick="orderMenu(${menu.menuNum})">주문하기</button>
		</div>
	  </div>
	</div>
  </body>
</html>