<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>장바구니</title>

<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/cartList.css">
<!--  -->
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/cartList.css}">
<!-- thymeleaf -->

<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	
	let storeCode = $('#storeCode').text();
	let orderCode = $('#orderCode').text();
	let menuNum;
	let menuName;
	let price;
	let orderCount;
	
	orderCount = parseInt($('#orderCount_' + menuNum).text());
	let pricePerItem = orderCount * price;
	
	/**카트 메뉴 삭제*/
	function deleteCart(menuNum){
		let result = confirm('선택한 메뉴를 삭제하시겠습니까?');
		if(result == true){
			location.href="deleteCart?menuNum="+menuNum;
		}
	}
	
	/**주문 수량 증감*/
	function count(type, menuNum){
		let orderCount = parseInt($('#orderCount_' + menuNum).text());
		
		//더하기, 빼기
		if(type === 'plus' && orderCount < 11) {
			orderCount = orderCount + 1;  
	  	}else if(type === 'minus' && orderCount > 1) {
	  		orderCount = orderCount - 1;
	  	}else {
			alert('주문 수량을 확인해주세요.');
			return false;
		}
		
		//결과 출력
	    $('#orderCount_' + menuNum).text(orderCount);
	}
	
	/**가격 총 합계 계산*/
	function getTotal(){
		let totalPrice = 0;
		
		//각 메뉴마다 가격을 가져와서 totalPrice에 더함
        $('.price-per-item').each(function() {
            let pricePerItem = parseInt($(this).text());
            totalPrice += pricePerItem;
        });

        //totalPrice를 화면에 출력
        $('#totalPrice').text(totalPrice + '원');
    }
	
	//getTotal 함수 호출
    getTotal();


	/**주문하기*/
	function orderMenu(){
		let result = confirm('선택한 메뉴를 주문하시겠습니까?');
		let data = {
			storeCode: storeCode,
			orderCode: orderCode,
			menuNum: menuNum,
			menuName: menuName,
			price: price,
			orderCount: orderCount
		}
		
		if(result){
			$.ajax({
				url: "orderMenu",
				type: "post",
				data: data,
				success: function(){
					alert('선택한 메뉴를 주문하였습니다.');
				},
				error: function(e){
					alert(e.statusText);
				}
			});
		}
	}
	
	/**창 닫기*/
	function closeCart(){
		window.close();
	}
	
});

</script>
</head>

<body>
	<div class="container">
	  <div class="header">
		<h1>장바구니</h1>
	  </div>
	  <!-- 필요한 data -->
	  <span id="orderCode" th:text="${orderCode}" style="display:none;"></span>
	  <span id="storeCode" th:text="${storeCode}" style="display:none;"></span>
	  
	  <!-- 카트에 담은 메뉴 출력 -->
	  <div id="cartList">
	  	<table>
	  		<tr>
	  			<td th:text>${menuList.menuName}</td>
	  			<td><button onclick="deleteCart(menuNum)" value="삭제">삭제</button></td>
	  		</tr>
	  		<tr>
	  			<td><a href="javascript:count(\'plus\',' + menuNum + ')">+</a></td>
	  			<td><p id="orderCount_' + menuNum + '"><span th:text="${carts.orderCount}"></span>개</p></td>
	  			<td><a href="javascript:count(\'minus\',' + menuNum + ')">-</a></td>
	  			<td><p class="price-per-item" id="price_' + menuNum + '"><span th:text="${menuList.price}"></span>원</td>
	  		</tr>
	  	</table>
	  	
	  </div>
	  <p class="cart-total">합계: <span id="totalPrice"></span></p>
	  <a href="javascript:closeCart()"><button class="orderBT">닫기</button></a>
	  <a href="javascript:orderMenu()"><button class="orderBT">주문하기</button></a>
	</div>
  </body>
</html>