<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>My Page</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
    $('#memberChangeBtn').click(memberChg);
    $('#storeChangeBtn').click(storeChg);
});

function getMemberInfo(){
	$.ajax({
		url: 'getPrivacy',
		type: 'get',
		dataType: "json",
		success: function(){
			
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

function memberChg(){
	let memberName = $('#memberName').val();
	let phone =  $('#phone').val();
	
	$.ajax({
		url: 'editPrivacyInfo',
		type: 'post',
		data: $('#memberInfoForm').serialize(),		
		success: function(){
			alert('저장되었습니다.');
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

function getStoreInfo(){
	$.ajax({
		url: 'getStoreInfo',
		type: 'get',
		dataType: "json",
		success: function(){
			
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

function storeChg(){
	let dayOff = $('#dayOff').val();
	let runningTime = $('#runningTime').val();
	let info = $('#info').val();
	
	$.ajax({
		url: 'editStorepage',
		type: 'post',
		data: $('#storeInfoForm').serialize(),		
		success: function(){
			alert('저장되었습니다.');
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

</script>
<link rel="stylesheet" th:href="@{/CSS/}">
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<nav id="navbar" class="navbar">
    	<div class="search">
   			<a th:href="@{/search}" class="search_logo">
    			<img th:src="@{/image/btn_search.png}" alt="검색">
    		</a>
    	</div>
    
	    <div id="logo">
	    	<a th:href="@{/corporate/home}" class="navbar_logo">
	       		<img th:src="@{/image/logo.png}" alt="logo">
	       		<span>FitTail</span>
	     	</a>
	    </div>
	
    	<div class="navbar_right">
    		<div sec:authorize="!isAuthenticated()">
	    		<a th:href="@{/member/login}">로그인</a>
	    	</div>
	    	<div sec:authorize="isAuthenticated()">
	    		<a th:href="@{/member/logout}">로그아웃</a>
	    		<a th:href="@{/corporate/mypage}">마이페이지</a>
	    	</div>
	   </div>
  </nav>
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
 <main>
	<!-- 사이드바 -->
	<section class="sidebar" id="sidebar">
		<!-- 사이드바: 프로필 -->
		<div class="profile">
			<div class="profile-icon">
	 			<img th:src="@{/image/profile-icon.svg}" alt="프로필">
	 		</div>
		 	<div class="profile-text">
		 		<p><span th:text="${#authentication.name}"></span>님 환영합니다.</p>
		 	</div>
	 	</div>

		<hr class="sidebar-divider">

		<!-- 사이드바: 메뉴 리스트 -->
        <div class="nav-item">
			<ul>
				<li>
					<a th:href="@{/corporate/store/reserveList}">예약 확인</a>
					<ul>
						<li><a th:href="@{/corporate/store/reserveInput}">예약 수기 입력</a></li>
					</ul>
				</li>
       			<li>
       				<a th:href="@{/corporate/store/menuMng}">메뉴 관리</a>
     			</li>
				<li>
					<a th:href="@{/corporate/store/orderList}">주문 관리</a>
				</li>
				<li>
					<a th:href="@{/corporate/store/salesMng}">매출 관리</a>
				</li>
			</ul>
		</div>
        
        <hr class="sidebar-divider">
	
		<!-- 사이드바: 회원 탈퇴 -->
		<a th:href="@{/member/quitMember}">회원 탈퇴</a>
	</section>
	<!-- 사이드바 끝 -->
	<!-- 메인 섹션 시작 -->
	<section>
		<h1>마이페이지</h1>
		<div class="memberInformation">
			<h2>회원 정보</h2>
			<form id="memberInfoForm" th:action="@{/member/editPrivacyInfo}" method="post">
				아이디
				<input type="text" name="memberId" th:value="${member.memberId}" readonly="readonly"><br>
				비밀번호
				<input type="password" name="password" readonly="readonly">
				<input type="button" id="pwChangeBtn" value="변경" onclick="location.href='corporate/member/resetPw.html'"><br>
				이메일
				<input type="text" name="email" th:value="${member.email}" readonly="readonly"><br>
				이름
				<input type="text" name="memberName" th:value="${member.memberName}"><br>
				휴대폰 번호
				<input type="text" name="phone" th:value="${member.phone}"><br>
				사업자 번호
				<input type="text" name="brn" th:value="${member.brn}"><br>
				
				<input type="button" id="memberChangeBtn" value="변경">
			</form>
		</div>
		<div class="storeInformation">
			<h2>매장 정보</h2>
			<form id="storeInfoForm" th:action="@{/member/editStorepage}" method="post">
				가게명 <input type="text" name="storeName" th:value="${store.storeName}">
				전화번호 <input type="text" name="phone" th:value="${store.phone}">
				영업 시간 <input type="text" name="runningTime" th:value="${store.runningTime}">
				휴일 <input type="text" name="dayOff" th:value="${store.dayOff}">
				매장 소개 <input type="text" name="info" th:value="${store.info}">
				주소
				<input type="text" name="postCode" id="postCode" placeholder="우편번호">
				<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
				<input type="text" name="address1" id="address1" placeholder="도로명주소">
				<span id="guide" style="color:#999;display:none"></span>
				<input type="text" name="address2" id="address2" placeholder="상세주소"><br>

				<input type="button" id="storeChangeBtn" value="변경">
			</form>
		</div>
	</section>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postCode').value = data.zonecode;
                document.getElementById("address1").value = roadAddr;
                
                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>
</html>