<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/CSS/corpMain.css}">
<title>마이 페이지</title>
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/corpMyPage.css">
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/corpMyPage.css}">
<!-- thymeleaf -->
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	getMemberInfo();
	getStoreInfo();
});

/**회원 정보 가져오기*/
function getMemberInfo(){
	$.ajax({
		url: 'getPrivacy',
		type: 'get',
		dataType: "json",
		success: function(list){
			getList(list);
		},
		error: function(e){
			alert('에러입니다');
		}
	});
}

let memberId;
let email;
let memberName;
let phone;

/**회원정보 출력*/
function getList(list){
	let str = '<table>';
	$(list).each(function(i,item){
		memberId = item.memberId;
		email = item.email;
		memberName = item.memberName;
		phone = item.phone;
		
		str += '<tr><td>아이디</td><td>'+ memberId + '</td></tr>';
		str += '<tr><td>이메일</td><td>' + email + '</td></tr>';
		str += '<tr><td>이름</td><td>' + memberName + '</td></tr>';
		str += '<tr><td>휴대폰 번호</td><td>' + formatPhoneNum(phone) + '</td></tr>';
		str += '<tr><td><input type="button" id="memChgBtn" value="수정" onclick="memChgToggle()"></td></tr>';
		str += `<tr><td><input type="button" id="pwChgBtn" value="비밀번호 변경" onclick="location.href='resetPw'"></td></tr>`;
	});
	str += '</table>';
	$('#memInfoDiv').html(str);
}

/**회원정보 변경 폼 표시*/
function memChgToggle(){
	//해당 인풋에 값 넣어주기
	$('#memberId').html(memberId);
	$('#email').html(email);
	$('#memberName').html(memberName);
	$('#phone').val(phone);
	
	$('#memInfoDiv').hide();
	$('#memInfoFormDiv').show();
}

//유효성 플래그 변수
let isValid2 = false;
let phoneChk1 = false;

/**휴대폰번호 유효성 검사*/
function phoneChk(){
	let phone = $('#phone').val();
    let regPhone = /^010[0-9]{4}[0-9]{4}$/;
    
    if(!regPhone.test(phone)){
        $('#errMsg1').html('전화번호 형식이 올바르지 않습니다.');
        phoneChk1 = false;
        return false;
    }
    else{
    	//사용자가 하이픈을 입력하지 않았을 때 자동으로 하이픈 추가
        if (phone.length === 11 && phone.indexOf('-') === -1) {
        	//하이픈을 추가하여 전화번호 형식으로 변환
            phone = phone.replace(/^(\d{3})(\d{4})(\d{4})$/, '$1-$2-$3');
            $('#phone').val(phone);
            phoneChk1 = true;
        }
        $('#errMsg1').html('');
        return true;
    }
}

/** 회원 정보 수정 */
function memChg(){
	let param = $('#memberInfoForm').serialize();
	
	if(phoneChk1 == false){
		return false;
	}
		$.ajax({
			url: 'editPrivacyInfo',
			type: 'post',
			data: param,
			success: function(){
				alert('저장되었습니다.');
				memChgToggle2()
				getMemberInfo();
			},
			error: function(e){
				alert(e.statusText);
			}
		});
}

/**회원정보 변경 폼 제출 후 바뀐 정보 표시*/
function memChgToggle2(){
	
	$('#memInfoFormDiv').hide();
	$('#memInfoDiv').show();
}


/**가게 정보 가져오기*/
function getStoreInfo(){
	$.ajax({
		url: 'getStoreinfo',
		type: 'get',
		dataType: "json",
		success: function(list){
			getStoreList(list);
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

//변수
let storeName;
let brn;
let postCode;
let address1;
let address2;
let storePhone;
let runningTime;
let dayOff;
let info;

/**가게 정보 출력*/
function getStoreList(list){
	//가게 주소 합친 변수
	let str = '<table>';

	$(list).each(function(i,item){
		storeName = item.storeName;
		brn = item.brn;
		storePhone = item.phone;
		runningTime = item.runningTime;
		dayOff = item.dayOff;
		info = item.info;
		let fileName = item.savedFilename;
		postCode = item.postCode;
		address1 = item.address1;
		address2 = item.address2;
		
		str += '<tr><td>상호명</td><td>'+ storeName + '</td></tr>';
		if(fileName){
		str += '<tr><td>대표 사진</td><td><img src="/FitTail/image/store/' + fileName + '"></td></tr>';
		}
		str += '<tr><td>사업자 번호</td><td>' + brn + '</td></tr>';
		str += '<tr><td>가게 주소</td><td>' + address1 + ' ' + address2 + '</td></tr>';
		str += '<tr><td>가게 전화번호</td><td>' + formatPhoneNum(storePhone) + '</td></tr>';
		str += '<tr><td>영업 시간</td><td>' + runningTime + '</td></tr>';
		str += '<tr><td>휴무일</td><td>' + dayOff + '</td></tr>';
		str += '<tr><td>가게 소개</td><td>' + info + '</td></tr>';
		str += '<tr><td><input type="button" id="storeChgBtn" value="수정" onclick="storeChgToggle()"></td></tr>';
	});
	str += '</table>';
	$('#storeInfoDiv').html(str);
}

/**번호에 하이픈 추가*/
function formatPhoneNum(phone) {
    // 정규표현식을 사용하여 하이픈을 추가하여 전화번호 형식으로 변환
    
    return phone.replace(/^(\d{2,3})(\d{4})(\d{4})$/, '$1-$2-$3');
}

/**가게 정보 변경 폼 표시*/
function storeChgToggle(){
	$('#storeName').val(storeName);
	$('#brn').val(brn);
	$('#storePhone').val(storePhone);
	$('#runningTime').val(runningTime);
	$('#dayOff').val(dayOff);
	$('#info').val(info);
	$('#postCode').val(postCode);
	$('#address1').val(address1);
	$('#address2').val(address2);
	
	$('#storeInfoDiv').hide();
	$('#storeInfoFormDiv').show();
}

/**가게 이름 유효성 검사*/
function storeNameChk(){
	let storeName2 = $('#storeName').val();
	let storeNameLength = storeName2.length;
	
	if(storeNameLength < 2 ||  storeNameLength > 20){
		$('#errMsg2').html('가게명은 2-20자로 입력해주세요.');
		return false;
	}
	else{
		$('#errMsg2').html('');
		return true;
	}
}

/**사업자번호 유효성 검사*/
function brnChk(){
	let brn2 = $('#brn').val();
	let regBrn = /^[0-9]{3}-[0-9]{2}-[0-9]{5}$/;
	
	if(!regBrn.test(brn2)){
        $('#errMsg3').html('사업자번호 형식이 올바르지 않습니다.');
        return false;
    }
    else{
        $('#errMsg3').html('');
        return true;
    }
}

/**가게 전화번호 유효성 검사*/
function storePhoneChk(){
	let storePhone2 = $('#storePhone').val();
    let regPhone = /^[0-9]{2,3}[0-9]{4}[0-9]{4}/;
    
    if(!regPhone.test(storePhone2)){
        $('#errMsg4').html('전화번호 형식이 올바르지 않습니다.');
        return false;
    }
   	// 사용자가 하이픈을 입력하지 않았을 때 자동으로 하이픈 추가
    else{ 
    	if((phone.length === 11 || phone.length === 10) && phone.indexOf('-') === -1) {
        	//하이픈을 추가하여 전화번호 형식으로 변환
            phone = phone.replace(/^(\d{2,3})(\d{4})(\d{4})$/, '$1-$2-$3');
            $('#phone').val(phone);
        }
        $('#errMsg4').html('');
        return true;
    }
}

/**영업시간 유효성 검사*/
function runningTimeChk(){
	let runningTime2 = $('#runningTime').val();
	let runningTimeLength = runningTime2.length;
    
    if(runningTimeLength < 2){
        $('#errMsg5').html('영업 시간을 입력해주세요.');
        return false;
    }
    else{
        $('#errMsg5').html('');
        return true;
    }
}

/**휴일 유효성 검사*/
function dayOffChk(){
	let dayOff2 = $('#dayOff').val();
	let dayOffLength = dayOff2.length;
    
    if(dayOffLength < 2){
        $('#errMsg6').html('휴일을 입력해주세요.');
        return false;
    }
    else{
        $('#errMsg6').html('');
        return true;
    }
}

/**매장 소개 유효성 검사*/
function infoChk(){
	let info2 = $('#info').val();
	let infoLength = info2.length;
    
    if(infoLength < 2){
        $('#errMsg7').html('매장 소개를 입력해주세요.');
        return false;
    }
    else{
        $('#errMsg7').html('');
        return true;
    }
}

/**가게 정보 변경하기*/
function storeChg(){
	let form = $('#storeInfoForm')[0];
	//새로운 FormData 객체 생성
	let formData = new FormData();
	//가게 정보 폼의 요소를 문자열로 이루어진 배열로 만듦
	let params = $('#storeInfoForm').serializeArray();
	//올린 파일을 file 변수에 넣어줌
	let file = $('#file')[0].files[0];
	//파일이 있으면 formData에 file을 'upload'라는 이름으로 append해준다.
	if(file){
		formData.append('upload',file);
	}
	//form 태그 안에 있는 요소들이 key, value로 들어감.
	params.forEach(function(param){
		formData.append(param["name"], param["value"]);
	});
	
	if(!storeNameChk() || !brnChk() || !storePhoneChk() || !runningTimeChk() || !dayOffChk() || !infoChk()){
		return false;
	}
		$.ajax({
			url: 'editStorepage',
			type: 'post',
			data: formData,
			contentType : false,
	        processData : false,
			success: function(){
				alert('저장되었습니다.');
				storeChgToggle2();
				getStoreInfo();
			},
			error: function(e){
				alert(e.statusText);
			}
		});
}

/**가게정보 변경 폼 제출 후 바뀐 정보 표시*/
function storeChgToggle2(){
	
	$('#storeInfoFormDiv').hide();
	$('#storeInfoDiv').show();
}

</script>

</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<nav id="navbar" class="navbar">
	    <div id="logo">
	    	<a th:href="@{/corporate/home}" class="navbar_logo">
	       		<span>FitTail</span>
	     	</a>
	    </div>
	
    	<div class="navbar_right">
    		<div sec:authorize="!isAuthenticated()">
	    		<a th:href="@{/member/login}">로그인</a>
	    	</div>
	    	<div sec:authorize="isAuthenticated()">
	    		<a th:href="@{/member/logout}">로그아웃</a>
	    		<a th:href="@{/corporate/member/mypage}">마이페이지</a>
	    	</div>
	   </div>
  	</nav>
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
 <main>
	<!-- 사이드바 -->
	<section class="sidebar" id="sidebar">
		<!-- 사이드바: 프로필 -->
		<div class="profile">
			<div class="profile-icon">
	 			<img th:src="@{/image/profile-icon.svg}" alt="프로필">
	 		</div>
		 	<div class="profile-text">
		 		<p><span th:text="${#authentication.name}"></span>님 환영합니다.</p>
		 	</div>
	 	</div>

		<hr class="sidebar-divider">

		<!-- 사이드바: 메뉴 리스트 -->
        <div class="nav-item">
			<ul>
				<li>
					<a th:href="@{/corporate/store/reserveList}">예약 확인</a>
					<ul>
						<li><a th:href="@{/corporate/store/reserveInput}">예약 수기 입력</a></li>
					</ul>
				</li>
       			<li>
       				<a th:href="@{/corporate/store/menuMng}">메뉴 관리</a>
     			</li>
				<li>
					<a th:href="@{/corporate/store/orderList}">주문 관리</a>
				</li>
				<li>
					<a th:href="@{/corporate/store/salesMng}">매출 관리</a>
				</li>
			</ul>
		</div>
        
        <hr class="sidebar-divider">
	
		<!-- 사이드바: 회원 탈퇴 -->
		<a th:href="@{/member/quitMember}">회원 탈퇴</a>
	</section>
	<!-- 사이드바 끝 -->
	<!-- 메인 섹션 시작 -->
	<section>
		<h1>마이페이지</h1>
		<div class="memberInformation">
			<h2>회원 정보</h2>
			<!-- 회원 정보 표시 -->
			<div id="memInfoDiv"></div>
			
			<!-- 회원 정보 수정 폼 -->
			<div id="memInfoFormDiv" style="display:none;">
				<form id="memberInfoForm" th:action="@{/corporate/member/editPrivacyInfo}" method="post">
					아이디
					<span id="memberId"></span><br>
					이름
					<span id="memberName"></span><br>
					휴대폰 번호
					<input type="text" id="phone" name="phone" onkeyup="phoneChk()"><br>
					<p id="errMsg1"></p>
					이메일
					<span id="email"></span><br>
					
					<input type="reset" class="bottom" value="다시 쓰기">
					<input type="button" id="memSubBtn" value="저장" onclick="memChg()">
				</form>
			</div>
		</div>
		<div class="storeInformation">
			<h2>매장 정보</h2>
			<!-- 매장 정보 표시 -->
			<div id="storeInfoDiv"></div>
			
			<!-- 매장 정보 수정 폼 -->
			<div id="storeInfoFormDiv" style="display:none;">
				<form id="storeInfoForm" th:action="@{/corporate/member/editStorepage}" method="post"
				enctype="multipart/form-data">
					가게명
					<input type="text" id="storeName" name="storeName" onkeyup="storeNameChk()">
					<p id="errMsg2"></p>
					대표 사진<br>
		    		<input type="file" id="file" name="upload"><br>
		    		사업자 번호
					<input type="text" id="brn" name="brn" onkeyup="brnChk()"><br>
					<p id="errMsg3"></p>
					전화번호
					<input type="tel" id="storePhone" name="phone" onkeyup="storePhoneChk()">
					<p id="errMsg4"></p>
					영업 시간
					<input type="text" id="runningTime" name="runningTime" onkeyup="runningTimeChk()">
					<p id="errMsg5"></p>
					휴일
					<input type="text" id="dayOff" name="dayOff" onkeyup="dayOffChk()">
					<p id="errMsg6"></p>
					매장 소개
					<textarea rows="10" id="info" name="info" onkeyup="infoChk()"></textarea>
					<p id="errMsg7"></p>
					주소
					<input type="text" name="postCode" id="postCode" placeholder="우편번호">
					<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
					<input type="text" name="address1" id="address1" placeholder="도로명주소">
					<span id="guide" style="color:#999;display:none"></span>
					<input type="text" name="address2" id="address2" placeholder="상세주소"><br>
					
					<input type="reset" class="bottom" value="다시 쓰기">
					<input type="button" id="storeSubBtn" value="변경" onclick="storeChg()">
				</form>
			</div>
		</div>
	</section>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postCode').value = data.zonecode;
                document.getElementById("address1").value = roadAddr;
                
                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>
</html>