<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Login</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
    
});

function submitChk(){
    let id = $('#id').val();
    let pw = $('#pw').val();

    $.ajax({
            url:'checkId', 
            type:'post', 
            data:{id:id},
            success:function(cnt){ 
                if(cnt == 0){  
                    alert("아이디를 다시 입력해주세요");
                    id == '';
                } else { 
                    submit();
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });

}

function idChk(){
    let id = $('#id').val();
    let regId = /^[a-z]{6,12}$/g

    if(!regId.test(id)){
		$('#output1').html('아이디는 6~12자리 영문자를 포함해야합니다.');
		return false;
	}
    else{
        $('#output1').html('');
     	return true;
    }
}

function pwChk(){
    let pw = $('#pw').val();
    let regPw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;

    if(!regPw.test(pw)){
        $('#output2').html('비밀번호는 8~15자리 숫자/문자/특수문자를 포함해야합니다.');
		return false;
    }else{
    	$('#output2').html('');
    	return true;
    }
}


</script>
<link rel="stylesheet" th:href="@{/CSS/login.css}">
</head>
<body>
	<div class="container">
        <div class="title">
            <h1 class="title">로그인</h1>
        </div>
        <form class="corpLogin" th:action="@{/loginForm}" method="post">
            <div class="form-group">
                <input type="text" class="form-control form-control-user"
                    id="id" placeholder="ID를 입력해주세요." onkeyup="idChk()" required>
                <span id="output1"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="pw" placeholder="비밀번호를 입력해주세요." onkeyup="pwChk()" required>
                <span id="output2"></span>
            </div>
            <input type="button" value="로그인" class="bottom" onclick="submitChk()">
            
        </form>
        <hr>
        <div class="text-bottom-container">
            <a class="text-bottom" href="forgot-password.html">아이디·비밀번호 찾기</a>
            <a class="text-bottom" href="register.html">회원가입</a>
        </div>
    </div>
</body>
</html>
