<!DOCTYPE html>
<html	xmlns:th="http://thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Cocktails</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	
});

</script>
<link rel="stylesheet" th:href="@{/CSS/corpMain.css}">
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<nav id="navbar" class="navbar">
    	<div class="search">
   			<a th:href="@{/search}" class="search_logo">
    			<img th:src="@{/image/btn_search.png}" alt="검색">
    		</a>
    	</div>
    
	    <div id="logo">
	    	<a th:href="@{/corporate/home}" class="navbar_logo">
	       		<img th:src="@{/image/logo.png}" alt="logo">
	       		<span>FitTail</span>
	     	</a>
	    </div>
	
    	<div class="navbar_right">
    		<div sec:authorize="!isAuthenticated()">
	    		<a th:href="@{/corporate/member/login}">로그인</a>
	    	</div>
	    	<div sec:authorize="isAuthenticated()">
	    		<span><a th:href="@{/corporate/member/logout}">로그아웃</a></span>
	    		<span><a th:href="@{/corporate/member/myPage}">마이페이지</a></span>
	    	</div>
	   </div>
  </nav>
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
 <main>
	<!-- 사이드바 -->
	<section class="sidebar" id="sidebar">
		<!-- 사이드바: 프로필 -->
		<div class="profile">
			<div class="profile-icon">
	 			<img th:src="@{/image/profile-icon.svg}" alt="프로필">
	 		</div>
		 	<div class="profile-text">
		 		<p>dd님 환영합니다.</p>
		 		<p>ID: <span th:text="${#authentication.name}"></span></p>
		 	</div>
	 	</div>

		<hr class="sidebar-divider">

		<!-- 사이드바: 메뉴 리스트 -->
        <div class="nav-item">
			<ul>
				<li>
					<a th:href="@{/corporate/store/reservePage}">예약 확인</a>
					<ul>
						<li><a th:href="@{/corporate/store/reserveInput}">예약 수기 입력</a></li>
					</ul>
				</li>
       			<li>
       				<a th:href="@{/corporate/store/menuMng}">메뉴 관리</a>
     			</li>
       			<li>
       				<a th:href="@{/corporate/member/editStorepage}">가게 정보 관리</a>
      			</li>
				<li>
					<a th:href="@{/corporate/store/orderList}">주문 관리</a>
				</li>
				<li>
					<a th:href="@/corporate{/store/salesMng}">매출 관리</a>
				</li>
				<li>
					<a th:href="@{/corporate/member/editPrivacyInfo}">내 정보 관리</a>
				</li>
			</ul>
		</div>
        
        <hr class="sidebar-divider">
	
		<!-- 사이드바: 회원 탈퇴 -->
		<a th:href="@{/corporate/member/quitMember}">회원 탈퇴</a>
	</section>
	
	<!-- 메인 섹션 시작 -->
	<section>
		<div class="banner">
			<img th:src="@{/image/banner.jpg}" class="bannerimg">
		</div>
		<div class="box">
			<a th:href="@{/corporate/order/login}">주문 확인 페이지</a>
		</div>
	</section>
</main>

   <!-- Footer -->
   <footer class="sticky-footer">
       <div class="container">
           <div class="copyright">
               <span>Copyright &copy; FitTail 2023</span>
           </div>
       </div>
   </footer>
   <!-- Footer 끝 -->
    
</body>
</html>
