<!DOCTYPE html>
<html	xmlns:th="http://thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Cocktails 기업화면</title>
<link rel="stylesheet" href="../../static/CSS/corporate/corpMain.css">
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" th:href="@{/CSS/corporate/corpMain.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){

});

</script>
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/corporate/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/corporate/member/mypage}">마이페이지  &nbsp; &nbsp;</a>
        </div>
    </div>  
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
 <main>
	<!-- 사이드바 -->
	<section class="sidebar" id="sidebar">
		<!-- 사이드바: 프로필 -->
		<div class="profile">
			<div class="profile-icon">
	 			<img th:src="@{/image/profile-icon.svg}" alt="profile">
		 		<p><span th:text="${#authentication.name}"></span>님 환영합니다.</p>
			</div>
	 	</div>
		<!--주문 페이지 BT-->
			<div class="box">
				<a th:href="@{/corporate/order/login}">주문 페이지 <img th:src="@{/image/arrow.png}" alt="arrow"></a>
			</div>
		

		<hr class="sidebar-divider">

		<!-- 사이드바: 메뉴 리스트 -->
        <div class="nav-item">
			<ul>
				<li><!-- mapper 완 -->
					<a th:href="@{/corporate/store/reserveList}">예약 확인</a>
					<ul>
						<li><a th:href="@{/corporate/store/reserveInput}">예약 수기 입력</a></li>
					</ul>
				</li>
       			<li><!-- mapper 완 -->
       				<a th:href="@{/corporate/store/menuMng}">메뉴 관리</a>
     			</li>
				<li>
					<a th:href="@{/corporate/store/orderList}">주문 관리</a>
				</li>
				<li>
					<a th:href="@{/corporate/store/salesMng}">매출 관리</a>
				</li>
			</ul>
		</div>
        
        <hr class="sidebar-divider">
	
		<!-- 사이드바: 회원 탈퇴 -->
		<a th:href="@{/member/quitMember}">회원 탈퇴</a>
	</section>
	
	<!-- 메인 섹션 시작 -->
	<section>
		<div class="banner">
			<img th:src="@{/image/cop_banner.png}" alt="bannerimg">
		</div>
	</section>
</main>

   <!-- Footer -->
   <footer>
	<div  class="bin"></div>
	<div class="footer1">
	  <p>FitTail ©︎  The perfect cocktail for you</p>
	</div> 
  </footer>
   <!-- Footer 끝 -->
    
</body>
</html>
