<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>메뉴 관리</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	init();
});

//전체 목록 받아오기
function init(){
	$.ajax({
		url: "menuList",
		type: "get",
		dataType: "json",
		success: function(list){
			getList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//리스트 출력
function getList(list){
	let str = '<table><tr><th>메뉴 번호</th><th>카테고리</th><th>이름</th><th>가격</th><th>상태</th></tr>';
	$(list).each(function(i,item){
		
		str += '<tr>';
		str += '<td>' + item.menuNum + '</td>';
		str += '<td>' + item.category + '</td>';
		str += '<td><a href="/corporate/store/editMenu(menuNum=' + item.menuNum + ',storeCode=' + item.storeCode + ')|">' + item.menuName + '</td>';
		str += '<td>' + item.price + '</td>';
		str += '<td>' + item.canOrder + '</td>';
		str += '<td><a href="|javascript:deleteMenu(menuNum=' + item.menuNum + ',storeCode=' + item.storeCode + ')|">x</a></td>';
		str += '</tr>';
	});
	str += '</table>';
	$('#menuList').html(str);
}

//메뉴 삭제
function deleteMenu(menuNum, storeCode){
	let result = confirm("메뉴를 삭제하시겠습니까?");
	if(result == true){
		location.href="deleteMenu?menuNum="+menuNum + '&storeCode=' + storeCode;
	}
}

//메뉴 추가 폼 표시
function addMenu(){
	$('#addMenuDiv').show();
}

//메뉴 추가 폼 보내기
function addSub(){
	
	$.ajax({
        url: 'addMenu',
        method: 'post',
        data: $('#addMenuForm').serialize(),
        success: function() {
           alert('추가되었습니다.');
        },
        error: function() {
           alert('error');
        }
     });
}

//검색어,타입 주고 결과 받아오기
function menuSearch() {
	var searchWord = $("#searchWord").val();
	var category = $("select[name='${category}']").val();
	var storeCode = $("#storeCode").val();
	
	$.ajax({
		url: 'menuSearch',
		type:'post',
		dataType: 'json',
		data: {searchWord: searchWord, category: category, storeCode: storeCode},
		success: function(list) {
			getList(list);
		},
		error: function(){
			init();
		}
	});
}

//페이지 이동
function pagingFormSubmit(currentPage){
		let form = document.getElementById("pagingForm");
		let page = document.getElementById("page");
		page.value = currentPage;
		form.submit();
}
	
</script>
<link rel="stylesheet" th:href="@{/CSS/}">
</head>
<body>
	<!-- 헤더 -->
	<header id="header" class="header">
		<!-- 네비게이션바 -->
		<nav id="navbar" class="navbar">
	    	<div class="search">
	   			<a th:href="@{/search}" class="search_logo">
	    			<img th:src="@{/image/btn_search.png}" alt="검색">
	    		</a>
	    	</div>
	    
		    <div id="logo">
		    	<a th:href="@{/corporate/home}" class="navbar_logo">
		       		<img th:src="@{/image/logo.png}" alt="logo">
		       		<span>FitTail</span>
		     	</a>
		    </div>
		
	    	<div class="navbar_right">
	    		<div sec:authorize="!isAuthenticated()">
		    		<a th:href="@{/member/login}">로그인</a>
		    	</div>
		    	<div sec:authorize="isAuthenticated()">
		    		<a th:href="@{/member/logout}">로그아웃</a>
		    		<a th:href="@{/corporate/member/mypage}">마이페이지</a>
		    	</div>
		   </div>
	  </nav>
	  <!-- 네비게이션바 끝 -->
	</header>
	<!-- 헤더 끝 -->
	<!-- 메인 시작 -->
 <main>
	<!-- 사이드바 -->
	<section class="sidebar" id="sidebar">
		<!-- 사이드바: 프로필 -->
		<div class="profile">
			<div class="profile-icon">
	 			<img th:src="@{/image/profile-icon.svg}" alt="프로필">
	 		</div>
		 	<div class="profile-text">
		 		<p><span th:text="${#authentication.name}"></span>님 환영합니다.</p>
		 	</div>
	 	</div>

		<hr class="sidebar-divider">

		<!-- 사이드바: 메뉴 리스트 -->
        <div class="nav-item">
			<ul>
				<li>
					<a th:href="@{/corporate/store/reserveList}">예약 확인</a>
					<ul>
						<li><a th:href="@{/corporate/store/reserveInput}">예약 수기 입력</a></li>
					</ul>
				</li>
       			<li>
       				<a th:href="@{/corporate/store/menuMng}">메뉴 관리</a>
     			</li>
				<li>
					<a th:href="@{/corporate/store/orderList}">주문 관리</a>
				</li>
				<li>
					<a th:href="@{/corporate/store/salesMng}">매출 관리</a>
				</li>
			</ul>
		</div>
        
        <hr class="sidebar-divider">
	
		<!-- 사이드바: 회원 탈퇴 -->
		<a th:href="@{/member/quitMember}">회원 탈퇴</a>
	</section>
	<!-- 사이드바 끝 -->
	<!-- 메인 섹션 시작 -->
	<section>
		<h1>메뉴 리스트</h1>
		<!-- 메뉴 검색 -->
		<form id="menuSearch" th:action="@{/corporate/store/menuSearch}" method="post">
		검색 <select id="category" name="category">
            	<option value="beverage" th:selected="${category} == 'beverage'">주류</option>
            	<option value="food" th:selected="${category} == 'food'">안주</option>
        	</select>
		<input type="search" name="searchWord" th:value="${searchWord}">
		<input type="button" value="검색" onclick="menuSearch()">
		</form>
	</section>
	<!-- 메뉴 리스트 -->
	<section>
		총 <span th:text="${navi.totalRecordsCount}"></span>개 검색되었습니다.
		<button onclick="addMenu()">추가</button>
		<div id="menuList"></div>
		
		<!-- 메뉴 추가 폼(추가버튼 클릭 시에만 보임) -->
		<div id="addMenuDiv" style="display:none;">
			<form id="addMenuForm" th:action="@{/corporate/store/addMenu}" method="post"
			enctype="multipart/form-data">
				카테고리<br>
				<select id="category" name="category">
		        	<option value="beverage" selected>주류</option>
		        	<option value="food">안주</option>
		    	</select><br>
				메뉴명<br>
				<input type="text" name="menuName"><br>
				설명<br>
		    	<input type="text" name="menuInfo"><br>
				가격<br>
		    	<input type="text" name="price"><br>
		    	이미지<br>
		    	<input type="file" name="originFilename"><br>
		    	<input type="hidden" name="storeCode" th:value="${storeCode}">
		    	
		    	<input type="reset" class="bottom" value="다시 쓰기">
		    	<input type="submit" value="저장" onclick="addSub()">
			</form>
		</div>
	</section>
	<!-- 페이지 넘버 -->
	<section>
		<div id="pagenum">
            <br>
            <!-- 페이지 이동 링크 -->
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a>
            
            <!-- numbers.sequence: 수열 만들어내기 -->
            <span th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
            	<th:block th:if="${counter == navi.currentPage}"></th:block>
					<a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
				<th:block th:if="${counter == navi.currentPage}"></th:block>
            </span>
            
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a>
            <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
        </div>
        <br>
	</section>
</main>
</body>
</html>