<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 페이지</title>
<!--
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/order.css">
  -->
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/order.css}">
<!-- thymeleaf -->
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	let memberId = $('#memberId').val();
	let storeCode = $('#storeCode').text();
	let orderCount = parseInt($('#orderCount_' + menuNum).text());
	let menuNum;
	let memberRole = $('#memberRole').html();
	let category;

	//전체 목록 받아오기
	function allList(){
		storeCode = $('#storeCode').text();
		
		$.ajax({
			url: "menu",
			type: "post",
			dataType: "json",
			data: {storeCode: storeCode},
			success: function(list){
				menuList(list);
			},
			error: function(){
				alert('error');
			}
		});
	}
	//호출
	allList();
	
	/**햄버거 메뉴*/
	//햄버거 메뉴 숨기기
	$('#hbgMenu').hide();
	$('#closeBtn').hide();
	//햄버거 아이콘 누르면 메뉴 보여주기
	$('#hbgBtn').click(function(){
		alert('햄버거 버튼 클릭됨.');
		$('#hbgBtn').hide();
		$('#closeBtn').show();
		$('#hbgMenu').show();
	});
	//close 버튼 누르면 메뉴 감추기
	$('#closeBtn').click(function(){
		alert('닫기 버튼 클릭됨.');
		$('#closeBtn').hide();
		$('#hbgMenu').hide();
		$('#hbgBtn').show();
	});
	


	//메뉴 리스트 출력
	function menuList(list){
		let str = '<table>';
		$(list).each(function(i,item){
			let fileName = item.savedFilename;
			menuNum = item.menuNum;
			orderCount = $('#orderCount_' + menuNum).text();
			category = item.category;
			let src;
			
			if(category === 'beverage'){
				src = '/FitTail/image/cocktails/';
			}
			else src = '/FitTail/image/menu/';
			
			str += '<tr>';
			//누르면 장바구니 추가
			str += '<td rowspan="3"><a href="#" onclick="addCart('+ menuNum + ')"><img src="'+ src
					+ fileName + '"></a></td>';
			str += `<td><a href="#" onclick="count('plus',${menuNum},${orderCount})">+</a></td></tr>`;
			str += '<tr><td id="orderCount_' + menuNum + '">0</td></tr>';
			str += `<tr><td><a href="#" onclick="count('minus',${menuNum},${orderCount})">-</a></td></tr>`;
			str += '<tr><td>' + item.menuName + '</td>';
			str += '<td rowspan="2"><a href="#" onclick="addCart('+ menuNum + ')">카트에 담기</a></td></tr>';
			str += '<tr><td>' + item.price + '</td>';
			str += '<tr><td id="menuNum_' + menuNum + '" style="display:none;">' + menuNum + '</td>';
		});
		str += '</table>';
		$('#menuList').html(str);
	}
	
	/**주문 수량 증감*/
	function count(type, menuNum, orderCount){
		//더하기, 빼기
		if(type === 'plus' && orderCount < 11) {
			orderCount = parseInt(orderCount) + 1;  
	  	}else if(type === 'minus' && orderCount > 0) {
	  		orderCount = parseInt(orderCount) - 1;
	  	}else {
			alert('주문 수량을 확인해주세요.');
			return false;
		}
		
		//결과 출력
	  	$("#orderCount_" + menuNum).text(orderCount);
		return orderCount;
	}
	
	//추천 메뉴 목록 가져오기
	function getRecMenu(){
		if(memberRole === 'ROLE_PERSONAL'){
			$.ajax({
				url: "recommendList",
				type: "post",
				data: {storeCode: storeCode},
				dataType: "json",
				success: function(list){
					recMenuList(list);
				},
				error: function(){
					alert('error');
				}
			});	
		}
	}

	//추천 메뉴 리스트 출력
	function recMenuList(list){
		//추천 타이틀, 키워드 표시
		let str =
		`<div><p><span>memberId</span>님을 위한 추천 상품</p>
		#<span th:text="${cocktailTaste}"></span>
		#<span th:text="${cocktailFlavor}"></span><br></div>`
		
		$(list).each(function(i,item){
			let menuNum = item.menuNum;
			let fileName = item.savedFilename;
			let src;
			
			if(category === 'beverage'){
				src = '/FitTail/image/cocktails/';
			}
			else src = '/FitTail/image/menu/';
			
			str += '<table><tr>';
			str += '<td><a href="#" onclick="addCart('+ menuNum + ')"><img src="' + src + fileName + '"></a></td>';
			str += '<td>' + item.menuName + '</td>';
			str += '<td>' + item.price + '</td>';
			str += '</tr>';
		});
		str += '</table>';
		$('#recommendList').html(str);
	}

	//카테고리별로 메뉴 보기
	function menuCategory(category){
		$.ajax({
			url: "menuCategory",
			type: "post",
			data: {category : category},
			dataType: "json",
			success: function(list){
				menuList(list);
			},
			error: function(){
				alert('error');
			}
		});
	}

	//카트에 담기
	function addCart(menuNum){
		//param에 보내야 될 값들 담아주기
		let param = {
				storeCode : storeCode,
				menuNum :  menuNum,
				orderCount : orderCount
		}
		
		if(confirm('장바구니에 추가하시겠습니까?')){
			alert("addCart 함수 호출");
			$.ajax({
				url: "addToCart",
				type: "get",
				data: param,
				success: function(list){
					alert('카트에 메뉴가 담겼습니다.');
					menuList(list);
				},
				error: function(){
					alert('error');
				}
			});
		};
	}

	function loadCart(){
		let option = "width=100%,height=100%,top=100,left=500,location=no,scrollbars=no";
		window.open("cart", "cartPopUp", option);
	}
});
</script>
</head>
<body>
	<!-- 메인 시작 -->
 	<main>
 		<nav>
 			<div id="hbgBar">
 				<div id="btn">
	 				<img id="hbgBtn" th:src="@{/image/hbg_icon.png}" width="25px" alt="햄버거메뉴아이콘">
 					<img th:src="@{/image/logo_title.png}" alt="logo">
 				</div>
	 			<div id="hbgMenu">
		 				<img id="closeBtn" th:src="@{/image/close.png}" width="25px" alt="닫기 버튼">
	 				<ul>
	 					<li><a th:href="@{/corporate/order/callStaff}">직원 호출</a></li>
	 					<li><a th:href="@{/corporate/order/login}">이 페이지에서 나가기</a></li>
	 				</ul>
	 			</div>
 			</div>
 			<div id="navBar">
	 			<p>테이블 9</p>
	 			<span><a th:href="|javascript:menuCategory('bevarage')|">주류</a></span>
	 			<span><a th:href="|javascript:menuCategory('food')|">안주류</a></span>
	 			<span><a th:href="|javascript:menuCategory('side')|">사이드</a></span>
 			</div>
 		</nav>
 		<section>
 			<!-- storeCode, memberId, orderCode, memberRole -->
 			<span id="storeCode" th:text="${storeCode}" style="display:none;"></span>
 			<span id="memberId" th:text="${memberId}" style="display:none;"></span>
 			<span id="orderCode" th:text="${orderCode}" style="display:none;"></span>
 			<span id="memberRole" th:text="${memberRole}" style="display:none;"></span>
			<br>
			<!-- 추천 메뉴 출력 -->
			<div id="recommendList"></div>
 		</section>
 		<hr><br>
 		<section>
	 		<p>전체상품</p>
	 		<!-- 전체 메뉴 출력 -->
	 		<div id="menuList"></div><br>
 		</section>
 		<section id="bottom">
 			<div id="bottomTab">
 				<a th:href="@{/corporate/order/orderList}"><button>주문 내역</button></a>
 				<a th:href="@{/corporate/order/payment}"><button>결제하기</button></a>
 				<a href="javascript:loadCart()" target="_self"><button>장바구니</button></a>
 			</div>
 		</section>
	</main>
	<footer>
	</footer>
</body>
</html>