<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 페이지</title>
<!-- 
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/order.css">
 -->
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/order.css}">
<!-- thymeleaf -->
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	allList();
	
	let memberId = $('#memberId').val();
	let storecode;
	let menuNum; 
	let orderCount;
	let memberRole = $('#memberRole').html();

	//전체 목록 받아오기
	function allList(){
		$.ajax({
			url: "menu",
			type: "post",
			dataType: "json",
			data: {storeCode: storeCode},
			success: function(list){
				let str = menuList(list);
				$('#menuList').html(str);
				alert(memberRole);
			},
			error: function(){
				alert('error');
			}
		});
	}
	
	//메뉴 리스트 출력
	function menuList(list){
		let fileName = item.savedFilename;
		
		let str = '<table>';
		$(list).each(function(i,item){
			menuNum = $('#menuNum').val();
			storecode = $('#storecode').val();
			orderCount = $('#orderCount').val();
			
			str += '<tr>';
			//누르면 장바구니 추가
			str += `<td rowspan="3"><a href="|javascript:addCart('menuNum')|"><img src="/FitTail/image/menu/`+
					fileName + `></a></td>`;
			str += `<td><a href="|javascript:count('plus')|">+</a></td></tr>`;
			str += '<tr><td id="orderCount">1</td></tr>';
			str += `<tr><td><a href="|javascript:count('minus')|">-</a></td></tr>`;
			str += '<tr><td>' + item.menuName + '</td>';
			str += `<td rowspan="2"><a href="|javascript:addCart('menuNum')|">카트에 담기</a></td></tr>`;
			str += '<tr><td>' + item.price + '</td>';
			str += '<tr><td id="menuNum" style="display:none;">' + item.menuNum + '</td>';
			str += '<tr><td id="storeCode" style="display:none;">' + item.storeCode + '</td>';
		});
		str += '</table>';
		return str;
	}
	
	/**주문 수량 증감*/
	function count(type){
		let orderCount = document.getElementById('orderCount').innerText;
		
		//더하기, 빼기
		if(type === 'plus' && orderCount < 11) {
			orderCount = parseInt(headnum) + 1;  
	  	}else if(type === 'minus' && orderCount > 1) {
	  		orderCount = parseInt(headnum) - 1;
	  	}else {
			alert('주문 수량을 확인해주세요.');
			return false;
		}
		
		//결과 출력
	  	$("#orderCount").text(orderCount);
	}
	
	//햄버거 메뉴 숨기기
	$('#hbgMenu').hide();
	//햄버거 아이콘 누르면 메뉴 보여주기
	$('#hbgBtn').click(function(){
		console.log('햄버거 버튼 클릭됨.');
		$('#hbgMenu').animate({width: "toggle"},800);
	});
	//close 버튼 누르면 메뉴 감추기
	$('#closeBtn').click(function(){
		console.log('닫기 버튼 클릭됨.');
		$('#hbgMenu').fadeOut();
		$('#hbgMenu').animate({width: "toggle"},800);
	});
});

//추천 메뉴 목록 가져오기
function getRecMenu(){
	//if(memberRole){
		
	//}
	$.ajax({
		url: "recommendList",
		type: "post",
		data: {storeCode: storeCode},
		dataType: "json",
		success: function(list){
			recMenuList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//추천 메뉴 리스트 출력
function recMenuList(list){
	//추천 타이틀, 키워드 표시
	let str =
	`<div><p><span>memberId</span>님을 위한 추천 상품</p>
	#<span th:text="${taste.cocktailTaste}"></span>
	#<span th:text="${taste.cocktailFlavor}"></span><br></div>`
	
	$(list).each(function(i,item){
		str += '<table><tr>';
		str += '<td><a>' + item.savedFilename + '</a></td>';
		str += '<td>' + item.menuName + '</td>';
		str += '<td>' + item.price + '</td>';
		str += '</tr>';
	});
	str += '</table>';
	$('#recommendList').html(str);
}

//카테고리별로 메뉴 보기
function menuCategory(category){
	$.ajax({
		url: "menuCategory",
		type: "post",
		data: {category : category},
		dataType: "json",
		success: function(list){
			getList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//카트에 담기
function addCart(menuNum){
	//param에 보내야 될 값들 담아주기
	let param = {
			memberId : memberId,
			storecode : storecode,
			menuNum :  menuNum,
			orderCount : orderCount,
			orderCode : orderCode
	}
	
	if(confirm('장바구니에 추가하시겠습니까?')){
		
		$.ajax({
			url: "addToCart",
			type: "get",
			data: param,
			dataType: "json",
			success: function(list){
				getList(list);
			},
			error: function(){
				alert('error');
			}
		});
	};
}

function loadCart(){
	let option = "width = 20%, height = 100%, top = 100, left = 500, location = no, scrollbars = no"
	window.open("cart", "cartPopUp", option);
}
</script>
</head>
<body>
	<!-- 메인 시작 -->
 	<main>
 		<nav>
 			<div id="hbgBar">
 				<div id="btn">
	 				<img id="hbgBtn" th:src="@{/image/hbg_icon.png}" width="25px" alt="햄버거메뉴아이콘">
 					<img th:src="@{/image/logo_title.png}" alt="logo">
 				</div>
	 			<div id="hbgMenu">
	 				<div onclick="history.back();">
		 				<img id="closeBtn" th:src="@{/image/close.png}" width="25px" alt="닫기 버튼">
		 			</div>
	 				<ul>
	 					<li><a th:href="@{/corporate/order/callStaff}">직원 호출</a></li>
	 					<li><a th:href="@{/corporate/order/login}">이 페이지에서 나가기</a></li>
	 				</ul>
	 			</div>
 			</div>
 			<div id="navBar">
	 			<p>테이블 9</p>
	 			<span><a th:href="|javascript:menuCategory('bevarage')|">주류</a></span>
	 			<span><a th:href="|javascript:menuCategory('food')|">안주류</a></span>
 			</div>
 		</nav>
 		<section>
 			<!-- memberId, orderCode, memberRole -->
 			<span id="memberId" th:text="${memberId}" style="display:none;"></span>
 			<span id="orderCode" th:text="${orderCode}" style="display:none;"></span>
 			<span id="memberRole" th:text="${memberRole}" style="display:none;"></span>
			
			<!-- 추천 메뉴 출력 -->
			<div id="recommendList"></div>
 		</section>
 		<hr><br>
 		<section>
	 		<p>전체상품</p>
	 		<!-- 전체 메뉴 출력 -->
	 		<div id="menuList"></div><br>
 		</section>
 		<section id="bottom">
 			<div id="bottomTab">
 				<a th:href="@{/corporate/order/orderList}"><button>주문 내역</button></a>
 				<a th:href="@{/corporate/order/payment}"><button>결제하기</button></a>
 				<a href="javascript:loadCart()" target="_self"><button>장바구니</button></a>
 			</div>
 		</section>
	</main>
	<footer>
	</footer>
</body>
</html>