<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 페이지</title>
<!--  -->
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/order.css">

<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/order.css}">
<!-- thymeleaf -->
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	let memberId = $('#memberId').val();
	let storeCode = $('#storeCode').text();
	let orderCount;
	let menuNum;
	let memberRole = $('#memberRole').html();
	let category;
	let currentOrderCount;

	//호출
	allList();
	getRecMenu();
	
	/**햄버거 메뉴*/
	//햄버거 메뉴 숨기기
	$('#hbgMenu').hide();
	$('#closeBtn').hide();
	//햄버거 아이콘 누르면 메뉴 보여주기
	$('#hbgBtn').click(function(){
		$('#hbgBtn').hide();
		$('#closeBtn').show();
		$('#hbgMenu').show();
	});
	//close 버튼 누르면 메뉴 감추기
	$('#closeBtn').click(function(){
		$('#closeBtn').hide();
		$('#hbgMenu').hide();
		$('#hbgBtn').show();
	});
	
});

//전체 목록 받아오기
function allList(){
	storeCode = $('#storeCode').text();
	
	$.ajax({
		url: "menu",
		type: "post",
		dataType: "json",
		data: {storeCode: storeCode},
		success: function(list){
			menuList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//메뉴 리스트 출력
function menuList(list){
	let str = '<table class="menulist">';
	$(list).each(function(i,item){
		let fileName = item.savedFilename;
		menuNum = item.menuNum;
		orderCount = parseInt($('#orderCount_' + menuNum).html() || 0);
		category = item.category;
		let src;
		
		if(category === 'beverage'){
			src = '/FitTail/image/cocktails/'+fileName;
		}
		else src = '/FitTail/image/menu/'+fileName;
		
		str += '<tr>';
		//누르면 장바구니 추가
		if(fileName){
			str += `<td rowspan="3"><a href="#" onclick="addCart(${menuNum},${orderCount})"><img src="${src}"></a></td>`;
		}
		str += `<td><a href="#" onclick="count('plus',${menuNum},${orderCount})"class="p">+</a></td></tr>`;
		str += '<tr><td id="orderCount_' + menuNum + '" class="menunum">0</td></tr>';
		str += `<tr><td><a href="#" onclick="count('minus',${menuNum},${orderCount})"class="m">-</a></td></tr>`;
		str += '<tr><td class="name">' + item.menuName + '</td>';
		str += '<td rowspan="2"><button onclick="addCart('+ menuNum + ',' + orderCount + ')" value="카트에 담기" class="cart">카트에 담기</button></td></tr>';
		str += '<tr><td class="price">' + item.price + '</td>';
		str += '<tr><td id="menuNum_' + menuNum + '" style="display:none;" class="num">' + menuNum + '</td>';
	});
	str += '</table>';
	$('#menuList').html(str);
}
	
/**주문 수량 증감*/
function count(type, menuNum, orderCount){
	currentOrderCount = parseInt($('#orderCount_' + menuNum).html());
	//더하기, 빼기
	if(type === 'plus' && currentOrderCount < 11) {
		currentOrderCount = parseInt(currentOrderCount) + 1;  
  	}else if(type === 'minus' && currentOrderCount > 0) {
  		currentOrderCount = parseInt(currentOrderCount) - 1;
  	}else {
		alert('주문 수량을 확인해주세요.');
		return false;
	}
		
	//결과 출력
  	$("#orderCount_" + menuNum).text(currentOrderCount);
}

//추천 메뉴 목록 가져오기
function getRecMenu(){
	if(memberRole === 'ROLE_PERSONAL'){
		alert('추천 목록 가져오겟습니도');
		$.ajax({
			url: "recommendList",
			type: "post",
			data: {storeCode: storeCode},
			dataType: "json",
			success: function(list){
				alert(JSON.stringify(list));
				recMenuList(list);
			},
			error: function(){
				alert('error');
			}
		});	
	}
}

//추천 메뉴 리스트 출력
function recMenuList(list){
	//추천 타이틀, 키워드 표시
	let str =
	'<div><p><span>memberId</span>님을 위한 추천 상품</p>' 
	+ '#<span th:text="${cocktailTaste}"></span>'
	+'#<span th:text="${cocktailFlavor}"></span><br></div>'
	
	$(list).each(function(i,item){
		let menuNum = item.menuNum;
		let fileName = item.savedFilename;
		category = item.category;
		orderCount = parseInt($('#orderCount_' + menuNum).html() || 0);
		let src;
		
		if(category === 'beverage'){
			src = '/FitTail/image/cocktails/';
		}
		else src = '/FitTail/image/menu/';
		
		str += '<table><tr>';
		if(fileName){
			str += '<td><a href="#" onclick="addCart('+ menuNum + ',' + orderCount + ')"><img src="' + src + fileName + '"></a></td>';
		}
		str += '<td>' + item.menuName + '</td>';
		str += '<td>' + item.price + '</td>';
		str += '</tr>';
	});
	str += '</table>';
	$('#recommendList').html(str);
}

//카테고리별로 메뉴 보기
function menuCategory(category){
	$.ajax({
		url: "menuCategory",
		type: "post",
		data: {category : category},
		dataType: "json",
		success: function(list){
			menuList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//카트에 담기
function addCart(menuNum){
	let con = confirm('장바구니에 추가하시겠습니까?');
	currentOrderCount = parseInt($('#orderCount_' + menuNum).html());
	//param에 보내야 될 값들 담아주기
	let param = {
			menuNum :  menuNum,
			orderCount : currentOrderCount
	}
	
	if(con && currentOrderCount == 0) alert('주문 수량을 선택해주세요.');
	else if(con && currentOrderCount != 0){
		alert("addCart 함수 호출");
		$.ajax({
			url: "addToCart",
			type: "get",
			data: param,
			success: function(){
				alert('카트에 메뉴가 담겼습니다.');
				allList();
			},
			error: function(){
				alert(currentOrderCount);
			}
		});
	};
}

function loadCart(){
	let option = "width=500,height=700,top=100,left=200,location=no,scrollbars=no";
	window.open("cart", "cartPopUp", option);
}
</script>
</head>
<body>
	<!-- 메인 시작 -->
 	<main>
 		<nav>
 			<div id="hbgBar">
 				<div id="btn">
	 				<img id="hbgBtn" th:src="@{/image/hbg_icon.png}" width="25px" alt="햄버거메뉴아이콘">
 					<img th:src="@{/image/logo_title.png}" alt="logo">
 				</div>
	 			<div id="hbgMenu">
		 				<img id="closeBtn" th:src="@{/image/close.png}" width="25px" alt="닫기 버튼">
	 				<ul>
	 					<li><a th:href="@{/corporate/order/callStaff}">직원 호출</a></li>
	 					<li><a th:href="@{/corporate/order/login}">이 페이지에서 나가기</a></li>
	 				</ul>
	 			</div>
 			</div>
 			<div id="navBar">
	 			<button onclick="menuCategory('beverage')" value="주류" class="1">주류</button>
	 			<button onclick="menuCategory('food')" value="안주류" class="2">안주류</button>
	 			<button onclick="menuCategory('side')" value="사이드" class="3">사이드</button>
 			</div>
 		</nav>
 		<section>
 			<!-- storeCode, memberId, orderCode, memberRole -->
 			<span id="storeCode" th:text="${storeCode}" style="display:none;"></span>
 			<span id="memberId" th:text="${memberId}" style="display:none;"></span>
 			<span id="orderCode" th:text="${orderCode}" style="display:none;"></span>
 			<span id="memberRole" th:text="${memberRole}" style="display:none;"></span>
			<br>
			<!-- 추천 메뉴 출력 -->
			<div id="recommendList"></div>
 		</section>
 		<hr><br>
 		<section>
	 		<!-- 전체 메뉴 출력 -->
	 		<div id="menuList"></div><br>
 		</section>
 		<section id="bottom">
 			<div id="bottomTab">
 				<a th:href="@{/corporate/order/orderList}"><button class="4">주문 내역</button></a>
 				<a th:href="@{/corporate/order/payment}"><button class="5">결제하기</button></a>
 				<a href="javascript:loadCart()" target="_self"><button class="6">장바구니</button></a>
 			</div>
 		</section>
	</main>
</body>
</html>