<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 내역</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	getPrice();
});

//가격 구하기
function getPrice(){
	let pricePerOne = $('#pricePerOne_' + menuNum).html();
	let orderCount = $('#orderCount_' + menuNum).html();
	let pricePerItem = parseInt(pricePerOne) * parseInt(orderCount);
	
	$('#price_' + menuNum).html(pricePerItem);
}
</script>
</head>
<body>
	<div>
		<p>주문 내역</p>
		<div th:each="list: ${list}">
			<span th:text="${list.menuNum}" style="display:none;"></span>
			<span id="'pricePerOne_' + ${menuNum}" th:text="${list.pricePerOne}" style="display:none;"></span>
			<span>메뉴</span>
			<span th:text="${list.menuName}"></span>
			<span>개수</span>
			<span id="'orderCount_' + ${menuNum}" th:text="${list.orderCount}"></span>
			<span>가격</span>
			<span id="'price_' + ${menuNum}"></span>
			
		</div>
		<p></p>
	</div>
</body>
</html>