<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 첫 페이지</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<link rel="stylesheet" th:href="@{/CSS/}">
</head>
<body>
	<main>
		<img th:src="@{/image/logo.png}" alt="logo">
	<!-- 내비게이션 -->
    <div id="navi" class="navi">
    	<img th:src="@{/image/logo44.png}" alt="logo" class="logo">
    </div>
    <div class="sec1">
      <div class="inner_body">
	      <form id="login" th:action="@{/member/login}" method="post">
	       <div class="input">
	         <input type="text" id="memberId" name="memberId" placeholder="아이디" required> <br>
	         <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호" required> <br>
	         <input type="submit" value="로그인">
	       </div>
	       </form>
          
          <!-- SNS 로그인 BT -->
          <div class="loginBT">
            <div>
              <p>SNS 로그인</p>
            </div>
            <div>
              <a href="/FitTail/oauth2/authorization/google">
                <img th:src="@{/image/sns_googleIcon.png}" alt="sns_icon1">
              </a>
              <img th:src="@{/image/sns_naverIcon.svg}" alt="sns_icon2">
              <img th:src="@{/image/sns_facebookIcon.png}" alt="sns_icon3">
            </div>
          </div>
        </div>
      </div>
      <!-- sec1 끝 -->
      <div class="sec2">
        <p><a th:href="@{/member/findId}">아이디 찾기 &nbsp;</a></p>
        <p><a th:href="@{/member/resetPw}">| 비밀번호 찾기 &nbsp;</a></p>
        <p><a th:href="@{/member/join}">| 회원가입</a></p>
      </div>
      <!-- sec2 끝 -->
	<a th:href="@{/corporate/order/orderMenu}">비회원 주문</a>
	</main>
</body>
</html>