<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>주문 내역</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	
	
});

//가격
let pricePerItem = parseInt(pricePerOne) * parseInt(orderCount);
</script>
</head>
<body>
	<div>
		<p>주문 내역</p>
		<table th:each="list: ${list}">
			<tr>
				<th>메뉴명</th>
				<th>개수</th>
				<th>가격</th>
			</tr>
			<tr>
				<td th:text="${list.menuName}"></td>
				<td th:text="${list.orderCount}"></td>
				<td th:text="${list.menuName}"></td>
			</tr>
		</table>
		
		<p></p>
	</div>
</body>
</html>