<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>예약 수기 입력</title>
<link rel="stylesheet" href="../../static/CSS/corporate/reset.css">
<link rel="stylesheet" href="../../static/CSS/corporate/reserveInput.css">
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/corporate/reset.css}">
<link rel="stylesheet" th:href="@{/CSS/corporate/reserveInput.css}">
<!-- thymeleaf -->

<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function () {

});

/**인원수 선택 증감*/
function count(type)  {
  //결과를 표시할 element
  let headnum = $('#headnum').html();
  
  //더하기/빼기
  if(type === 'plus' && headnum < 5) {
	  headnum = parseInt(headnum) + 1;  
  }else if(type === 'minus' && headnum > 1) {
	  headnum = parseInt(headnum) - 1;
  }else {
		alert('인원수를 확인해주세요.');
		return false;
	}
  
  //결과 출력
  $("#headnum").text(headnum);
  $("#reserveHead").val(headnum);
}

/**라디오버튼 유효성 검사*/
function radioChk(){
	//개인 정보 수집 및 제공 동의 유무
	if($("input:radio[name='agree']").is(":checked") == false){
        alert('개인정보 수집 및 이용 미동의 시 참여 불가');
        $('#agree').focus();  //해당 라디오버튼으로 포커스 이동.
        return false;
    }
	else return true;
}

/**예약자 이름 유효성 검사*/
function nameChk(){
	let name = $('#reservationName').val();
	let nameLength = name.length;
	
	if(nameLength < 2 ||  nameLength > 9){
		$('#errMsg1').html('이름은 2-10자로 입력해주세요.');
		return false;
	}
	else{
		$('#errMsg1').html('');
		return true;
	}
}

/**예약자 폰번호 유효성 검사*/
function phoneChk(){
	let phone = $('#reservationPhone').val();
	let regPhn = /^010[0-9]{4}[0-9]{4}$/;;
	
	if(!regPhn.test(phone)){
        $('#errMsg2').html('전화번호 형식이 올바르지 않습니다.');
        return false;
    }
    else{
        $('#errMsg2').html('');
      	//하이픈을 추가하여 전화번호 형식으로 변환
        phone = phone.replace(/^(\d{3})(\d{4})(\d{4})$/, '$1-$2-$3');
        $('#phone').val(phone);
        return true;
    }
}

/**예약 폼 유효성 검사 */
function reserveValid(){
	if (!nameChk() || !radioChk() || !phoneChk()){
		return false;
	}
	else return true;
}

/**예약 폼 제출*/
function reserveSub(){
	let reserveTime = $('#reserveTime').val().toString();
	$('#reserveTime2').val(reserveTime);

	if(!reserveValid){
		alert('오류입니다.');
		return false;		
	}
	else if(reserveValid){
		return true;
	}
}

</script>
<body>
	<div id="tab_reserve">
	<!-- 날짜 선택(캘린더),시간 선택, 인원 선택, 예약자 정보 출력 -->
	  <form id="reserveForm" th:action="@{/corporate/store/reserveInput}" method="post" onsubmit="reserveSub()">
	    <div class="row">
	      <div class="col sub-heading">
	        <p>날짜 선택</p>
	        <input type="date" name="reserveDate" required="required">
	      </div>
	      <div class="col sub-heading">
	        <p>시간 선택</p>
	        <input type="time" id="reserveTime" required="required">
	        <input type="hidden" id="reserveTime2" name="reserveTime">
	      </div>
	    </div>
	    <div class="row">
	      <div class="col sub-heading">
	        <p>인원 선택</p>
	        <div id="head_select">
	          <p>방문하시는 인원을 선택해주세요.</p>
	          <input type="button" onclick="count('minus')" value="-">
	          <span id="headnum">1</span>
	          <input type="hidden" id="reserveHead" name="reserveHead">
	          <input type="button" onclick="count('plus')" value="+">
	        </div>
	      </div>
	      <div class="col sub-heading">
	        <p>예약자 정보</p>
	        <input type="text" id="reservationName" name="reservationName" placeholder="예약자" 
	        onkeyup="nameChk()" required="required"><br>
	        <p id="errMsg1" class="error-message"></p>
	        <input type="text" id="reservationPhone" name="reservationPhone" placeholder="연락처(- 없이)" 
	        onkeyup="phoneChk()" required="required"><br>
	        <p id="errMsg2" class="error-message"></p>
	        <input type="text" name="request" placeholder="요청 사항"><br>
	        <label>개인 정보 수집, 제공 동의<input type="radio" name="agree" id="agree"></label>
	      </div>
	    </div>
	    <input type="hidden" name="storeCode" th:value="${storeCode}">
	    <br>
	    <input type="submit" value="예약 신청하기">
	  </form>
	</div>
</body>
</html>