<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>비밀번호 재설정</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
//비밀번호 유효성 플래그 변수
let pwValid = false;

//비밀번호 유효성 검사
function pwChk(){
	let pw1 = $('#memberPw').val();
	let pw2 = $('#memberPw2').val();
	let regPw =  /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
	
	if(!regPw.test(pw1)) {
	    $('#errMsg1').html('비밀번호는 8-15자리 문자/숫자/특수문자를 포함해야 합니다.');
	    pwValid = false;
	  } else {
	    $('#errMsg1').html('');
	    pwValid = true;
	  }

	 if(pw1 !== pw2) {
	    $('#errMsg2').html('비밀번호가 일치하지 않습니다.');
	    pwValid = false;
	  } else {
	    $('#errMsg2').html('');
	    pwValid = true;
	  }
}

//유효성검사 만족 시 폼 제출
function formSubmit() {

	if(!pwValid) {
		return false; //유효성 검사에 실패하면 false 반환
	}
	else if(pwValid) return true;
}
</script>
</head>
<body>
    <!--타이틀-->
    <div>
      <img src="" alt="logo">
    </div>
    <div>
        <div>
          <h1>비밀번호 재설정</h1>
          <form id="resetPwForm" th:action="@{/corporate/member/resetPw}" method="post" onsubmit="formSubmit()">
            <table>
                <tr>
                    <th>새 비밀번호</th>
                    <td>
                    <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호를 입력해주세요." required="required"/>
                    <p id="errMsg1"></p>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                    <input type="password" id="memberPw2" placeholder="비밀번호를 다시 입력해주세요." required="required"/>
                    <p id="errMsg2"></p>
                    </td>
                </tr>
              </table>
	        <input type="submit" value="제출" />
            </form>
        </div>
    </div>
</body>
</html>