<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>예약 수기 입력</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function () {

});

let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
let today = new Date();     // 페이지를 로드한 날짜를 저장
today.setHours(0,0,0,0);    // 비교 편의를 위해 today의 시간을 초기화

//달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
function buildCalendar(){
	
let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

let tbody_Calendar = document.querySelector(".Calendar > tbody");
document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

   while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
       tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
   }

   let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

   for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
       let nowColumn = nowRow.insertCell();        // 열 추가
   }

   for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

       let nowColumn = nowRow.insertCell();        			 // 새 열을 추가하고
       nowColumn.innerText = leftPad(nowDay.getDate());      // 추가한 열에 날짜 입력

   
       if (nowDay.getDay() == 0) {                 // 일요일인 경우 글자색 빨강으로
           nowColumn.style.color = "#DC143C";
       }
       if (nowDay.getDay() == 6) {                 // 토요일인 경우 글자색 파랑으로 하고
           nowColumn.style.color = "#0000CD";
           nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
       }
       if (nowDay < today) {                       // 지난날인 경우
           nowColumn.className = "pastDay";
       }
       else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
           nowColumn.className = "today";
           nowColumn.onclick = function () { choiceDate(this); }
       }
       else {                                      // 미래인 경우
           nowColumn.className = "futureDay";
           nowColumn.onclick = function () { choiceDate(this); }
       }
   }
}

	// 날짜 선택
	function choiceDate(nowColumn) {
	    if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
	        document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
	    }
	    nowColumn.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
	}
	
	// 이전달 버튼 클릭
	function prevCalendar() {
	    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
	    buildCalendar();    // 달력 다시 생성
	}
	// 다음달 버튼 클릭
	function nextCalendar() {
	    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
	    buildCalendar();    // 달력 다시 생성
	}
	
	// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
	function leftPad(value) {
	    if (value < 10) {
	        value = "0" + value;
	        return value;
	    }
   	return value;
}

/**인원수 선택 증감*/
function count(type)  {
  //결과를 표시할 element
  let headnum = document.getElementById('headnum').innerText;
  
  //더하기/빼기
  if(type === 'plus' && headnum < 5) {
	  headnum = parseInt(headnum) + 1;  
  }else if(type === 'minus' && headnum > 0) {
	  headnum = parseInt(headnum) - 1;
  }else {
		alert('인원수를 확인해주세요.');
		return false;
	}
  
  //결과 출력
  $("#headnum").text(headnum);
  $("#reserveHead").val(headnum);
}

/**예약 폼 유효성 검사 */
function reserveValid(){
	//개인 정보 수집 및 제공 동의 유무
	if($("input:radio[name='agree']").is(":checked") == false){
        alert('개인정보 수집 및 이용 미동의 시 참여 불가');
        $('#agree').focus();  //해당 라디오버튼으로 포커스 이동.
        return false;
    }
	else{
	    return true;
	}
}

/**예약 폼 제출*/
function reserveSub(){
	
	$.ajax({
		url: 'reserveInput',
		type: 'post',
		data: $('#reserveForm').serialize(),		
		success: function(){
			alert('저장되었습니다.');
		},
		error: function(e){
			alert(e.statusText);
		}
	});
}

</script>
<body>
	<div id="tab_reserve">
				<!-- 날짜 선택(캘린더),시간 선택, 인원 선택, 예약자 정보 출력 -->
				<form id="reserveForm" th:action="@{/member/reserve}" method="post" onsubmit="reserveSub()">
					<p>날짜 선택</p>
					<table class="Calendar">
				        <thead>
				            <tr>
				                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
				                <td colspan="5">
				                    <span id="calYear"></span>년
				                    <span id="calMonth"></span>월
				                </td>
				                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
				            </tr>
				            <tr>
				                <td>일</td>
				                <td>월</td>
				                <td>화</td>
				                <td>수</td>
				                <td>목</td>
				                <td>금</td>
				                <td>토</td>
				            </tr>
				        </thead>
				        <tbody>
				        </tbody>
    				</table>
					<p>시간 선택</p>
					<div id="timeContainer"></div>
					<div id="head_count">
						<p>인원 선택</p>
						<div id="head_select">
							<p>1~5명만 선택 가능합니다.</p>
							<p>방문하시는 인원을 선택해주세요.</p>
							<input type="button" onclick="count('minus')" value="-"></input>
							<span id="headnum">0</span>
							<input type="hidden" id="reserveHead" name="reserveHead"></input>
							<input type="button" onclick="count('plus')" value="+"></input>
						</div>
					</div>
					<div id="reserve_info">
					<p>예약자 정보</p>
						<input type="text" name="reservationName" placeholder="예약자"><br>
						<input type="text" name="reservationPhone" placeholder="연락처"><br>
						<input type="text" name="request" placeholder="요청 사항"><br>
						<label>개인 정보 수집, 제공 동의<input type="radio" name="agree" id="agree"></input></label>
					</div>
					<br>
					<input type="submit" value="예약 신청하기">
				</form>
				
				
				</div>
</body>
</html>