<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>예약 수기 입력</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function () {

});

/**인원수 선택 증감*/
function count(type)  {
  //결과를 표시할 element
  let headnum = document.getElementById('headnum').innerText;
  
  //더하기/빼기
  if(type === 'plus' && headnum < 5) {
	  headnum = parseInt(headnum) + 1;  
  }else if(type === 'minus' && headnum > 0) {
	  headnum = parseInt(headnum) - 1;
  }else {
		alert('인원수를 확인해주세요.');
		return false;
	}
  
  //결과 출력
  $("#headnum").text(headnum);
  $("#reserveHead").val(headnum);
}

/**예약 폼 유효성 검사 */
function reserveValid(){
	//개인 정보 수집 및 제공 동의 유무
	if($("input:radio[name='agree']").is(":checked") == false){
        alert('개인정보 수집 및 이용 미동의 시 참여 불가');
        $('#agree').focus();  //해당 라디오버튼으로 포커스 이동.
        return false;
    }
	else{
	    return true;
	}
}

/**예약 폼 제출*/
function reserveSub(){
	let reserveTime = $('#reserveTime').val().toString();
	$('#reserveTime2').val(reserveTime);

	if(!reserveValid){
		alert('오류입니다.');
		return false;		
	}
	else if(reserveValid){
		return true;
	}
}

</script>
<body>
	<div id="tab_reserve">
				<!-- 날짜 선택(캘린더),시간 선택, 인원 선택, 예약자 정보 출력 -->
				<form id="reserveForm" th:action="@{/corporate/store/reserveInput}" method="post" onsubmit="reserveSub()">
					<p>날짜 선택</p>
					<input type="date" name="reserveDate">
					<p>시간 선택</p>
					<div id="timeContainer">
						<input type="time" id="reserveTime">
						<input type="hidden" id="reserveTime2" name="reserveTime">
					</div>
					<div id="head_count">
						<p>인원 선택</p>
						<div id="head_select">
							<p>1~5명만 선택 가능합니다.</p>
							<p>방문하시는 인원을 선택해주세요.</p>
							<input type="button" onclick="count('minus')" value="-"></input>
							<span id="headnum">0</span>
							<input type="hidden" id="reserveHead" name="reserveHead"></input>
							<input type="button" onclick="count('plus')" value="+"></input>
						</div>
					</div>
					<div id="reserve_info">
					<p>예약자 정보</p>
						<input type="text" name="reservationName" placeholder="예약자" required="required"><br>
						<input type="text" name="reservationPhone " placeholder="연락처" required="required"><br>
						<input type="text" name="request" placeholder="요청 사항"><br>
						<label>개인 정보 수집, 제공 동의<input type="radio" name="agree" id="agree"></input></label>
					</div>
					<input type="hidden" name="storeCode" th:value="${storeCode}">
					<br>
					<input type="submit" value="예약 신청하기">
				</form>
				</div>
</body>
</html>