<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.cocktail.cocktail_platform.dao.CocktailDAO">
	
	<select id="search" parameterType="HashMap" resultType="Object">
		select
			*
		from
			<if test="category == 'cocktail'"> cocktails </if>
			<if test="category == 'store'"> storeInfo </if>
			<if test="category == 'ingredients'"> ingredients </if>
		where
			<if test="category == 'cocktail'"> cocktailName like '%' || #{searchWord} || '%' </if>
			<if test="category == 'store'"> storeName like '%' || #{searchWord} || '%' </if>
			<if test="category == 'ingredients'"> ingredientName like '%' || #{searchWord} || '%' </if>
		order by
			<if test="category == 'cocktail'"> cocktailCode </if>
			<if test="category == 'store'"> storeCode </if>
			<if test="category == 'ingredients'"> ingredientNum </if>
	</select>
	
	<select id="findCocktailByCode" parameterType="int" resultType="Cocktails">
		select
			cocktailCode
			, cocktailName
			, cocktailAlcohol
			, cocktailBase
			, <if test="ingredient1 != null">ingredient1,</if>
			<if test="ingredient2 != null">ingredient2,</if>
			<if test="ingredient3 != null">ingredient3,</if>
			<if test="ingredient4 != null">ingredient4,</if>
			cocktailTaste
			, cocktailFlavor
			, cocktailColor
			, savedFilename
		from
			cocktails
		where
			cocktailCode = #{cocktailCode}
	</select>
	
	<select id="getIngredientNameByCode" parameterType="int" resultType="String">
		select
			ingredientName
		from
			ingredients
		where
			ingredientNum = #{ingredientNum}
	</select>
	
	<select id="searchStore" parameterType="String" resultType="StoreInfo">
		select
			*
		from
			storeInfo
		where
			storeName like '%' || #{searchWord} || '%'
		order by
			storeCode
	</select>
	
	<select id="searchCocktail" parameterType="String" resultType="Cocktails">
		select
			*
		from
			cocktails
		where
			cocktailName like '%' || #{searchWord} || '%'
		order by
			cocktailCode
	</select>
	
	<select id="searchIngredient" parameterType="String" resultType="Ingredients">
		select
			*
		from
			ingredients
		where
			ingredientName like '%' || #{searchWord} || '%'
		order by
			ingredientNum
	</select>
	
</mapper>
