<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.cocktail.cocktail_platform.dao.OrderDAO">

	<select id="getOrderLists" parameterType="String" resultType="Order">
		select
			orderCode
			, storeCode
			, orderDate
			, memberId
			, totalPrice
			, menuList
			, orderState
		from
			order
		where
			memberId = #{memberId}
		order by
			orderDate desc
	</select>
	
	<select id="findOrderByOrdercode" parameterType="String" resultType="Order">
		select
			orderCode
			, storeCode
			, orderDate
			, memberId
			, totalPrice
			, menuList
			, orderState
		from
			order
		where
			orderCode = #{orderCode}
	</select>
	
	<select id="getOrdersByOrdercode" parameterType="String" resultType="OrderTemp">
		select
			orderCode
			, storeCode
			, orderDate
			, memberId
			, totalPrice
			, menuList
			, orderState
		from
			order
		where
			orderCode = #{orderCode}
		order by
			orderDate desc
	</select>
	
	<select id="getOrderListsByCode" parameterType="int" resultType="Order">
		select
			orderCode
			, storeCode
			, orderDate
			, memberId
			, totalPrice
			, menuList
			, orderState
		from
			order
		where
			storeCode = #{storeCode}
		order by
			orderDate desc
	</select>
	
	<insert id="makeNewOrder" parameterType="HashMap" useGeneratedKeys="true" keyProperty="orderCode">
    	insert into 
    		orders
    		(
       		 orderCode,
       		 storeCode,
       		 orderDate,
       		 memberId,
       		 totalPrice,
       		 menuList,
       		 orderState
    		)
    	values
    		(
       		to_char(sysdate, 'yyyymmdd') || order_seq.nextval || #{storeCode}
       		,#{storeCode}
       		,to_char(sysdate, 'yyyymmdd')
       		,#{memberId}
       		,#{totalPrice}
       		,#{menuList}
       		,#{orderState}
   	 		)
	</insert>
	
	<insert id="insertTemporderList" parameterType="OrderTemp">
		insert into
			orderTemp
				(tempOrderkey
				, orderCode
				, menuNum
				, menuName
				, pricePerOne
				, orderCount)
			values
				(#{tempOrderkey}
				, #{orderCode}
				, #{menuNum}
				, #{menuName}
				, #{pricePerOne}
				, #{orderCount})
	</insert>
	
	<update id="updateOrder" parameterType="Order">
		update 
			order
		set
			, orderDate = sysdate
			, totalPrice = #{totalPrice}
			, <if test="orderState != null and orderState != ''">
            orderState = #{orderState},
        	  </if>
		 	 menuList = #{menuList}
		where 
			storeCode = #{storeCode}
			and memberid = #{memberid}
	</update>
	
	<select id="getTemporderlistByCode" parameterType="int" resultType="OrderTemp">
		select
			tempOrderkey
			, orderCode
			, menuNum
			, menuName
			, pricePerOne
			, orderCount
		from
			orderTemp
		where
			storeCode = #{storeCode}
		order by
			orderDate desc
	</select>
	
	<select id="getMenulistByOrdercode" parameterType="String" resultType="Menu">
		select
			tempOrderkey
			, orderCode
			, menuNum
			, menuName
			, pricePerOne
			, orderCount
		from
			orderTemp
		where
			orderCode = #{orderCode}
		order by
			orderDate desc
	</select>
	
</mapper>
