	<!DOCTYPE mapper
        	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.platform.cocktail.cocktail_platform.dao.RecommendDAO">

	<select id="getTop3Cocktails" resultType="Menu">
 		select
 			c.cockailName as cocktailName
		from
			cocktails c
				left join
					orderTemp ot 
				on
					c.cockailName = ot.menuName
		group by
			c.cockailName
		order by
			sum(ot.orderCount) desc
	</select>
	 
	<select id="customizedRecommendation" parameterType="Taste" resultType="Menu">
		select
    		c.cocktailName
		from
    		cocktails c
		inner join
    		taste t
		on
    		c.cocktailTaste = #{cocktailTaste}
		or
    		c.cocktailFlavor = #{cocktailFlavor}
    	where
    		t.memberId = #{memberId}
    	order by
    		case
        		when
        			c.cocktailTaste = #{cocktailTaste}  and c.cocktailFlavor = #{cocktailFlavor} then 1
        		when
        			c.cocktailTaste = #{cocktailTaste}  or c.cocktailFlavor = #{cocktailFlavor} then 2
       				else 3
    	end
	</select>

	<!-- ㅇㅇ님과 비슷한 20대가 많이 찾아요 
	<sql id="AgeGroup20">
        select
            m.memberId,
            case
                when to_number(substr(m.birthday, 1, 4)) between extract(year from sysdate) - 29 and extract(year from sysdate) then '20대'
                else '기타'
            end as ageGroup,
            ot.menuName,
            ot.orderCount,
            row_number() over (partition by m.memberId order by ot.orderCount DESC) AS rn
        from member m
        join orderTemp ot on m.memberId = ot.memberId
        where to_number(substr(m.birthday, 1, 4)) between extract(year from sysdate) - 29 and extract(year from sysdate)
    </sql>
    <select id="ageRecommend" resultType="Menu">
        <include refid="AgeGroup20"/>
        select
            ageGroup,
            menuName,
            sum(orderCount) as totalOrderCount
        from AgeGroup20
        group by ageGroup, menuName
        order by totalOrderCount desc
    </select>
    -->
	
	<select id="weatherRecommend" resultType="Menu">
		select
			ot.menuName
  		from
  			orderTemp ot
       	inner join
       		menuPreference mp
       	on
       		ot.menuNum = mp.menuNum
 		where
 			mp.weather = #{weather}
 		group by
 			ot.menuName
 		order by
 			sum(ot.orderCount) desc
	</select>

	<select id="companionRecommend" resultType="Menu">
		select
			ot.menuName
  		from
  			orderTemp ot
       	inner join
       		menuPreference mp 
       	on
       		ot.menuNum = mp.menuNum
 		where
 			mp.companion = #{companion}
 		group by
 			ot.menuName
 		order by
 			sum(ot.orderCount) desc
	</select>

	<select id="eventRecommend" resultType="Menu">
		select
			ot.menuName
  		from
  			orderTemp ot
       	inner join
       		menuPreference mp 
       	on
       		ot.menuNum = mp.menuNum
 		where
 			mp.event = #{event}
 		group by
 			ot.menuName
 		order by
 			sum(ot.orderCount) desc
 		
	</select>
	
	<!-- <select id="recommendForMe" resultType="Menu">
    	select
        	menuName
        	, sum(orderCount) totalOrderCount
        	, dense_rank() over (order by sum(orderCount) desc) menuRank
    	from
        	orderTemp ot
        where
    		ot.memberId = #{memberId}
    	group by
        	menuName
    	order by
        	menuRank ascg
	</select> -->
	
	</mapper>