	<!DOCTYPE mapper
        	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.platform.cocktail.cocktail_platform.dao.RecommendDAO">

	<select id="getTop3Cocktails" resultType="Cocktails">
 		select
 			c.cocktailName as cocktailName
		from
			cocktails c
				left join
					orderTemp ot
				on
					c.cocktailName = ot.menuName
		group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>
	 
	<select id="customizedRecommendation" parameterType="Taste" resultType="Cocktails">
		select
    		c.cocktailName
		from
    		cocktails c
				inner join taste t on c.cocktailTaste = #{cocktailTaste} or c.cocktailFlavor = #{cocktailFlavor}
				left join orderTemp ot on c.cocktailName = ot.menuName
    	where
    		t.memberId = #{memberId}
    	group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>
	
	<select id="recommendForMe" parameterType="String" resultType="Cocktails">
    	select
        	c.cocktailName as cocktailName
    	from
        	cocktails c
        	left join orderTemp ot on c.cocktailName = ot.menuName
        where
    		ot.memberId = #{memberId}
    	group by
        	c.cocktailName
    	order by
        	sum(ot.orderCount) desc
	</select>
	
    <select id="weatherRecommend" parameterType="String" resultType="Cocktails">	
 		select
 			c.cocktailName as cocktailName
		from
			cocktails c
				inner join menuPreference mp on	c.cocktailName = mp.menuName
				left join orderTemp ot on c.cocktailName = ot.menuName
		where
 			weather in (select cocktailInfo from codeInfo ci where ci.infoName like '%' || #{weather} || '%')
		group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>
    
	<select id="ageRecommend" parameterType="String" resultType="Cocktails">
		select
 			c.cocktailName as cocktailName
		from
			cocktails c
				inner join menuPreference mp on	c.cocktailName = mp.menuName
				left join orderTemp ot on c.cocktailName = ot.menuName
		where
 			ageGroup in (select cocktailInfo from codeInfo ci where ci.infoName like '%' || #{ageGroup} || '%')
		group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>

	<select id="companionRecommend" parameterType="String" resultType="Cocktails">
		select
 			c.cocktailName as cocktailName
		from
			cocktails c
				inner join menuPreference mp on	c.cocktailName = mp.menuName
				left join orderTemp ot on c.cocktailName = ot.menuName
		where
 			companion in (select cocktailInfo from codeInfo ci where ci.infoName like '%' || #{companion} || '%')
		group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>

	<select id="eventRecommend" parameterType="String" resultType="Cocktails">
		select
 			c.cocktailName as cocktailName
		from
			cocktails c
				inner join menuPreference mp on	c.cocktailName = mp.menuName
				left join orderTemp ot on c.cocktailName = ot.menuName
		where
 			event in (select cocktailInfo from codeInfo ci where ci.infoName like '%' || #{event} || '%')
		group by
			c.cocktailName
		order by
			sum(ot.orderCount) desc
	</select>
	
	<select id="getCocktailByName" parameterType="String" resultType="Cocktails">
    	select
    		*
    	from
    		cocktails
    	where
    		cocktailName = #{cocktailName}
	</select>
	
	</mapper>