<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.cocktail.cocktail_platform.dao.StoreDAO">
	<select id="getStoreById" parameterType="String" resultType="StoreInfo">
		select
			*
		from
			storeInfo
		where
			memberId = #{memberId}
	</select>
	
	<update id="updateStoreinfo" parameterType="StoreInfo">
		update
			storeInfo
		set
			storeName = #{storeName}
			, address1 = #{address1}
			, address2 = #{address2}
			, postCode = #{postCode}
			, brn = #{brn}
			, phone = #{phone}
			, runningTime = #{runningTime}
			, dayOff = #{dayOff}
			, info = #{info}
			, originFilename = #{originFilename}
			, savedFilename = #{savedFilename}
		where
			memberId = #{memberId}
	</update>
	
	<!-- 예약 리스트 출력 -->
	<select id="getReservelistByCode" parameterType="int" resultType="Reservation">
		select
			*
		from
			reservation
		where 
			storeCode = #{storeCode}
		order by
			reserveDate desc
	</select>
	
	<select id="findReservationByCode" parameterType="String" resultType="Reservation">
		select
			*
		from
			reservation
		where
			reserveCode = #{reserveCode}
	</select>
	
	<update id="changeReservationState" parameterType="Reservation">
		update
			reservation
		set
			reserveState = #{reserveState}
		where
			reserveCode = #{reserveCode}
	</update>
	
	<insert id="insertReservation" parameterType="Reservation">
		insert into
			reservation
				(
				reserveCode
				, storeCode
				, <if test="memberId != null and memberId != ''">memberId
				, </if> 
				reservationName
				, reservationPhone
				, reserveDate
				, reserveHead
				, <if test="request != null and request != ''">request
				, </if> 
				reserveState
				)
		values (
				to_char(sysdate, 'yyyymmdd') || #{storeCode} || reservation_seq.nextval
				, #{storeCode}
				, <if test="memberId != null and memberId != ''">#{memberId}
				, </if>
				#{reservationName}
				, #{reservationPhone}
				, to_date(#{reserveDate}, 'yyyy-mm-dd hh24:mi')
				, #{reserveHead}
				, <if test="request != null and request != ''">#{request}
				, </if> 
				#{reserveState}
				)
	</insert>
	
	<select id="findOrderByKey" parameterType="int" resultType="OrderTemp">
		select
			*
		from
			orderTemp
		where
			tempOrderkey = #{tempOrderkey}
	</select>
	
	<delete id="deleteOrder" parameterType="int">
		delete from
			orderTemp
		where
			tempOrderkey = #{tempOrderkey}
	</delete>
	
	<select id="getMenulistByCode" parameterType="int" resultType="Menu">
		select
			*
		from
			menu
		where
			storeCode = #{storeCode}
		order by
			menuNum
	</select>
	
	<select id="getMenuInfoByNum" parameterType="int" resultType="Menu">
		select
			*
		from
			menu
		where
			menuNum = #{menuNum}
		order by
			menuNum
	</select>
	
	<select id="getAllStorelist" resultType="StoreInfo">
		select
			*
		from
			storeInfo
		order by
			storeCode desc
	</select>
	
	<select id="getStoreinfoByCode" parameterType="int" resultType="StoreInfo">
		select
			*
		from
			storeInfo
		where
			storeCode = #{storeCode}
		order by
			storeCode desc
	</select>
	
	<select id="findReviewByCodeAndId" parameterType="HashMap" resultType="StoreReview">
		select
			*
		from
			storeReview 
		where
			storeCode = #{storeCode} and memberId = #{memberId}
		order by
			storeReviewNum desc
	</select>
	
	<select id="getReviewlistByCode" parameterType="int" resultType="StoreReview">
		select
			*
		from
			storeReview
		where
			storeCode = #{storeCode}
		order by
			storeReviewNum desc
	</select>
	
	<insert id="insertStoreReview" parameterType="StoreReview">
		insert into
			storeReview
				(storeReviewNum
				, storeCode
				, orderCode
				, memberId
				, storeReviewScore
				, storeReviewText
				<if test="originFilename != null"> , originFilename
				, savedFilename </if> )
		values
				(storeReview_seq.nextval
				, #{storeCode}
				, #{orderCode}
				, #{memberId}
				, #{storeReviewScore}
				, #{storeReviewText}
				<if test="originFilename != null and originFilename != ''"> , #{originFilename}
				, #{savedFilename} </if> )
	</insert>
	
	<insert id="insertMenuPreference" parameterType="MenuPreference">
		insert into
			menuPreference
				(menuPreferenceNum
				, memberId
				, menuNum
				, weather
				, ageGroup
				, companion
				, event)
		values
				(menuPreference_seq.nextval
				, #{memberId}
				, #{menuNum}
				, #{weather}
				, #{ageGroup}
				, #{companion}
				, #{event})
	</insert>
	
	<select id="getCapacityByCode" parameterType="int" resultType="int">
		select
			capacity
		from
			schedule
		where
			storeCode = #{storeCode}
	</select>
	
	<select id="getReservedCountByDatetime" parameterType="HashMap" resultType="int">
		select
			count(case when reserveDate = #{reserveDate} then 1 end) ReservedCount
		from
			reservation
	</select>
	
	<select id="getScheduleByCode" parameterType="int" resultType="Schedule">
		select
			*
		from
			schedule
		where
			storeCode = #{storeCode}
		order by
			scheduleNum desc
	</select>
	
	<select id="getReservelistById" parameterType="String" resultType="Reservation">
		select
			*
		from
			reservation
		where
			memberId = #{memberId}
		order by
			reserveCode desc
	</select>
	
	<insert id="insertStoreinfo" parameterType="StoreInfo">
		insert into storeInfo
			(storeCode
			, memberId
			, storeName
			, address1
			, address2
			, postCode
			, brn
			, phone
			, runningTime
			, dayOff
			, info
			<if test="originFilename != null and originFilename != ''"> , originFilename
			, savedFilename </if>
			)
		values 
			( storeInfo_seq.nextval
			, #{memberId}
			, #{storeName}
			, #{address1}
			, #{address2}
			, #{postCode}
			, #{brn}
			, #{phone}
			, #{runningTime}
			, #{dayOff}
			, #{info}
			<if test="originFilename != null and originFilename != ''"> , #{originFilename}
			, #{savedFilename} </if>
			)
	</insert>
	
	<select id="getReservationByCode" parameterType="string" resultType="Reservation">
		select 
		    reserveCode
		    , storeCode
		    , memberId
		    , reserveHead
		    , to_char(reserveDate, 'yyyy-mm-dd hh24:mi') as reserveDate
		    , reservationName
		    , reservationPhone
		    , request
		    , reserveState
		from reservation
		where reserveCode = #{reserveCode}
	</select>
	
	<select id="hasFileFromStore" parameterType="int" resultType="string">
		select
			savedFilename
		from
			storeInfo
		where
			storeCode = #{storeCode}
	</select>
	
	<update id="deleteFileFromStore" parameterType="StoreInfo">
		update
			storeInfo
		set
			originFilename = null
			, savedFilename = null
		where
			storeCode = #{storeCode}
			and memberid = #{memberid}
	</update>
	
	<select id="getReviewScoreByCode" parameterType="int" resultType="float">
		select
			avg(coalesce(storeReviewScore,0)) storeReviewScore
		from
			storeReview
		where
			storeCode = #{storeCode}
	</select>
	
	<select id="getStoreByCocktailName" parameterType="String" resultType="StoreInfo">
		select
			*
		from (
				select 
					si.*, rownum
				from
					storeInfo si
						inner join menu on si.storeCode = menu.storeCode
						left join storeReview sr on si.storeCode = sr.storeCode
				where
					menu.menuName = #{menu.menuName}
				order by
					sr.storeReviewScore desc
				)
		where
			rownum between 0 and 5
	</select>
	
	<insert id="insertMenu" parameterType="Menu">
		insert into menu 
			(menuNum
			, storeCode
			, menuName
			, price
			, category
			<if test="menuInfo != null"> , menuInfo </if>
			<if test="originFilename != null"> , originFilename
			, savedFilename </if>
			) 
		values 
			(menu_seq.nextval
			, #{storeCode}
			, #{menuName}
			, #{price}
			, #{category}
			<if test="menuInfo != null"> , #{menuInfo} </if>
			<if test="originFilename != null"> , #{originFilename}
			, #{savedFilename} </if>
			)
	</insert>
	
	<select id="searchStore" parameterType="String" resultType="StoreInfo">
		select
			*
		from
			storeInfo
		where
			storeName like '%' || #{searchWord} || '%'
		order by
			storeCode
	</select>
	
	<select id="getMenuByCategory" parameterType="Menu" resultType="Menu">
		select *
		from menu
		where storeCode = #{storeCode} and category = #{category}
	</select>
	
	<select id="getScoreReviewByCode" parameterType="String" resultType="StoreReview">
		select *
		from storeReview
		where orderCode = #{orderCode}
	</select>
	
	<delete id="deleteMenuMyNum" parameterType="int">
		delete from menu
		where menuNum = #{menuNum}
	</delete>
	
</mapper>
