<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<!-- CSS: #errMsg1~8에 color: red 넣어주세욤 -->
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function(){
	memTypeChk();
	subBtnVisible();
});

//제출 버튼
const target = document.getElementById('subBtn');
let check = true;

//아이디 유효성 검사
function idChk(){
	let id = $('#memberId').val();
	let regId = /^[a-z]+[a-z0-9]{5,19}$/g;
	
	if(!regId.test(id)){
		$('#errMsg1').html('아이디는 6-12자 영문/숫자를 포함해야 합니다.');
		check = false;
	}
	else {
		idDuplicateChk();
	}
}

//아이디 중복 검사
function idDuplicateChk(){
	let id = $('#memberId').val();
	
	$.ajax({
        url:'checkId', 
        type:'post', 
        data:{memberId:id},
        success:function(cnt){ 
            if(cnt != 0){  
                alert('중복된 아이디입니다.');
                id = '';
                check = false;
            } else { 
            	$('#errMsg1').html('');
        		check = true
            }
        },
        error:function(){
            alert("에러입니다");
        }
    });
}

//비밀번호 유효성 검사
function pwChk(){
	let pw1 = $('#memberPw').val();
	let pw2 = $('#memberPw2').val();
	let regPw =  /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
	
	if(!regPw.test(pw1)) {
	    $('#errMsg2').html('비밀번호는 8-15자리 문자/숫자/특수문자를 포함해야 합니다.');
	    check = false;
	  } else {
	    $('#errMsg2').html('');
	  }

	 if(pw1 !== pw2) {
	    $('#errMsg3').html('비밀번호가 일치하지 않습니다.');
	    check = false;
	  } else {
	    $('#errMsg3').html('');
	  }
}

//이름 유효성 검사
function nameChk(){
	let name = $('#memberName').val();
	
	if(name < 2 || name > 9){
		$('#errMsg4').html('이름은 2-10자로 입력해주세요.');
		check = false;
	}
	else{
		$('#errMsg4').html('');
		check = true
	}
}

//이메일 유효성 검사
function emailChk(){
	let email = $('#email').val();
	let regEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	let btn = document.getElementById('emailConfirmBtn')
	
	if(!regEmail.test(email)){
        $('#errMsg5').html('이메일은 xxx@xxx.xxx 형식으로 입력해야 합니다.');
        check = false;
	}
	else{
		$('#errMsg5').html('');

		$.ajax({
	        url:'checkEmail', 
	        type:'post', 
	        data:{email:email},
	        success:function(cnt){ 
	            if(cnt != 0){  
	            	$('#errMsg5').html('이미 사용 중인 이메일 주소입니다.');
	                email  == '';
	                check = false;
	            } else { 
	            	$('#errMsg5').html('');
	            	btn.disabled = false;
	            }
	        },
	        error:function(){
	            alert("에러입니다");
	        }
	    });
	}
}

//이메일 인증 코드 변수
let authCode = '';

//이메일 인증
function emailConfirm(){
	let email = $('#email').val();
	let inputCode = $('#emailInputCode').val();
	
	$.ajax({
		url : "emailConfirm",
		type : "POST",
		data : {email : email},
		dataType: 'text',
		success: function(code){
			alert("인증메일이 발송되었습니다.");
			authCode = code;
		},
		error: function(code){
			alert("메일 발송에 실패했습니다.");
			check = false;
		}
	});
	
	//이메일 인증 번호 대조
	$('#emailInputCode').keyup(function(){
	    if(authCode != inputCode){  
	        $('#errMsg6').html('인증번호가 불일치합니다. 다시 확인해주세요.');
	        check = false;
	    } else {
	        $('#errMsg6').html('');
	        check = true;
	    }
	});
}

//휴대폰 번호 유효성 검사
function phoneChk(){
	let phone = $('#phone').val();
    let regPhone = /^010-[0-9]{4}-[0-9]{4}$/;
    
	// 사용자가 하이픈을 입력하지 않았을 때 자동으로 하이픈 추가
    if (phone.length === 11 && phone.indexOf('-') === -1) {
    	//하이픈을 추가하여 전화번호 형식으로 변환
        phone = phone.replace(/^(\d{3})(\d{4})(\d{4})$/, '$1-$2-$3');
        $('#phone').val(phone);
    }
    
    if(!regPhone.test(phone)){
        $('#errMsg7').html('전화번호 형식이 올바르지 않습니다.');
        check = false;
    }
    else{
        $('#errMsg7').html('');
        check = true;
    }
}

//생년월일 유효성 검사
function birthChk() {
    var birthday = $('#birthday').val();
    var year = Number(birthday.substr(0, 4));
    var month = Number(birthday.substr(4, 2));
    var day = Number(birthday.substr(6, 2));
    var today = new Date();
    var yearNow = today.getFullYear();
    var adultYear = yearNow - 20;

    if (birthday.length <= 8) {
		// 연도의 경우 1900 보다 작거나 yearNow 보다 크다면 false를 반환합니다.
	    if (1900 > year || year > adultYear){
	    	$('#errMsg8').html('년도를 확인하세요.' + adultYear + ' 년생 이전 출생자만 등록 가능합니다.');
	    	check = false;
	    	
	    }else if (month < 1 || month > 12) {
	    	$('#errMsg8').html('생년월일을 확인해주세요.');
	    	check = false;
	    }else if (day < 1 || day > 31) {
	    	$('#errMsg8').html('생년월일을 확인해주세요.');
	    	check = false;
	    }else if ((month==4 || month==6 || month==9 || month==11) && day==31) {
	    	$('#errMsg8').html('생년월일을 확인해주세요.');
	    	check = false;
	    }else if (month == 2) {
	       	var isleap = (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0));
	     	if (day>29 || (day==29 && !isleap)) {
	     		$('#errMsg8').html('생년월일을 확인해주세요.');
				check = false;
			}else{
				$('#errMsg8').html('');
				check = true;
			}//end of if (day>29 || (day==29 && !isleap))
	    }else{
	    	$('#errMsg8').html('');
	    	check = true;
		}//end of if
		
	}else{
		//1.입력된 생년월일이 8자 초과할때
		$('#errMsg8').html('생년월일을 확인해주세요 :)');
	}
}


//멤버타입 유효성 검사
  function memTypeChk(){
      if ($('input[name="memberType"]:checked').length === 0) {
          $('#errMsg9').html('회원 구분을 선택해주세요.');
          check = false;
      } else {
          $('#errMsg9').html('');
          check = true;
      }
  }

//제출 버튼 활성화/비활성화
function subBtnVisible(){
    if (check == true) {
        $('#subBtn').prop('disabled', false);
    } else {
        $('#subBtn').prop('disabled', true);
    }
}

</script>
<link rel="stylesheet" th:href="@{/CSS/}">
<title>통합 회원 가입</title>

</head>
<body>
	<main>
		<h1 class="title">통합 회원 가입</h1>
		<form id="joinForm" th:action="@{/member/join}" method="post">
				ID<br>
				<input type="text" name="memberId" id="memberId"
				placeholder="ID(6-12자리 이내, 영문 사용 가능)" required="required" onkeyup="idChk()">
				<p id="errMsg1"></p>
				
				비밀번호<br>
				<input type="password" name="memberPw" id="memberPw"
				placeholder="비밀번호(8-15자리 문자/숫자/기호 사용 가능)" required="required" onkeyup="pwChk()">
				<p id="errMsg2"></p>
				
				비밀번호 확인<br>
				<input type="password" name="memberPw2" id="memberPw2"
				placeholder="비밀번호 확인" required="required" onkeyup="pwChk()">
				<p id="errMsg3"></p>
				
				이름<br>
				<input type="text" name="memberName" id="memberName" 
				placeholder="이름(필수)" required="required" onkeyup="nameChk()">				
				<p id="errMsg4"></p>
				
				이메일<br>
				<input type="email" name="email" id="email"
				placeholder="이메일(필수, 아이디 확인에 이용됩니다.)" required="required" onkeyup="emailChk()">
				<input type="button" id="emailConfirmBtn" value="이메일 인증하기" onclick="emailConfirm()" disabled><br>
				<p id="errMsg5"></p>
				<input type="text" name="emailInputCode" id="emailInputCode" 
				placeholder="인증번호 입력" required="required"><br>
				<p id="errMsg6"></p>
				
				핸드폰번호<br>
				<input type="tel" name="phone" id="phone" placeholder="전화번호" 
				required="required" onkeyup="phoneChk()">
				<p id="errMsg7"></p>
				
				생년월일<br>
				<input type="text" name="birthday" id="birthday" placeholder="생년월일(8자리)"
				required="required" onkeyup="birthChk()">
				<p id="errMsg8"></p>
				<br>
				
				회원구분<br>
    			<input type="radio" name="memberType" id="ROLE_PERSONAL" value="ROLE_PERSONAL" checked>개인회원
    			<input type="radio" name="memberType" id="ROLE_CORPORATE" value="ROLE_CORPORATE">기업회원<br>
    			<p id="errMsg9"></p>
				
				성별<br>
              	<select name="gender">
                	<option value="N" selected>선택안함</option>
                	<option value="M">남자</option>
                	<option value="F">여자</option>
                </select><br>
                <br>
				<div class="bottom-container">
					<input type="submit" id="subBtn" class="bottom" value="가입하기" disabled>
					<input type="reset" class="bottom" value="다시 쓰기">
				</div>
		</form>
	</main>
</body>
</html>