<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
</head>
<body>
    <!--타이틀-->
    <div>
      <img src="" alt="logo">
    </div>
    <div>
        <div>
          <h1>비밀번호 재설정</h1>
          <form action="">
            <table>
                <tr>
                    <th>비밀번호</th>
                    <td>
                    <input type="text" name="memberPw" id="memberPw" placeholder="비밀번호를 입력 해주세요."><br>
                    </td>
                </tr>
                <tr>
                    <th>새 비밀번호</th>
                    <td>
                    <input type="password" id="memberPw2" placeholder="비밀번호를 다시 입력 해주세요.">
                    </td>
                </tr>
              </table>
            </form>
        </div>
        <input type="submit" value="확인">
    </div>
</body>
</html>