body{
	list-style-type: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	background-color: green;
	padding: 10px;
}

.navbar_logo{
	display: flex;
	align-items: center;
}

.navbar_logo img{
	width: 50px;
	padding-right: 5px;
}

.navbar_logo span{
	font-size: 25px;
}

.search_logo img{
	width: 25px;
	padding-left: 5px;
}

.navbar_right{
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 10px;
}

a{
	text-decoration: none;
}

a:link { color : black; }

a:visited { color : black; }

a:hover {
  color : white;
  text-decoration: none;
}

.profile{
	align-items: center;
	justify-content: space-around;
	display: flex;
	font-size:12px;
	padding: 10px;
}

.profile-text{
	color: white;
	text-align: center;
}

.profile-icon img{
	width: 30px;
}

.banner{
	padding: 30px 10px;
}

.bannerimg{
	width: 900px;
	height: 450px;
}

.contentbox{
	display: flex;
	justify-content:space-between;
	padding: 50px;
}

