/* 전체 폼 스타일 */
#joinForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffc7;
  border-radius: 10px;
}

/* 제목 스타일 */
.title {
  font-size: 24px;
  text-align: center;
  color: #ff9670;
  margin-bottom: 20px;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 버튼 스타일 */
input[type="submit"]
 {
  width: calc(50% - 5px);
  padding: 10px;
  background-color: #ff9670;
  border: none;
  border-radius: 5px;
  color: #313131;
  font-size: 16px;
  cursor: pointer;
  transition: 0.7s;
}

/* 버튼 호버 효과 */
input[type="submit"]:hover{
  background-color: #f38b65;
  transition: 0.7s;

}

/* 버튼 스타일 */

input[type="reset"] {
  width: calc(50% - 5px);
  padding: 10px;
  background-color: #4cb383;
  border: none;
  border-radius: 5px;
  color: #313131;
  font-size: 16px;
  cursor: pointer;
  transition: 0.7s;
}

/* 버튼 호버 효과 */

input[type="reset"]:hover {
  background-color: #44a779;
  transition: 0.7s;

}


/* 에러 메시지 스타일 */
p[id^="errMsg"] {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}

#errMsg1,#errMsg2, #errMsg3, #errMsg4, #errMsg5, #errMsg6, #errMsg7, #errMsg8{color: red;} 



