/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0s;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  animation: none;
}
a:link {
  color: #232323;
}
a:visited {
  color: #454545;
}
a:hover {
  color: #232323;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*색상 코드
배경:                   #fff
input-border-solid:     #e7e7e7
강조색:                 #ff5805
폰트 컬러 :             #232323
조보색:                 #45B783

*/

/*=========================================================*/

@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*.logo {
  width: 60%;
  height: 400px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    background-color: antiquewhite;
}
*/
body {
  width: 100%;
  background-color: #fff;
  position: fixed;
}

.body {
  position: absolute;
  top: 390px;
  left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.box1,
.box2 {
  width: 400px;
  height: 180px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #d4d4d4;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  margin: 15px;
  padding: 20px 20px 0px 20px;
  z-index: 5;
  animation: none;
  animation-name: none;
  display: flex;
}

/*.box1, .box2 {
  width: 400px;
  height: 200px;
  border: 2px solid #ededed;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 15px #c7c7c7;
  border-radius: 8px;
  margin-top: 90px ;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  z-index: 1000;

}
*/
.title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 40px;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}
.content {
  border: 1px solid #232323;
  color: #232323;
  background-color: none;
  width: 180px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  margin-top: 110px;
  margin-left: 220px;
  position: absolute;
  z-index: 5;
  text-decoration: none;
}

.content:hover {
  border: 1px solid #232323;
  background-color: #fff;
  width: 180px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  margin-top: 110px;
  margin-left: 220px;
  transition: 0.2s;
}

img[alt="arrow"] {
  width: 40px;
  text-align: center;
}

img[alt="logo"] {
  width: 400px;
  margin-top: 150px;
}

/* img[alt=deco1]{
  width: 700px;
  position: absolute;
  top: 300px;
  left: 1000px;
  z-index: 1;
  filter: blur(15px);
} */

/*background img - z-index : 10~50*/
img[alt="logo"] {
  position: absolute;
  top: 10px;
  left: 550px;
  z-index: 51;
  width: 500px;
  animation: ani0 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img[alt="ice1"] {
  position: absolute;
  top: 380px;
  left: -200px;
  z-index: 50;
  animation: ani1 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="ice2"] {
  position: absolute;
  top: 500px;
  left: 1100px;
  z-index: 49;
  animation: ani2 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="ice3"] {
  position: absolute;
  top: 0px;
  left: 1200px;
  z-index: 48;
  animation: ani3 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="ice4"] {
  position: absolute;
  top: -82px;
  left: -12px;
  z-index: 47;
  animation: ani4 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img[alt="water1"] {
  position: absolute;
  top: 82px;
  left: -12px;
  z-index: 10;
  animation: ani5 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="water2"] {
  position: absolute;
  top: -200px;
  left: -280px;
  z-index: 11;
  animation: ani6 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img[alt="glass2"] {
  position: absolute;
  top: -60px;
  left: 250px;
  z-index: 30;
  width: 850px;
  animation: ani7 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img[alt="lemon1"] {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
  animation: ani8 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="orange1"] {
  position: absolute;
  top: 450px;
  left: 800px;
  z-index: 30;
  width: 350px;
  animation: ani9 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="orange2"] {
  position: absolute;
  top: -30px;
  left: 1300px;
  z-index: 30;
  width: 500px;
  animation: ani10 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
img[alt="cherry2"] {
  position: absolute;
  top: 330px;
  left: 1300px;
  z-index: 30;
  width: 100px;
  animation: ani11 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;
  animation-iteration-count: 1;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@keyframes ani0 {
  0% {
    left: 1500px;
  }
  100% {
    left: 550px;
  }
}
@keyframes ani1 {
  0% {
    left: 1600px;
  }
  100% {
    left: -200px;
  }
}
@keyframes ani2 {
  0% {
    left: 1400px;
  }
  100% {
    left: 1100px;
  }
}
@keyframes ani3 {
  0% {
    left: 2200px;
  }
  100% {
    left: 1200px;
  }
}
@keyframes ani4 {
  0% {
    left: 800px;
  }
  100% {
    left: -12px;
  }
}

@keyframes ani5 {
  0% {
    left: 1200px;
  }
  100% {
    left: -12px;
  }
}
@keyframes ani6 {
  0% {
    left: -450px;
  }
  100% {
    left: -280px;
  }
}

@keyframes ani7 {
  0% {
    left: 1600px;
  }
  100% {
    left: 250px;
  }
}

@keyframes ani8 {
  0% {
    left: 600px;
  }
  100% {
    left: 0px;
  }
}
@keyframes ani9 {
  0% {
    left: 1400px;
  }
  100% {
    left: 800px;
  }
}
@keyframes ani10 {
  0% {
    left: 1400px;
  }
  100% {
    left: 1300px;
  }
}
@keyframes ani11 {
  0% {
    left: 1500px;
  }
  100% {
    left: 1300px;
  }
}
