/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0s;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  animation: none;
}
a:link {
  color: #232323;
}
a:visited {
  color: #454545;
}
a:hover {
  color: #232323;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*색상 코드
배경:                   #fff
input-border-solid:     #e7e7e7
강조색:                 #ff5805
폰트 컬러 :             #232323
보조색:                 #45B783

*/

/*=========================================================*/

@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*.logo {
  width: 60%;
  height: 400px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    background-color: antiquewhite;
}
*/
body {
  width: 100%;
  background-color: #ffffc7;
  position: fixed;
}

.body {
  position: absolute;
  top: 390px;
  left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.box1,
.box2 {
  width: 400px;
  height: 130px;
  background: rgba(255, 255, 255, 0.6);  
  border-radius: 16px;
  box-shadow: 0 4px 30px #e3e3e3 100%;
  backdrop-filter: blur(2px);
  border: 1px solid #313131;
  margin: 15px;
  padding: 20px 20px 0px 20px;
  z-index: 5;
  animation: none;
  animation-name: none;
  display: flex;
}

/*.box1, .box2 {
  width: 400px;
  height: 200px;
  border: 2px solid #ededed;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 15px #c7c7c7;
  border-radius: 8px;
  margin-top: 90px ;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  z-index: 1000;

}
*/
.title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 40px;
  color: #ff9058;
  -webkit-text-stroke: 1px #4c4c4c;
}
.content {
  border: 1px solid #232323;
  color: #232323;
  background-color: none;
  width: 180px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  margin-top: 65px;
  margin-left: 220px;
  position: absolute;
  z-index: 5;
  text-decoration: none;
  transition: 0.2s;
  animation: ani_con cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none;
}

.content:hover {
  border: 1px solid #232323;
  background-color: #fff;

  width: 180px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  margin-top: 65px;
  margin-left: 220px;
  transition: 1.2s ease;
}

img[alt="arrow"] {
  width: 40px;
  text-align: center;
}

img[alt="logo"] {
  width: 400px;
  margin-top: 150px;
}

/* img[alt=deco1]{
  width: 700px;
  position: absolute;
  top: 300px;
  left: 1000px;
  z-index: 1;
  filter: blur(15px);
} */

/*background img - z-index : 10~50================================================================*/
img[alt="logo"] {
  position: absolute; top: 0px;  left: 550px;
  z-index: 510;  width: 500px; animation: ani0 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}

img[alt="ice1"]/*logo ani1*/ {
  position: absolute; top: 330px;  left: 180px; transform: rotate(30deg);
z-index: 50; width: 200px; animation: ani1 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="ice2"]/*ice ani2*/ {
  position: absolute; top: 500px;  left: 510px; transform: rotate(10deg);
z-index: 49; width: 180px; animation: ani2 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="ice3"]/*ice ani3*/ {
  position: absolute; top: 0px;  left: 420px; transform: rotate(-20deg);
z-index: 29; width: 150px; animation: ani3 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="ice4"]/*bar ani4*/ {
  position: absolute; top: -1300px;  left: 12px; width: 200px;
z-index: 47;  animation: ani4 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="ice5"]/*bar ani 15*/ {
  position: absolute; top: -1200px;  left: 410px; width: 200px;
z-index: 47;  animation: ani15 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}

img[alt="water1"]/*bar ani5*/ {
  position: absolute; top: -1000px;  left: 242px; width: 200px;
z-index: 10; animation: ani5 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water2"]/*bar ani6*/ {
  position: absolute; top: -900px;  left: 100px; width: 200px;
z-index: 11; animation: ani6 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water3"]/*bar ani 12*/ {
  position: absolute; top: -1400px;  left: 500px; width: 200px;
z-index: 11; animation: ani12 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water4"]/*bar ani3*/ {
  position: absolute; top: -1600px;  left: 1100px; width: 200px;
z-index: 11; animation: ani13 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water5"]/*bar ani 14*/ {
  position: absolute; top: -1500px;  left: 962px; width: 200px;
z-index: 11; animation: ani14 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water6"]/*bar ani 16*/ {
  position: absolute; top: -1500px;  left: 662px; width: 200px;
z-index: 11; animation: ani16 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="water6"]/*bar ani 17*/ {
  position: absolute; top: -1200px;  left: 1450px; width: 200px;
z-index: 11; animation: ani17 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}

img[alt="glass2"]/*iceCream ani7*/ {
  position: absolute; top: 60px;  left: 150px;
  z-index: 30;  width: 350px; animation: ani7 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}

img[alt="lemon1"]/*bub1 ani8*/ {
  position: absolute; top: 300px;  left: 50px; opacity: 70%; width: 100px;
z-index: 30; animation: ani8 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="orange1"]/*bub2 ani9*/ {
  position: absolute; top: 250px;  left: 1330px; opacity: 50%; 
  z-index: 30;  width: 80px; animation: ani9 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="orange2"]/*bub3 ani 10*/ {
  position: absolute; top: -30px;  left: 900px; opacity: 50%;  
  z-index: 30;  width: 80px; animation: ani10 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
img[alt="cherry2"]/*cherry ani 11*/ {
  position: absolute; top: 330px;  left: 1400px; transform: rotate(10deg);
  z-index: 30;  width: 130px; animation: ani11 cubic-bezier(0.56, 0, 0.33, 0.99) 1.7s;  animation-iteration-count: 1; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}

@keyframes ani0 {0% {top: -1000px; rotate: 30deg;}  100% {top: 0px; rotate: 0deg;}}
@keyframes ani1 {0% {top: -800px;  rotate: 45deg;}  100% {top: 330px; rotate: 0deg;}}
@keyframes ani2 {0% {top: -1400px;  rotate: 40deg;}  100% {top: 500px; rotate: 0deg;}}
@keyframes ani3 {0% {top: -2200px;  rotate: 30deg;}  100% {top: 0px; rotate: 0deg;}}
@keyframes ani4 {0% {top: -2000px;}  100% {top: -1300px;}}

@keyframes ani5 {0% {top: -1600px;}  100% {top: -1000px;}}
@keyframes ani6 {0% {top: -2000px;}  100% {top: -900px;}}

@keyframes ani7 {0% {top: -300px;  rotate: 30deg;}  100% {top: 60px;  rotate: 0deg;}}

@keyframes ani8 {0% {top: -600px;}  100% {top: 300px;}}
@keyframes ani9 {0% {top: -500px;}  100% {top: 250px;}}
@keyframes ani10 {0% {top: -400px;}  100% {top: -30px;}}
@keyframes ani11 {0% {top: -200px; rotate: -45deg;}  100% {top: 330px; rotate: 0deg;}}
@keyframes ani12 {0% {top: -2000px;}  100% {top: -1400px;}}
@keyframes ani13 {0% {top: -1900px;}  100% {top: -1600px;}}
@keyframes ani14 {0% {top: -2000px;}  100% {top: -1500px;}}
@keyframes ani15 {0% {top: -2000px;}  100% {top: -1200px;}}
@keyframes ani16 {0% {top: -2000px;}  100% {top: -1500px;}}
@keyframes ani17 {0% {top: -2000px;}   100% {top: -1200px;}}

@keyframes ani_con {0% {opacity: 30%;}   100% {opacity: 100%;}}

