.navi {
  width: 100;
  height: 60px;
  border: 1px solid #232323;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo {
  color: #232323;
}
body {
  background-color: #f2f2f2;
}
.body {
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  height: 400px;
  background-color: #f17878;
  box-shadow: 3px 3px 15px #d1d1d1;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
}
