body{
	list-style-type: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	background-color: orange;
	padding: 10px;
}

.navbar_logo{
	display: flex;
	align-items: center;
}

.navbar_logo img{
	width: 50px;
	padding-right: 5px;
}

.navbar_logo span{
	font-size: 25px;
}

.search_logo img{
	width: 25px;
	padding-left: 5px;
}

.navbar_right{
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 10px;
}

a{
	text-decoration: none;
}

a:link { color : black; }

a:visited { color : black; }

main a:hover {
  color : green;
}

.best_prd{
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.main_title{
	font-weight: bold;
	font-size: 25px;
	padding: 10px;
}

.prd_ctg{
	font-size: 20px;
	padding: 10px;
}

.marketlist{
	text-align: right;
	padding: 40px 10px;
}

.row{
	display: flex;
	align-items: center;
	padding: 10px;
}

.box{
	align-items: center;
	padding: 10px;
}

.pd_title{
	font-size: 20px;
}

.boxImg{
	width: 250px;
}