/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
a:link {
  color: #232323;
}
a:visited {
  color: #454545;
}
a:hover {
  color: #232323;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*색상 코드
배경:                   #fff
input-border-solid:     #e7e7e7
강조색:                 #ff5805
폰트 컬러 :             #232323
조보색:                 #45B783 50CCAA

*/

@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/

body {
  margin: 0;
  padding: 0;
  background: #ff9670;
  text-align: center;
  justify-content: center;
}

.sidebar{display:flex ; z-index: 50;}

.navi{
width: 100% ;
height: 60px;
background-color: #fff;
border-bottom:2px solid #313131;
display: flex; 
justify-content: center;
color: #313131;
font-family: 'Noto Sans KR', sans-serif;  
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    padding-right: 40px ;
    align-items: center;
    margin: auto 0px;
}

#main {
  padding-left: 87px;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 100;
}

/*==========================================================*/

img[alt="logo"] {
  width: 120px;
  justify-content: center;
  margin: auto;
  float: left;
}
img[alt=search] { width: 27px; height: 27px;  z-index: 50;}


/* 제품 상자 스타일 */
.box {
  background-color: #ffffff;
  border: 1.8px solid #313131;
  padding: 20px;
  
  margin: 10px auto; /* 상하 여백을 10px으로 주고 좌우 여백은 자동으로 가운데 정렬 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  display: inline-block; /* 인라인 블록 요소로 변경하여 가운데 정렬 */
  z-index: 20;
}

/*box 감싸는 box*/
.row{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: auto;
  margin-bottom: 40px;
 z-index: 50;}


/*카테고리 title*/
.main_title strong {
  display: flex;
  justify-content: center;
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 32pt;
  margin-top: 25px;

 z-index: 50;}

/*상품명*/
.pd_title {  
  font-family: 'Noto Sans KR', sans-serif;  
  color: 313131;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  float: left;
 z-index: 50;}

.box {
  width: 400px;
  border: 2px solid  #e7e7e7;
  border-radius: 15px;
  
 z-index: 50;}

/*매장명, 본문*/
.box p, box strong{
  color: #555;
  margin-top: 20px;
  text-align: left;
 z-index: 50;}
.prd_ctg {
  background-color: #fffde5;
  color: #353535;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
 z-index: 50;}

/*카테고리*/
.prd_ctg span {
  height: 25px;
  background-color: #4cb383;
  font-family: 'Noto Sans KR', sans-serif;  
  margin: 10px 5px;
  color: #313131;
  font-size: 12pt;
  padding: 5px 10px;
  border-radius: 20px;
 z-index: 50;}

/*배너 이미지*/
img[alt="banner"] {
  width: 1300px;
  margin: auto;
  border-radius: 7px;
  border: 1px solid #313131;
  margin: 20px 0px;
 z-index: 50;}

/* 상품 전체 박스 */
.mainbox1 {
  width: 1300px;
  background-color: #fffde5;
  border: 1.8px solid #1e1c15;
  border-radius: 20px;
  text-align: left;
  margin: 40px 30px;
  box-shadow: 0px 20px 20px #e68664;
  z-index: 100;
}

/*======================================================*/

/*상품 이미지.*/
.boxImg{width: 350px; height:300px; box-shadow: 0px 4px 40px #ededed; z-index: 50;}

/*매장 전체보기 text*/
.marketlist{
  margin-top: 60px;
  margin-left: 1020px;
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 16pt;
  text-shadow: 0px 10px 10px #e68664;
  transition: 0.2s;

 z-index: 50;}

img[alt="arrow"] {width: 40px;  text-align: center;}

/*매장 전체보기 text*/
.marketlist:hover{
  margin-top: 30px;
  margin-left: 1040px;
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 16pt;
  text-shadow: 0px 10px 10px #e68664;
  transition: 0.2s;

 z-index: 50;}

/*=====================================================*/

footer{
  height: 400px;
  background-color: #1d1d1d;
  text-align: center;
  padding:  0px 40px;
  z-index: 100;
}

.footer{
  
  color: #d5d5d5;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 10pt;
  margin: 70px;
  line-height: 30px;
 z-index: 50;}

.footer1{
  color: #d5d5d5;
  font-family: 'Noto Sans KR', sans-serif;  
  margin: 20px;
  font-size: 10pt;
 z-index: 50;}

.bin{height: 70px;}

img[alt=back_img1]{width: 500px; position: fixed; top: 400px; left: -150px; z-index: 10; -webkit-user-drag: none;}
img[alt=back_img2]{width: 500px; position:absolute; top: 1200px; left: 1050px; z-index: 10; -webkit-user-drag: none;}

section{z-index: 100;}