/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a:link { color: #232323; }
a:visited { color:#454545; }
a:hover { color:#ff5805; }
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*=========================================================*/

.sidebar{display:flex ;}

.navi{
width: 100% ;
height: 60px;
background-color: #fff;
border-bottom:2px solid #e7e7e7;
display: flex; 
justify-content: center;
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    padding-right: 40px ;
    align-items: center;
    margin: auto;
}

.body{ display: flex; }

.sec1{
width: 16%;
height: 700px;
padding: 15px;
background-color: #ffffff;
border: 1px solid #e7e7e7;
position:relative;
}

/*배경*/
.sec2{width: 83%; padding-left: 36px; padding-right: 36px; background-color:#f6f7fa; }

.title1{padding-left: 20px; padding-top: 10px;}
.title2{ width: 100%; font-size: 17pt; height: 70px; margin:30px 0px 20px; padding-left: 15px; 
    border: 1px solid #d3d3d3; border-radius: 5px; background-color: #fff; display: flex; 
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color=#DEDEDE)";/*IE 8*/
    -moz-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*FF 3.5+*/
    -webkit-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color=#DEDEDE); /*IE 5.5-7*/

    display: flex; align-items: center; }



img[alt=logo] { width: 120px; margin-top: 8px;}
img[alt=search] { width: 27px; height: 27px; }
img[alt=icon]{width: 20px; display: flex;}

.order{margin: 20px 0px;}

.orderHistory[type=button] {
    width: 196px;
    height: 35px;
    margin: 5px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: #f6f7fa;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #ededed;
    text-align: start;
    opacity: 0.7;
    
}
.orderHistory:hover[type=button] {
    width: 196px;
    height: 35px;
    margin: 5px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: #fff;
    border-radius: 5px;
    color: #ff5805;
    transition: 0.15s;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color=#DEDEDE)";/*IE 8*/
    -moz-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*FF 3.5+*/
    -webkit-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color=#DEDEDE); /*IE 5.5-7*/
    text-align: start;
    opacity: 1;

}


a[name=out] {padding-left: 20px; position: absolute; bottom: 50px; font-size: 9px;}

.con1, .con2{ 
    width: 1140px; text-align: left; line-height: 28px; border: 1px solid #d3d3d3; border-radius: 5px; 
     padding: 15px; background-color: #ff9797; padding: 10px; text-align: center;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color=#DEDEDE)";/*IE 8*/
    -moz-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*FF 3.5+*/
    -webkit-box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 2px 9px 3px rgba(237, 237, 237, 0.7);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=135, Color=#DEDEDE); /*IE 5.5-7*/
}


th{padding-right: 20px;}



.flex{display: flex; }

.table{ 
    width: 1140px;
    display: flex;

}