/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a:link { color: #232323; }
a:visited { color:#454545; }
a:hover { color:#232323; }
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/
body{background-color: #f8f8f8;}
img[alt="logo"] {
  width: 120px;
  justify-content: center;
  margin: auto;
  float: left;
}
img[alt=search] { width: 27px; height: 27px; }

.navi{
width: 100% ;
height: 60px;
display: flex;
background-color: #fff;
border-bottom:2px solid #e7e7e7;
justify-content: center;
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    margin: auto;
    margin-right: 40px;

}
/*상품 스토어 =============================================*/
/* 상품 전체 박스 */
.mainbox1 {
    width: 1300px;
    background-color: #fff;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    text-align: left;
    margin: 40px 30px;
    box-shadow: 0px 20px 20px #e8e8e8;
    margin: 0 auto;
  }
/*카테고리 title*/
.main_title strong {
    display: flex;
    justify-content: center;
    color: #313131;
    font-family: 'Noto Sans KR', sans-serif;  
    font-size: 32pt;
    margin-top: 25px;
}
/*box 감싸는 box*/
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: auto;
    margin-bottom: 40px;
  }

  /* 제품 상자 스타일 */
.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    
    margin: 10px auto; /* 상하 여백을 10px으로 주고 좌우 여백은 자동으로 가운데 정렬 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
    display: inline-block; /* 인라인 블록 요소로 변경하여 가운데 정렬 */
  }

  .boxImg {
    max-width: 100%;
    height: auto;
  }
  /*상품명*/
.pd_title {  
    font-family: 'Noto Sans KR', sans-serif;  
    color: 313131;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    float: left;
  }

/*상품 스토어 END =============================================*/

.body{
justify-content: center; margin: auto;
align-items: center;
text-align: center;
align-content: center;
}

.title{height: 100px;
color: #313131;
font-family: 'Noto Sans KR', sans-serif;  
font-size: 32pt;
margin-top: 60px;
}



.contents{
    width: 800px;
    border: 2px solid #e7e7e7;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px #dddddd;
    padding: 30px;
    margin: 0 auto;
    

}

.con1{
  display: flex;
}

.c_img{
  position: relative;
    width: 300px;
    height: 450px;
    border: 1px solid #e7e7e7;
    
    overflow: hidden;
}

img[alt=cocktail_image]{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 450px;
  margin: 0 auto;

}

.c_con{
  width: 450px;
  align-items: end;
  align-content: flex-end;
  text-align: left;
  margin: 0 auto;
}

.c_con_inner{
  border: 1px solid #e7e7e7;
}

.sub_title{
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 10pt;
}

.c_con_inner{
  border: 1px solid #e7e7e7;
  padding: 10px;
}

/*~를 파는 매장에서 직접 즐겨볼까요?*/
.ex_text{
  width: 100%;
  background-color: #ff5805;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 30pt;
  margin: 100px 0px 60px;
}

.store_list{
  width: 80%;
  overflow: none, scroll;
  display: flex;
  padding: 20px;
  margin: auto;
}

.store_score{
  color: #ffb617;
  font-family: 'Noto Sans KR', sans-serif;  
  font-size: 8pt;
}

img[alt=store_image]{
  width: 250px;
  height: 250px;
}