<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Id</title>

<script>
  //이메일 인증 코드 변수
let authCode = '';

//이메일 인증
function emailConfirm(){
   let email = $('#email').val();
   let inputCode = $('#emailInputCode').val();
   
   $.ajax({
      url : "emailConfirm",
      type : "POST",
      data : {email : email},
      dataType: 'text',
      success: function(code){
         alert("인증메일이 발송되었습니다.");
         authCode = code;
      },
      error: function(code){
         alert("메일 발송에 실패했습니다.");
      }
   });
   
   //이메일 인증 번호 대조
   $('#emailInputCode').keyup(function(){
       if(authCode != inputCode){  
           $('#errMsg6').html('인증번호가 불일치합니다. 다시 확인해주세요.');
       } else {
           $('#errMsg6').html('');
       }
   });
}
</script>
</head>
<body>
    <!--타이틀-->
    <div>
      <img src="" alt="logo">
    </div>
    <div>
        <div>
          <h1>아이디 찾기</h1>
          <p>회원정보에 등록한 이메일과 입력한 이메일 정보가 같아야 인증번호를 받을 수 있습니다.</p>
          <form action="">
            <table>
                <tr>
                  <th>이름</th>
                  <td>
                    <input type="text" name="memberName" id="memberName"/>
                  </td>
                </tr>
                <tr>
                  <th>이메일</th>
                  <td>
                    <input type="text" name="email" id="email" placeholder="이메일 입력" />
                    <input type="button" value="인증번호 받기" onclick="emailChk()"><br>
                    <input type="text" id="email2" placeholder="인증번호 입력"/>
                    <input type="button" value="확인" onclick="emailConfirm()">
                  </td>
                </tr>
              </table> 
          </form>
              <p>- 인증번호가 오지 않는다면?</p>
              <p>스팸메일로 등록되어있는지 확인해주세요. <br>
                스팸메일로 등록되어있지 않다면 '인증번호 받기'를 다시 눌러주세요.</p>
        </div>
    </div>
</body>
</html>