<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Id</title>
</head>
<body>
    <!--타이틀-->
    <div>
        <img src="" alt="">
    </div>
    <div>
        <div>
            <table>
                <tr>
                  <th>이름</th>
                  <td>
                    <input type="text" name="memberName" id="memberName"/>
                  </td>
                </tr>
                <tr>
                  <th>전화번호</th>
                  <td>
                    <input type="number" name="phone" id="phone" /><br />
                  </td>
                </tr>
                <tr>
                  <th>이메일</th>
                  <td>
                    <input type="text" name="email" id="email" placeholder="이메일 입력" />
                    <input type="button" value="이메일 인증" onclick="emailFormOpen()">
                    <input type="text" id="email2" placeholder="인증번호 입력"/>
                  </td>
                </tr>
              </table>
        </div>
    </div>
</body>
</html>