<html  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
    <link rel="stylesheet" href="/CSS/reset.css">
    <script>
     //로그인폼 확인
    function validation() {
      let id = document.getElementById('memberid');
      let password = document.getElementById('memberpw');
      
      if (id.value == '' || password.value == '') {
        alert('ID와 비밀번호를 입력하세요.');
        return false; 
      }
      return true;
    }
    </script>
</head>
<body>
    <div class="body">
      <!-- 내비게이션 -->
      <div id="navi" class="navi">
        <img src="/cocktail_platform/src/main/resources/static/image/logo44.png" alt="logo" class="logo" />
      </div>
      <div class="sec1">
        <div class="inner_body">
          <!-- 아이디, 비밀번호, 확인 BT -->
          <div class="input">
            <input type="text" id="memberId" name="memberId" placeholder="아이디"/>
            <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호"/>
            <input type="submit" value="로그인" />
          </div>
          <!-- SNS 로그인 BT -->
          <div class="loginBT">
            <div>
              <p>SNS 로그인</p>
            </div>
            <div>
              <img src="/cocktail_platform/src/main/resources/static/image/sns_googleIcon.png" alt="sns_icon1" />
              <img src="/cocktail_platform/src/main/resources/static/image/sns_naverIcon.svg" alt="sns_icon2" />
              <img src="/cocktail_platform/src/main/resources/static/image/sns_facebookIcon.png" alt="sns_icon3" />
            </div>
          </div>
        </div>
      </div>
        <div class="sec2">
          <p><a th:href="@{/personal/member/join}">회원가입 &nbsp;</a></p>
          <p><a th:href="@{/personal/member/findId}">| 아이디 찾기 &nbsp;</a></p>
          <p><a th:href="@{/personal/member/resetPw}">| 비밀번호 찾기 &nbsp;</a></p>
        </div>
    </div>
    </div>
</body>
</html>

