<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script>
      $(document).ready(function(){
          
      });
      
      function submitChk(){
          let id = $('#id').val();
          let pw = $('#pw').val();
      
          $.ajax({
                  url:'checkId', 
                  type:'post', 
                  data:{id:id},
                  success:function(cnt){ 
                      if(cnt == 0){  
                          alert("아이디를 다시 입력해주세요");
                          id == '';
                      } else { 
                          submit();
                      }
                  },
                  error:function(){
                      alert("에러입니다");
                  }
              });
      
      }
      
      function idChk(){
          let id = $('#id').val();
          let regId = /^[a-z]{6,12}$/g
      
          if(!regId.test(id)){
          $('#output1').html('아이디는 6~12자리 영문자를 포함해야합니다.');
          return false;
        }
          else{
              $('#output1').html('');
             return true;
          }
      }
      
      function pwChk(){
          let pw = $('#pw').val();
          let regPw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
      
          if(!regPw.test(pw)){
              $('#output2').html('비밀번호는 8~15자리 숫자/문자/특수문자를 포함해야합니다.');
          return false;
          }else{
            $('#output2').html('');
            return true;
          }
      }
      
      
      </script>
      <link rel="stylesheet" th:href="@{/CSS/login.css}">
  </head>
  <body></body>
</html>
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <div>
      <!-- 내비게이션 -->
      <div id="navi">
        <img src="" alt="logo" />
      </div>
      <div id="body">
        <!-- 아이디, 비밀번호, 확인 BT -->
        <div>
          <input type="text" id="memberid" name="memberid" placeholder="아이디"/>
          <input type="password" id="memberpw" name="memberpw" placeholder="비밀번호"/>
          <input type="submit" value="로그인" />
        </div>
        <!-- SNS 로그인 BT -->
        <div>
          <div>
            <p>SNS 로그인</p>
          </div>
          <div>
            <img src="" alt="sns_icon1" />
            <img src="" alt="sns_icon2" />
            <img src="" alt="sns_icon3" />
          </div>
        </div>
      </div>
    </div>
    <div id="bt">
      <p><a th:href="/corporate/member/join">회원가입</a></p>
      <p><a th:href="/corporate/member/findId">아이디 찾기</a></p>
      <p><a th:href="/corporate/member/resetPw">비밀번호 찾기</a></p>
    </div>
  </body>
</html>
