<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filtail-Personal</title>
  <link rel="stylesheet" href="./slide.css" />
  <meta charset="UTF-8" />
  <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../../static/CSS/personal/personalmain.css">
<!-- vs code -->
<link rel="stylesheet" th:href="@{/CSS/personal/personalmain.css}">
<!-- thymeleaf -->
  <script>
    $(document).ready(function(){
      $(".filter").click(onFilterCilck);
      getBestCocktails();
      personalRecommend();
      orderRecommend();
      weatherRecommend();
      ageRecommend();
      companionRecommend();
      eventRecommend();
    });

    let isLoggedIn = null;
    function getBestCocktails(){
      isLoggedIn = $("#loggedIn").html();
      $.ajax({
        url:'getBestCocktails',
        type:'get',
        dataType:'json',
        success:function(list){
          showList("best3", list);
        },
        error:function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function showList(target, list){
      let targetDiv = $("#" + target);
      targetDiv.html('');

      $(list).each(function(i, item){
        if(i >= 3)
          return;

        targetDiv.append(`
          <div class="box">
            <a href="/FitTail/personal/wiki?cocktailCode=${item.cocktailCode}">
              <img
                src="/FitTail/image/cocktails/${item.savedFilename}"
                class="boxImg"
                alt="${target}${i}"
              />
              <strong class="pd_title">${item.cocktailName}</strong><br>
              <br>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </a>
          </div>
          `);
      });
    }

    function personalRecommend(){
      if(isLoggedIn == 'false'){
        $("#mainbox2_1").hide();
        return;
      }

      let memberId = $("#loginId").html();
      $.ajax({
        url:'customizedRecommendation',
        type:'get',
        dataType:'json',
        success:function(list){
          showList("customeRecommend", list);
        },
        error: function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function orderRecommend(){
      if(isLoggedIn == 'false'){
        $("#mainbox2_2").hide();
        return;
      }

      $.ajax({
        url:'recommendForMe',
        type:'get',
        dataType:'json',
        success: function(list){
          showList("orderRecommend", list);
        }
      });
    }
  
    function weatherRecommend(filter = 'sunny'){
      let targetText = $("#weatherText")
      if(filter == 'sunny')
        targetText.html('화창한');
      else if(filter == 'cloudy')
        targetText.html('흐린');
      else if(filter == 'rainy')
        targetText.html('비가 오는');
      else
        targetText.html('눈 내리는');

      $.ajax({
        url:'weatherRecommend',
        type:'get',
        data: {filter : filter},
        dataType:'json',
        success:function(list){
          showList("weather", list);
        },
        error: function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function ageRecommend(filter = '20'){
      let targetText = $("#ageText")
      if(filter == '20')
        targetText.html('20대가');
      else if(filter == '30')
        targetText.html('30대가');
      else if(filter == '40')
        targetText.html('40대가');
      else
        targetText.html('50대 이상이');

      $.ajax({
        url:'ageRecommend',
        type:'get',
        data: {filter : filter},
        dataType:'json',
        success:function(list){
          showList("age", list);
        },
        error: function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function companionRecommend(filter = 'alone'){
      let targetText = $("#companionText")
      if(filter == 'alone')
        targetText.html('혼자서');
      else if(filter == 'friend')
        targetText.html('친구와');
      else if(filter == 'family')
        targetText.html('가족과');
      else if(filter == 'lover')
        targetText.html('연인과');
      else
        targetText.html('주변 사람들과');

      $.ajax({
        url:'companionRecommend',
        type:'get',
        data: {filter : filter},
        dataType:'json',
        success:function(list){
          showList("companion", list);
        },
        error: function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function eventRecommend(filter = 'cocktail'){
      let targetText = $("#eventText")
      if(filter == 'cocktail')
        targetText.html('칵테일을');
      else if(filter == 'atmosphere')
        targetText.html('분위기를');
      else if(filter == 'friendship')
        targetText.html('우정을');
      else
        targetText.html('특별한 순간을');

      $.ajax({
        url:'eventRecommend',
        type:'get',
        data: {filter : filter},
        dataType:'json',
        success:function(list){
          showList("event", list);
        },
        error: function(e){
          console.log(JSON.stringify(e));
        }
      });
    }
  
    function onFilterCilck(){
      let cls = $(this).attr('filterClass');
      let filter = $(this).attr('filterValue');
      console.log("class : " + cls + " filter : " + filter);

      if(cls == 'weather')
        weatherRecommend(filter);
      else if(cls == 'age')
        ageRecommend(filter);
      else if(cls == 'companion')
        companionRecommend(filter);
      else if(cls == 'event')
        eventRecommend(filter);
    }
  </script>
</head>
<body>
  
  <div class="navi">  <!-- Header   -->
    <div class="navi1"> 
        <a th:href="@{/personal/member/mainHome}">
          <img th:src="@{/image/logo_title.png}" alt="logo"></a>
    </div>
    <div class="navi2">
      <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/personal/searchPage}">
          <span id="loggedIn" style="display: none;">false</span>
          <img th:src="@{/image/btn_search.png}" alt="search"></a>
      </div>
      <div sec:authorize="isAuthenticated()">
        <span id="loggedIn" style="display: none;">true</span>
        <span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;
        <span><a th:href="@{/member/logout}">로그아웃</a></span>
        <span><a th:href="@{/personal/member/myPage}">마이페이지</a></span>
        <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
      </div>
   </div>
</div>  
	<!-- End Header -->
<div class="body">
  
  <div class="wrapper"><!-- wrapper   -->
    <img th:src="@{/image/bn_l.png}" alt="b_left">
    <img th:src="@{/image/bn_r.png}" alt="b_rigth">
    <img th:src="@{/image/img3.jpg}" alt="banner">
  </div>
  <!--/wrapper--></div>

    <!-- ======= main ======= -->
    <main id="main">
      <div>
        <a th:href="@{/personal/store/list}"  class="marketlist">매장 전체보기
        <img th:src="@{/image/arrow.png}" alt="arrow"></a>
      </div>

      
      <!-- ======= mainbox1 : 인기상품 ======= -->
      <section id="top3" class="mainbox1">
        <div class="best_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>인기 상품</strong><br>
            </a>
          </div>
          <div class="row" id="best3">
            
          </div>
        </div>
      </section>
      <!-- ======= End mainbox1 : 인기상품 ======= -->
      <!-- ======= mainbox2-1 : 추천상품(맞춤) ======= -->
      <section id="mainbox2_1" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong> <span th:text="${#authentication.name}"></span>님을 위한 추천 상품</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#맑음</span>
            <span>#20대</span>
            <span>#혼술</span>
            <span>#특별한 순간을 위해</span>
          </div>
          <div class="row" id="customeRecommend">
          </div>
        </div>
      </section>
      <!-- ======= End mainbox2-1 : 추천상품 ======= -->
      <!-- ======= mainbox2-2 : 추천상품(주문내역) ======= -->
      <section id="mainbox2_2" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong> <span th:text="${#authentication.name}"></span>님이 많이 찾으신 상품</strong>
            </a>
          </div>
          <div class="row" id="orderRecommend">
          </div>
        </div>
      </section>
      <!-- ======= End mainbox2 : 추천상품 ======= -->
      <!-- ======= mainbox3 : 추천상품(날씨) ======= -->
      <section id="mainbox3" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>오늘같이 &nbsp;<span id="weatherText">비가 오는</span>&nbsp; 날에는?</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span class="filter" filterClass="weather" filterValue="sunny">#맑음</span>
            <span class="filter" filterClass="weather" filterValue="cloudy">#흐림</span>
            <span class="filter" filterClass="weather" filterValue="rainy">#비</span>
            <span class="filter" filterClass="weather" filterValue="snowy">#눈</span>
          </div>
          <div class="row" id="weather">
          </div>
        </div>
      </section>
      <!-- ======= End mainbox3 : 추천상품(날씨) ======= -->
      <!-- ======= mainbox4 : 추천상품(연령대) ======= -->
      <section id="mainbox4" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong> <span id="ageText">20대가</span>&nbsp; 많이 찾아요</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span class="filter" filterClass="age" filterValue="20">#20대</span>
            <span class="filter" filterClass="age" filterValue="30">#30대</span>
            <span class="filter" filterClass="age" filterValue="40">#40대</span>
            <span class="filter" filterClass="age" filterValue="50">#50대 이상</span>
          </div>
          <div class="row" id="age">
          </div>
        </div>
      </section>
      <!-- ======= End mainbox4 : 추천상품(연령대) ======= -->
      <!-- ======= mainbox5 : 추천상품(상대) ======= -->
      <section id="mainbox5" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong> <span id="companionText">친구와</span>&nbsp; 많이 마셔요</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span class="filter" filterClass="companion" filterValue="alone">#혼술</span>
            <span class="filter" filterClass="companion" filterValue="friend">#친구</span>
            <span class="filter" filterClass="companion" filterValue="family">#가족</span>
            <span class="filter" filterClass="companion" filterValue="lover">#연인</span>
            <span class="filter" filterClass="companion" filterValue="etc">#그 외</span>
          </div>
          <div class="row" id="companion">
          </div>
        </div>
      </section>
      <!-- ======= End mainbox5 : 추천상품(상대) ======= -->
      <!-- ======= mainbox6 : 추천상품(이벤트) ======= -->
      <section id="mainbox6" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong> <span id="eventText">특별한 순간을</span>&nbsp; 즐기고 싶을 때는?</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span class="filter" filterClass="event" filterValue="cocktail">#칵테일을 즐기기 위해</span>
            <span class="filter" filterClass="event" filterValue="atmosphere">#분위기를 즐기기 위해</span>
            <span class="filter" filterClass="event" filterValue="friendship">#친목을 위해</span>
            <span class="filter" filterClass="event" filterValue="celebrate">#특별한 순간을 위해</span>
          </div>
          <div class="row" id="event">
          </div>

        </div>
      </section>
      <!-- ======= End mainbox6: 추천상품(이벤트) ======= -->
                <!--
    <img src="../../static/image/back_img1.png" alt="back_img1">
    <img src="../../static/image/back_img2.png" alt="back_img2">

    <img th:src="@{/image/back_img1.png}" alt="back_img1"></a>
    <img th:src="@{/image/back_img2.png}" alt="back_img2"></a>
-->
    </main>
  </div>
    <footer>
      <div  class="bin"></div>
      <div class="footer">
        <p>쇼핑 가이드 &nbsp;|&nbsp; FAQ &nbsp;|&nbsp; 반품・교환에 대해 &nbsp;|&nbsp; 문의 &nbsp;|&nbsp; 배송 정보 &nbsp;|&nbsp; 점포 일람 <br>
          기업 사이트 &nbsp;|&nbsp; 모집 &nbsp;|&nbsp; 개인 정보 보호 정책 &nbsp;|&nbsp; 특정 상거래법에 따른 기재</p>
      </div> 
      <div class="footer1">
        <p>FitTail ©︎  The perfect cocktail for you</p>
      </div> 
    </footer>

  </body>
</html>