<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filtail-Personal</title>
  <link rel="stylesheet" href="./slide.css" />
  <meta charset="UTF-8" />
  <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../../static/CSS/personal/personalmain.css">
 <!-- vs code  
    -->

   
    <link rel="stylesheet" th:href="@{/CSS/personal/personalmain.css}">
    <!-- thymeleaf
    -->
</head>
<body>
  
  <div class="navi">  <!-- Header   -->
    <div class="navi1"> 
        <a th:href="@{/personal/member/mainHome}">
          <img th:src="@{/image/logo_title.png}" alt="logo"></a>
    </div>
    <div class="navi2">
      <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/personal/searchPage}">
          <img th:src="@{/image/btn_search.png}" alt="search"></a>
      </div>
      <div sec:authorize="isAuthenticated()" class="navi2_1">
        <span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;
        <span><a th:href="@{/member/logout}">로그아웃</a></span>
        <span><a th:href="@{/personal/member/myPage}">마이페이지</a></span>
        <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
      </div>
   </div>
</div>  
	<!-- End Header -->
<div class="body">
  
  <div class="wrapper"><!-- wrapper   -->
    <img th:src="@{/image/img1.jpg}" alt="banner">
  </div>
  <!--/wrapper--></div>

    <!-- ======= main ======= -->
    <main id="main">
      <div>
        <a th:href="@{/personal/store/list}"  class="marketlist">매장 전체보기
        <img th:src="@{/image/arrow.png}" alt="arrow"></a>
      </div>

      
      <!-- ======= mainbox1 : 인기상품 ======= -->
      <section id="mainbox1" class="mainbox1">
        <div class="best_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>인기 상품</strong><br>
            </a>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="인기 상품"
                />
              </a>
              <p><b>칵테일대모험</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">얼린 초딩</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="인기 상품"
                />
              </a>
              <p><b>칵테일대모험</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">슈의 미용실</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="인기 상품"
                />
              </a>
              <p><b>칵테일대모험</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">농협은행</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox1 : 인기상품 ======= -->
      <!-- ======= mainbox2 : 추천상품 ======= -->
      <section id="mainbox2" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>님을 위한 추천 상품</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#맑음</span>
            <span>#20대</span>
            <span>#혼술</span>
            <span>#특별한 순간을 위해</span>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="추천 상품"
                />
              </a>
              <p><b>알중제조기</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">마라엽떡민초</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="추천 상품"
                />
              </a>
              <p><b>알중제조기</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">토마토마토</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="추천 상품"
                />
              </a>
              <p><b>알중제조기</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">초코비</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox2 : 추천상품 ======= -->
      <!-- ======= mainbox3 : 추천상품(날씨) ======= -->
      <section id="mainbox3" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>오늘같이 비가 오는 날에는?</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#맑음</span>
            <span>#흐림</span>
            <span>#비</span>
            <span>#눈</span>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="날씨별 추천상품"
                />
              </a>
              <p><b>칵테일대마왕</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">코코볼냠냠</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="날씨별 추천상품"
                />
              </a>
              <p><b>칵테일대마왕</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">오이헤이터모임</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="날씨별 추천상품"
                />
              </a>
              <p><b>칵테일대마왕</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">탱탱볼</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox3 : 추천상품(날씨) ======= -->
      <!-- ======= mainbox4 : 추천상품(연령대) ======= -->
      <section id="mainbox4" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>00님과 비슷한 20대가 많이 찾아요</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#20대</span>
            <span>#30대</span>
            <span>#40대</span>
            <span>#50대 이상</span>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="연령대별 추천 상품"
                />
              </a>
              <p><b>오타쿠모임</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">눈아나오늘석식스파게티</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="연령대별 추천 상품"
                />
              </a>
              <p><b>오타쿠모임</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">오이는 싫은데 피클은 좋아</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="연령대별 추천 상품"
                />
              </a>
              <p><b>오타쿠모임</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">눈아내여자닉가</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox4 : 추천상품(연령대) ======= -->
      <!-- ======= mainbox5 : 추천상품(상대) ======= -->
      <section id="mainbox5" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>친구와 많이 마셔요</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#혼술</span>
            <span>#친구</span>
            <span>#연인</span>
            <span>#가족</span>
            <span>#그 외</span>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="상대별 추천 상품"
                />
              </a>
              <p><b>포켓몬마스터</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">하트사탕공예마휘핑</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="상대별 추천 상품"
                />
              </a>
              <p><b>포켓몬마스터</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">이상해씨풀꽃</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="상대별 추천 상품"
                />
              </a>
              <p><b>포켓몬마스터</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">푸푸린푸리리린</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox5 : 추천상품(상대) ======= -->
      <!-- ======= mainbox6 : 추천상품(이벤트) ======= -->
      <section id="mainbox6" class="mainbox1">
        <div class="recommend_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>특별한 순간을 즐기고 싶을 때는?</strong>
            </a>
          </div>
          <div class="prd_ctg">
            <span>#칵테일을 즐기기 위해</span>
            <span>#분위기를 즐기기 위해</span>
            <span>#친목을 위해</span>
            <span>#특별한 순간을 위해</span>
          </div>
          <div class="row">
            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="이벤트별 추천 상품"
                />
              </a>
              <p><b>케이팝노인정</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">코요태짱이찌</strong><br>
              </a>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="이벤트별 추천 상품"
                />
              </a>
              <p><b>케이팝노인정</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">겨자케챱치킨막걸리</strong><br>
              </a>
              <p>
                Repudiandae amet nihil natus in distinctio suscipit id.
                Doloremque ducimus ea sit non.
              </p>
            </div>

            <div class="box">
              <a th:href="@{/}">
                <img
                  th:src="@{/image/temp.jpg}"
                  class="boxImg"
                  alt="이벤트별 추천 상품"
                />
              </a>
              <p><b>케이팝노인정</b></p>
              <a th:href="@{/}">
                <strong class="pd_title">가라가라갇혀확갇혀</strong><br>
              </a>
              <p>
                Quam rem vitae est autem molestias explicabo debitis sint. Vero
                aliquid quidem commodi.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End mainbox6: 추천상품(이벤트) ======= -->
    </main>
  </div>
    <footer>
      <div  class="bin"></div>
      <div class="footer">
        <p>쇼핑 가이드 &nbsp;|&nbsp; FAQ &nbsp;|&nbsp; 반품・교환에 대해 &nbsp;|&nbsp; 문의 &nbsp;|&nbsp; 배송 정보 &nbsp;|&nbsp; 점포 일람 <br>
          기업 사이트 &nbsp;|&nbsp; 모집 &nbsp;|&nbsp; 개인 정보 보호 정책 &nbsp;|&nbsp; 특정 상거래법에 따른 기재</p>
      </div> 
      <div class="footer1">
        <p>FitTail ©︎  The perfect cocktail for you</p>
      </div> 
    </footer>
  </body>
</html>