<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link rel="favicon" href="../static/image/ico/favicon.ico">
    <link rel="favicon" th:href="@{CSS/image/ico/favicon.ico}">

    <link rel="stylesheet" href="../../static/CSS/personal/myPage.css">
    <!-- vs code
    -->
    <link rel="stylesheet" th:href="@{/CSS/personal/myPage.css}">
    <!-- thymeleaf
    -->
    
<script th:inline="javascript">
    var items = /*[[${items}]]*/ [];
</script>

<script>
    // 반복문을 사용하여 리스트 아이템을 생성하고 HTML에 추가
    const listContainer = document.getElementById("list");
    const items = ["항목 1", "항목 2", "항목 3", "항목 4"];

    for (let i = 0; i < items.length; i++) {
        const listItem = document.createElement("li");
        listItem.textContent = items[i];
        listContainer.appendChild(listItem);
    }

</script>
    
</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>  
    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sidebar">
            <!-- sec1 start-->
            <div class="sec1">
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderList}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/reserveList}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
                <div class="title2">마이페이지</div>
                    <div class="flex">
                        <div class="con1">
                            <p>* 기본정보
                            <table>
                                <tr>
                                    <th>아이디</th>
                                    <td th:text="${member.memberId}"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td th:text="${member.memberName}"></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td th:text="${member.email}"></td>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td th:text="${member.phone}"></td>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td th:text="${member.birthday}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="con2">
                            <p>* 취향 정보
                            <table>
                                <tr>
                                    <th>맛</th>
                                    <td th:each="item : ${taste.taste}" id="tasteList">
                                        <span th:if="${item} == 'sweet'">단맛</span>
                                        <span th:if="${item} == 'sour'">신맛</span>
                                        <span th:if="${item} == 'bitter'">쓴맛</span>
                                        <span th:if="${item} == 'salty'">짠맛</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>향</th>
                                    <td  th:each="item : ${taste.flavor}" id="flavorList">
                                        <span th:if="${item} == 'alcohol'">알코올향</span>
                                        <span th:if="${item} == 'coffee&chocolate'">커피/초콜릿향</span>
                                        <span th:if="${item} == 'general'">과일향</span>
                                        <span th:if="${item} == 'citrus'">시트러스향</span>
                                        <span th:if="${item} == 'tropical'">트로피컬향</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>알러지</th>
                                    <td th:text="${taste.allergyType}" id="list"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</body>
</html>