<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/CSS/personal/myPage.css}">
</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <img src="" alt="search">
        <img src="" alt="logo">
    </div>
    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sideber">
            <!-- sec1 start-->
            <div class="sec1">
                <div>
                    <div>내 정보 관리</div>
                    <div>공지 <br> 사항</div>
                </div>
                
                <div>
                    <input type="button" value="주문내역" class="bottom" onclick="orderlist()">
                    <input type="button" value="주문내역" class="bottom" onclick="orderlist()">
                    <input type="button" value="주문내역" class="bottom" onclick="orderlist()">
                </div>
                <div>
                    <a th:href="@{/}">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
                <div>마이페이지</div>
                <div>
                    <p>기본정보</p>
                    <form th:action="@{/member/update}"  method="post" onsubmit="return check();">
                        <table th:each="member : ${member}">
                            <tr>
                                <th>아이디</th>
                                <td th:text="${member.memberId}"></td>
                            </tr>
                            <tr>
                                <th>이름</th>
                                <td th:text="${member.memberName}"></td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td th:text="${member.email}"></td>
                                <td><input type="button" name="email" th:value="${member.email}" value="변경"></td>
                            </tr>
                            <tr>
                                <th>전화번호</th>
                                <td th:text="${member.phone}"></td>
                                <td><input type="button" name="phone" th:value="${member.phone}" value="변경"></td>
                            </tr>
                            <tr>
                                <th>생년월일</th>
                                <td th:text="${member.birthday}"></td>
                                <td><input type="button" name="birthday" th:value="${member.birthday}" value="변경"></td>
                            </tr>
                            <tr>
                                <td><input type="button" name="memberPw" th:value="${member.memberPw}" value="비밀번호 변경"></td>
                            </tr>
                        </table>
                        </form>	
                </div>
                <!-- 취향  -->
                <div>
                    <p>내 취향 태그</p>
                    <p>skdjfsd</p>
                    <p>skdjfsd</p>
                    <p>skdjfsd</p>
                    <p>skdjfsd</p>
                    
                </div>
            </div>
        </div>
        <!-- section -->
        <div class="sections">
                dhfgdgfdgf
        </div>
    </div>
</body>
</html>

<!-- 
    추가해야할 것들:
    생일 변경 

    <td><input type="text" name="email" th:value="${member.email}"></td>
-->
