<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>

  <!-- vs code  
    <link rel="stylesheet" href="../../static/CSS/personal/OrderList.css">
    -->


    <link rel="stylesheet" th:href="@{/CSS/personal/OrderList.css}">
    <!-- thymeleaf
    -->
</head>
<body>
   <!-- ------navi------   -->
    <div class="navi">  
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p th:text="${#authentication.name}">님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>
    <!-- ------navi end------  -->

    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sideber">
            <!-- sec1 start-->
            <div class="sec1">
                <div>
                    <p class="title1">내 정보 관리</p>
                </div>
                
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderlist}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">

            <div class="title2">주문 내역</div>
                <div class="con1">
                    <form th:action="@{/member/update}"  method="post" onsubmit="return check();">
                        <table>
                            <tr>
                                <th>매장명</th>
                                <th>예약자명</th>
                                <th>상품명</th>
                                <th>주문갯수</th>
                                <th>주문일시</th>
                            </tr>
                        </table>
                    </form>	
                </div>
                <div class="con2">
                    <div th:if="${#lists.isEmpty(orderList)}">예약 내역이 없습니다.</div>
                    <table th:if="${#lists.isEmpty(orderList) != true}">
                        <tr th:each="item : ${orderList}">
                            <td th:text="${order.storeName}"> 
                                <br>
                                <a th:href="@{/perseonal/store/reviewWrite}">리뷰 작성</a>
                            </td>
                            <td th:text="${order.storeName}">qweqweqw</td>
                            <td th:text="${order.storeName}">qweqweqw</td>
                            <td th:text="${order.storeName}">qweqweqw</td>
                            <td th:text="${order.storeName}">qweqweqw</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</body>
</html>

