<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 상세보기</title>
    <link rel="stylesheet" href="../../static/CSS/personal/OrderDetails.css">
    <link rel="stylesheet" th:href="@{/CSS/personal/OrderDetails.css}">
    <!-- 
        <link rel="preconnect" th:href="https://fonts.googleapis.com">
        <link rel="preconnect" th:href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gasoek+One&family=Schoolbell&display=swap" rel="stylesheet">
    -->
        
</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>  
    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sidebar">
            <!-- sec1 start-->
            <div class="sec1">
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderList}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/reserveList}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
                <div class="title2">주문 상세</div>
                <div class="con1">
                <table>
                    <tr>
                        <td>주문 번호</td>
                        <td th:text="${order.orderCode}"></td>
                    </tr>
                    <tr>
                        <td>매장명</td>
                        <td>
                            <a th:href="@{/personal/store/storeDetail(storeCode=${order.storeCode})}">
                                <span th:text="${order.storeName}"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>주문 일자</td>
                        <td th:text="${order.orderDate}"></td>
                    </tr>
                    <tr>
                        <td>주문 상태</td>
                        <td th:text="${order.orderState}"></td>
                    </tr>
                    <tr>
                        <td>총 금액</td>
                        <td th:text="${order.totalPrice}"></td>
                    </tr>
                </table>
                <table th:each="item : ${orderList}">
                    <tr>
                        <td>메뉴</td>
                        <td th:text="${item.menuName}"></td>
                    </tr>
                    <tr>
                        <td>단가</td>
                        <td th:text="${item.pricePerOne}"></td>
                    </tr>
                    <tr>
                        <td>주문 갯수</td>
                        <td th:text="${item.orderCount}"></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>