<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
 
    <link rel="stylesheet" href="../../static/CSS/personal/OrderList.css">
   
  <!-- vs code  -->


    <link rel="stylesheet" th:href="@{/CSS/personal/OrderList.css}">
    <!-- thymeleaf
    -->
</head>
<body>
   <!-- ------navi------   -->
    <div class="navi">  
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지</a>  &nbsp; &nbsp;
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>
    <!-- ------navi end------  -->

    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sideber">
            <!-- sec1 start-->
            <div class="sec1">
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderList}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/reserveList}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
            <div class="title2">주문 내역</div>
                <div class="con1">
                    <table>
                        <tr>
                            <th>주문 번호</th>
                            <th>매장명</th>
                            <th>주문 금액</th>
                            <th>주문 일자</th>
                            <th>주문 상태</th>
                        </tr>
                    </table>
                </div>
                <div class="con2">
                    <div th:if="${#lists.isEmpty(orderList)}">예약 내역이 없습니다.</div>
                    <table th:if="${#lists.isEmpty(orderList) != true}">
                        <tr th:each="order : ${orderList}">
                            <td> 
                                <a th:href="@{/personal/member/orderInfo(orderCode=${order.orderCode})}">
                                    <span th:text="${order.orderCode}"></span> <br>
                                </a>
                                <a th:href="@{/personal/member/evaluation(orderCode=${order.orderCode})}">리뷰 작성</a>
                            </td>
                            <td th:text="${order.storeName}"></td>
                            <td th:text="${order.totalPrice}"></td>
                            <td th:text="${order.orderDate}"></td>
                            <td>
                            	<p th:if="${order.orderState == 'apply'}">대기</p>
                            	<p th:if="${order.orderState == 'received'}">수락</p>
                            	<p th:if="${order.orderState == 'refused'}">거절</p>
                           	</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</body>
</html>

