<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>취향 카테고리 설정</title>

    <!-- vs code
    <link rel="stylesheet" href="../../static/CSS/personal/myPage.css">

    -->


    <link rel="stylesheet" th:href="@{/CSS/personal/myPage.css}">
    <!-- thymeleaf
    -->

</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>  
    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sidebar">
            <!-- sec1 start-->
            <div class="sec1">
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderList}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/reserveList}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
                <div class="title2">취향 카테고리 설정</div>
                    <div class="flex">
                        <div class="con1">
                            <p>* 취향 재설정
                            <form th:action="@{/personal/member/resetTaste}"  method="post">
                            <input type="hidden" name="tasteCode" th:value="${taste.tasteCode}">
                                <table>
                                    <tr>
                                        <th>
                                            <p>#맛</p>
                    
                                            <input type="checkbox"  name="taste" value="sweet"> 단맛 
                                            
                                            <input type="checkbox"  name="taste" value="sour"> 신맛 
                                            
                                            <input type="checkbox"  name="taste" value="bitter"> 쓴맛 
                                            
                                            <input type="checkbox"  name="taste" value="salty"> 짠맛 
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <p>#향</p>
                    
                                            <input type="checkbox"  name="flavor" value="alcohol"> 알코올 향 
                                            
                                            <input type="checkbox"  name="flavor" value="coffee&chocolate"> 커피/초콜릿 향 
                                            
                                            <input type="checkbox"  name="flavor" value="general"> 일반 과일 향
                                            
                                            <input type="checkbox"  name="flavor" value="citrus"> 시트러스 향

                                            <input type="checkbox"  name="flavor" value="tropical"> 열대과일 향
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>#알러지 유무</p>
                    
                                            <input type="radio"  name="hasAllergy" value="1"> 예

                                            <input type="radio"  name="hasAllergy" value="0"> 아니오 <br>
                                            <p>*알러지 종류</p>
                                            <input type="text" name="allergyType" placeholder="예) 아몬드">
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" value="취향 재설정">
                            </form>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>