<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTail - 예약 내역</title>

   
    <link rel="stylesheet" href="../../static/CSS/personal/ReserveList.css">
 <!-- vs code
    -->


    <link rel="stylesheet" th:href="@{/CSS/personal/ReserveList.css}">
    <!-- thymeleaf
    -->

</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>  
    <!-- main -->
    <div class="main">
        <!-- sidebar-->
        <div class="sidebar">
            <!-- sec1 start-->
            <div class="sec1">
                <div class="order">
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="마이페이지" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/orderlist}"><input type="button" value="주문내역" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/myPage}"><input type="button" value="예약내역" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div class="order">
                    <p> <a th:href="@{/personal/member/editPrivacyInfo}"><input type="button" value="개인정보 설정" class="orderHistory" onclick="orderlist()"></a></p>
                    <p> <a th:href="@{/personal/member/resetTaste}"><input type="button" value="취향 카테고리 설정" class="orderHistory" onclick="orderlist()"></a></p>
                </div>
                <div>
                    <a th:href="@{/member/quitMember}" name="out">탈퇴하기</a>
                </div>
            </div>
            <!-- sec2 start-->
            <div class="sec2">
                <div class="title2">예약 내역</div>
                <table class="con1">
                    <tr>
                        <td>예약 번호</td>
                        <td>매장명</td>
                        <td>예약 일자</td>
                        <td>예약 상태</td>
                    </tr>
                </table>
                <div style="display: flex;">
                    <form th:action="@{/personal/store/reserve}" method="post">
                        <input type="text" name="storeCode" value="1"><br>
                        <input type="text" name="reserveDate" placeholder="일자"><br>
                        <input type="text" name="reserveTime" placeholder="시간"><br>
                        <input type="number" name="reserveHead" placeholder="인원"><br>
                        <input type="text" name="reservationName" placeholder="이름"><br>
                        <input type="text" name="reservationPhone" placeholder="핸드폰"><br>
                        <input type="text" name="request" placeholder="요청"><br>
                        <input type="submit" value="기업1 예약">
                    </form>
                    <form th:action="@{/personal/store/reserve}" method="post">
                        <input type="text" name="storeCode" value="2"><br>
                        <input type="text" name="reserveDate" placeholder="일자"><br>
                        <input type="text" name="reserveTime" placeholder="시간"><br>
                        <input type="number" name="reserveHead" placeholder="인원"><br>
                        <input type="text" name="reservationName" placeholder="이름"><br>
                        <input type="text" name="reservationPhone" placeholder="핸드폰"><br>
                        <input type="text" name="request" placeholder="요청"><br>
                        <input type="submit" value="기업2 예약">
                    </form>
                    <form th:action="@{/personal/store/reserve}" method="post">
                        <input type="text" name="storeCode" value="3"><br>
                        <input type="text" name="reserveDate" placeholder="일자"><br>
                        <input type="text" name="reserveTime" placeholder="시간"><br>
                        <input type="number" name="reserveHead" placeholder="인원"><br>
                        <input type="text" name="reservationName" placeholder="이름"><br>
                        <input type="text" name="reservationPhone" placeholder="핸드폰"><br>
                        <input type="text" name="request" placeholder="요청"><br>
                        <input type="submit" value="기업3 예약">
                    </form>
                    <form th:action="@{/personal/store/reserve}" method="post">
                        <input type="text" name="storeCode" value="4"><br>
                        <input type="text" name="reserveDate" placeholder="일자"><br>
                        <input type="text" name="reserveTime" placeholder="시간"><br>
                        <input type="number" name="reserveHead" placeholder="인원"><br>
                        <input type="text" name="reservationName" placeholder="이름"><br>
                        <input type="text" name="reservationPhone" placeholder="핸드폰"><br>
                        <input type="text" name="request" placeholder="요청"><br>
                        <input type="submit" value="기업4 예약">
                    </form>
                </div>
                <div class="con2" th:if="${#lists.isEmpty(reserveList)}">예약 내역이 없습니다.</div>
                <table class="con2" th:if="${#lists.isEmpty(reserveList) != true}">
                    <tr th:each="rsv : ${reserveList}">
                        <td>
                            <a th:href="@{/personal/member/reserveInfo(reserveCode=${rsv.reserveCode})}">
                                <span th:text="${rsv.reserveCode}"></span>
                            </a>
                        </td>
                        <td th:text="${rsv.storeName}"></td>
                        <td th:text="${rsv.reserveDate}"></td>
                        <td th:text="${rsv.reserveState}"></td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>