<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTail - 검색</title>
    <link rel="stylesheet" th:href="@{/CSS/personal/search.css}">
    <link rel="stylesheet" href="../../static/CSS/personal/search.css">
    
    
<!-- <link rel="preconnect" th:href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" th:href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gasoek+One&family=Schoolbell&display=swap" rel="stylesheet"> -->
	<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
	<script>
		$(document).ready(function(){
			$("#search").click(search);
		});
		
		let cat = null;
		function search(){
			cat = $("#category").val();
			let word = $("#searchWord").val();
			console.log("category : " + cat + " search word : " + word);
			$.ajax({
				url: 'search',
				data: {category: cat, searchWord: word},
				type: 'json',
				dataType: 'get',
				success: function(list){
					showList(list);
				},
				error: function(e){
					console.log(JSON.stringify(e));
				}
			});
		}

		function showList(list){
			$(list).each(function(i, item){
				$("#list").append(`
				<div class="con_box">
					${cat == "ingredirents" 
						? `` 
						: `<a th:href="${cat == "cocktail" 
							? `@{personal/wiki?cocktailCode=${item.cocktailCode}}` 
							: `@{personal/store/storeDetail?storeCode=${item.storeCode}}`}">`}
					<div class="con_box1" >
						<img src="${cat == "ingredirents" 
							? `${item.ingredientName}.png` 
							: `${item.savedFilename}`}" alt="con_box${i}">
					</div>
					<div>
						${cat == "store" ? `<p th:text="${item.storeName}">매장명</p>` : ``}
						${cat == "cocktail" ? `<p th:text="${item.cocktailName}">상품명</p>
						<p th:text="${item.cocktailAlcohol}">상품 설명</p>` : ``}
						${cat == "ingredients" ? `<p th:text="${item.ingredientName}">재료명</p>` : ``}
					</div>
					${cat == "ingredirents" ? `` : `}</a>`}
				</div>
				`);
			})
		}
	</script>
</head>

<body>
   <!-- ------navi------   -->
    <div class="navi">  
        <div class="navi1">
            <a th:href="@{/personal/home}">
				<img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
			<div sec:authorize="!isAuthenticated()">
			  <a th:href="@{/member/login}">로그인</a>
			  <a th:href="@{/personal/searchPage}">
				<img th:src="@{/image/btn_search.png}" alt="search"></a>
			</div>
			<div sec:authorize="isAuthenticated()">
			  <span><a th:href="@{/member/logout}">로그아웃</a></span>
			  <span><a th:href="@{/personal/member/myPage}">마이페이지</a></span>
			  <a th:href="@{/personal/searchPage}">
				<img th:src="@{/image/btn_search.png}" alt="search"></a>
			</div>
    </div>
    <!-- ------navi end------  -->


	<!-- -----search box-----  -->
    <div class="search">
    	<select id="category">
    		<option value="store">매장</option>
    		<option value="cocktail">칵테일</option>
    		<option value="ingredients">재료</option>
    	</select>
        <input id="searchWord" type="text" >
		<input type="button" id="search" value="검색">
    </div>
	<!-- -----search box end-----  -->
	<div id="list" class="flex"></div>

</body>

