<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>가게 상세 페이지</title>
    <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <script>
      $(document).ready(function () {
    	  
      });
</script>
<link rel="stylesheet" th:href="@{/CSS/}">
</head>
<body>
<main>
	<section>
		<!-- 탭 이름 -->
		<div class="tab_title">
			<ul>
				<li class="on">메뉴(<span></span>)</li>
				<li>리뷰(<span></span>)</li>
				<li>매장 정보</li>
				<li>예약하기</li>
			</ul>
		</div>
		<!-- 탭 내용 -->
		<div class="tab_cont">
			<!-- 메뉴탭 내용 -->
			<div id="tab_menu" class="on">
				<!-- 대표 메뉴 사진 -->
				<div>
				</div>
				<!-- 전체 메뉴 리스트 출력 -->
				<!-- 메뉴 이름, 메뉴 설명, 가격, 이미지 -->
				<div id="menuList"></div>
			</div>
			<!-- 메뉴탭 내용 -->
			<div id="tab_orderList">
				<!-- 주문 내역 출력 -->
				<div id="orderList"></div>
			</div>
		</div>
</section>
</main>
	
</body>
</html>