<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8" />
<title>가게 상세 페이지</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function () {
	// 처음 로딩될 때 모든 탭 내용을 감춤
	$(".tab_cont").hide();
	// 처음 로딩될 때 on 클래스가 붙은 탭 내용을 보여줌
    $(".tab_cont.on").show();
    
  	//탭 메뉴 클릭시 해당 내용 보여주기
    $(".tab_title li").click(function (){
    	//선택된 요소의 data-tab 속성(li의 id 붙여줌)을 변수에 넣어줌
    	var tab_id = $(this).attr('data-tab');
        //li, 내용에서 on이라는 클래스를 없앤다.
        $(".tab_title li").removeClass("on");
        $(".tab_content").removeClass("on");
        //전체 탭 내용 가림
        $(".tab_cont").hide();
        //선택한 요소에 on이라는 클래스를 붙여준다.
        $(this).addClass("on");
        //선택한 요소에 해당하는 내용에 클래스 붙이고 해당하는 id를 가진 tab_cont 클래스의 div(선택한 탭의 내용물)를 보여준다.
        $("#"+tab_id).addClass("on").show();
    });
  	
  	//전체 메뉴 목록 받아오기
    function init(){
    	let storeCode = $('#storeCode').html();
    	
    	$.ajax({
    		url: "menuList",
    		type: "get",
    		dataType: "json",
    		data: {storeCode: storeCode},
    		success: function(list){
    			getList(list);
    		},
    		error: function(){
    			alert('error');
    		}
    	});
    }
	
  	//리스트 출력
    function getList(list){
    	let str = '<table><tr>';
    	$(list).each(function(i,item){
    		let fileName = item.savedFilename;
    		
    		str += '<td><a href="/FitTail/personal/store/menuInfo?menuNum=' + item.menuNum 
    				+ '"><img src="/FitTail/image/cocktails/' + fileName + '"></a></td></tr>';
			str += '<tr><td><a href="/FitTail/personal/store/menuInfo?menuNum=' + item.menuNum 
					+ '">' + item.menuName + '</a></td></tr>';
    		str += '<tr><td>' + item.price + '</td>';
    		str += '</tr>';
    	});
    	str += '</table>';
    	$('#menuList').html(str);
    }
    init();
    reviewScore();
});

//별점 가져오기
function reviewScore(){
    let score = parseFloat($('#storeReviewScore').val());
    let str1 = '';

    for(let i = 0 ; i < 5; i++){  
        if(i < Math.floor(score)){  // 정수 부분은 full 별표시
        	str1 += '<img src="/FitTail/image/cocktail_colored.png">';
        } else if(score % 1 !== 0 && i === Math.floor(score)){ //0.5 단위인 경우 반 별표시
        	str1 += '<img src="/FitTail/image/cocktail_half.png">';
        } else {
        	str1 += '<img src="/FitTail/image/cocktail_non.png">'; // 나머지는 빈 별표시
        }
    }
    $('#starDiv').html(str);
}

/**storeCode 넣어주기*/
$('#storeCode2').val(storeCode);

/**인원수 선택 증감*/
function count(type)  {
  //결과를 표시할 element
  let headnum = $('#headnum').html();
  
  //더하기/빼기
  if(type === 'plus' && headnum < 5) {
	  headnum = parseInt(headnum) + 1;  
  }else if(type === 'minus' && headnum > 1) {
	  headnum = parseInt(headnum) - 1;
  }else {
		alert('인원수를 확인해주세요.');
		return false;
	}
  
  //결과 출력
  $("#headnum").text(headnum);
  $("#reserveHead").val(headnum);
}

//이름 유효성 검사
function nameChk(){
	let name = $('#reservationName').val();
	let nameLength = name.length;
	
	if(nameLength < 2 ||  nameLength > 9){
		$('#errMsg1').html('이름은 2-10자로 입력해주세요.');
		return false;
	}
	else{
		$('#errMsg1').html('');
		return true;
	}
}

//휴대폰 번호 유효성 검사
function phoneChk(){
	let phone = $('#reservationPhone').val();
    let regPhone = /^010[0-9]{4}[0-9]{4}$/;

    if(!regPhone.test(phone)){
        $('#errMsg2').html('전화번호 형식이 올바르지 않습니다.');
        return false;
    }
    else{
        $('#errMsg2').html('');
      	//하이픈을 추가하여 전화번호 형식으로 변환
        phone = phone.replace(/^(\d{3})(\d{4})(\d{4})$/, '$1-$2-$3');
        $('#phone').val(phone);
        return true;
    }
}

//개인 정보 수집 및 제공 동의 유효성
function agreeChk(){
	//개인 정보 수집 및 제공 동의 유무
	if($("input:radio[name='agree']").is(":checked") == false){
        alert('개인정보 수집 및 이용 미동의 시 참여 불가');
        $('#agree').focus();  //해당 라디오버튼으로 포커스 이동.
        return false;
    }
	else{
		return true;
	}
}

/**예약 폼 유효성 검사 */
function reserveValid(){
	if(!nameChk() || !phoneChk() || !agreeChk()) {
		return false;
	}
	else return true;
}

/**예약 폼 제출*/
function reserveSub(){
	let reserveTime = $('#reserveTime').val().toString();
	$('#reserveTime2').val(reserveTime);
	
	if(reserveValid){
		return true;
	}else return false;
}

</script>
<link rel="stylesheet" th:href="@{/CSS/personal/storeDetail.css}">
<link rel="stylesheet" href="../../static/CSS/personal/storeDetail.css">
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<div class="navi">  <!-- Header   -->
		<div class="navi1"> 
			<a th:href="@{/personal/home}">
			  <img th:src="@{/image/logo_title.png}" alt="logo"></a>
		</div>
		<div class="navi2">
		  <div sec:authorize="!isAuthenticated()">
			<a th:href="@{/member/login}">로그인</a>
			<a th:href="@{/personal/searchPage}">
			  <img th:src="@{/image/btn_search.png}" alt="search"></a>
		  </div>
		  <div sec:authorize="isAuthenticated()">
			<span><a th:href="@{/member/logout}">로그아웃</a></span>
			<span><a th:href="@{/personal/member/myPage}">마이페이지</a></span>
			<a th:href="@{/personal/searchPage}">
			  <img th:src="@{/image/btn_search.png}" alt="search"></a>
		  </div>
	   </div>
	</div>  
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
<main>
	<!-- 기본 매장 정보 영역(매장 이미지, 매장명, 별점) -->
	<div class="store_box">
		<div class="s_box_left">
			<div><span th:text="${store.storeCode}" id="storeCode" style="display:none;"></span></div>
			<div class="s_img"><img th:src="@{/image/store/} + ${store.savedFilename}"></div>
		</div>
		<div class="s_box_right">
			<div><span th:text="${store.storeName}" class="s_name"></span></div>
			<div>
				<div id="starDiv" class="s_star"></div>
				<div><span th:text="${store.storeReviewScore}"></span>/5</div>
			</div>
		</div>
	</div>
	<br>
	<!-- 탭 메뉴 영역 -->
	<section>
		<!-- 탭 이름 -->
		<div>
			<ul class="tab_title">
				<li class="tab_link on" data-tab="tab_menu">메뉴</li>
				<li class="tab_link" data-tab="tab_review">리뷰</li>
				<li class="tab_link" data-tab="tab_storeInfo">매장 정보</li>
				<li class="tab_link" data-tab="tab_reserve">예약하기</li>
			</ul>
		</div>
		<br>
		<!-- 탭 내용 -->
		<div>
			<!-- 메뉴탭 내용 -->
			<div id="tab_menu" class="tab_cont on">
				<!-- 대표 메뉴 사진
				<div id="menu_img">
					<img th:src="">
					<img th:src="">
					<img th:src="">
					<img th:src="">
				</div> -->
				<p>인기 메뉴</p>
				<div id="popularList"></div>
				<!-- 전체 메뉴 리스트 출력 -->
				<!-- 메뉴 이름, 메뉴 설명, 가격, 이미지 -->
				<p>전체 메뉴</p>
				<div id="menuList"></div>
			</div>
			<!-- 리뷰탭 내용 -->
			<div id="tab_review" class="tab_cont">
				<!-- 별점, 리뷰 리스트(아이디, 별점, 사진, 리뷰 내용, 취향 태그) 출력 -->
				<div id="star"></div>
				<p><span th:text="${store.storeReviewScore}"></span>/5</p>
				<hr>
				<div id="reviewList"></div>
			</div>
			<!-- 매장 정보 탭 내용 -->
			<div id="tab_storeInfo" class="tab_cont">
				<!-- 매장 소개, 업체 정보(영업시간, 전화번호, 매장주소, 부가정보), 업체 정보(상호명, 사업자 등록번호), 원재료 정보 출력 -->
				<table th:each="store: ${store}">
					<tr>
						<th colspan="2">
							<span>매장 소개</span>
						</th>
					</tr>
					<tr>
						<td colspan="2">
							<span th:text="${store.info}"></span>
						</td>
					</tr>
					<tr>
						<th colspan="2">업체 정보</th>
					</tr>
					<tr>
						<td>
							<span>영업 시간</span>
						</td>
						<td>
							<span th:text="${store.runningTime}"></span>
						</td>
					<tr>
						<td>
							<span>전화 번호</span>
						</td>
						<td>
							<span th:text="${store.phone}"></span>
						</td>
					</tr>
					<tr>
						<td>
							<span>매장 주소</span>
						</td>
						<td>
							<span th:text="${store.address1}"></span><span th:text="${store.address2}"></span>
						</td>
					</tr>
					<tr>
						<th colspan="2">
							사업자 정보<hr>
						</th>
					</tr>
					<tr>
						<td>
							<span>상호명</span>
						</td>
						<td>
							<span th:text="${store.storeName}"></span>
						</td>
					</tr>
					<tr>
						<td>
							<span>사업자 번호</span>
						</td>
						<td>
							<span th:text="${store.brn}"></span>
						</td>
					</tr>
					<!--
						<tr>
							<th>
								<span>원재료 정보</span><hr>
							</th>
							<td>
								<span th:text="${ingredient.ingredientName}"></span>
							</td>
						</tr> 
					 -->
				</table>
			</div>
			<!-- 예약하기 탭 내용 -->
			<div id="tab_reserve" class="tab_cont">
				<!-- 날짜 선택(캘린더),시간 선택, 인원 선택, 예약자 정보 출력 -->
				<form id="reserveForm" th:action="@{/personal/store/reserve}" method="post" onsubmit="reserveSub()">
					<p>날짜 선택</p>
					<input type="date" name="reserveDate" required="required">
					<p>시간 선택</p>
					<div id="timeContainer">
						<input type="time" id="reserveTime" required="required">
						<input type="hidden" id="reserveTime2" name="reserveTime">
					</div>
					<div id="head_count">
						<p>인원 선택</p>
						<div id="head_select">
							<p>방문하시는 인원을 선택해주세요.</p>
							<input type="button" onclick="count('minus')" value="-">
							<span id="headnum">1</span>
							<input type="hidden" id="reserveHead" name="reserveHead">
							<input type="button" onclick="count('plus')" value="+">
						</div>
					</div>
					<div id="reserve_info">
						<p>예약자 정보</p>
						<input type="text" id="reservationName" name="reservationName" placeholder="예약자" 
						onkeyup="nameChk()" required="required"><br>
						<p id="errMsg1"></p>
						<input type="text" id="reservationPhone" name="reservationPhone" placeholder="연락처(- 없이)"
						onkeyup="phoneChk()" required="required"><br>
						<p id="errMsg2"></p>
						<input type="text" name="request" placeholder="요청 사항"><br>
						<label>개인 정보 수집, 제공 동의<input type="radio" name="agree" id="agree"></label>
					</div>
					<input type="hidden" id="storeCode" name="storeCode" th:value="${store.storeCode}">
					<br>
					<input type="submit" value="예약 신청하기">
				</form>
			</div>
		</div>
	</section>
</main>
	
</body>
</html>