<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8" />
<title>매장 전체보기</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>

</script>
<link rel="stylesheet" th:href="@{/CSS/personal/storeList.css}">
<link rel="stylesheet" href="../../static/CSS/personal/storeList.css">
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p><span th:text="${#authentication.name}"></span>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/searchPage}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>   
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
<main>
	<section class="flex_box" th:each="store : ${list}">
		<!-- <div id="storeListDiv"></div>> -->
		<div class="storeInfo">
			<a th:href="@{/personal/store/storeDetail(storeCode=${store.storeCode})}">
				<div>
					<img th:src="@{/image/store/} + ${store.savedFilename}" alt="store image">
				</div>
				<p th:text="${store.storeName}"></p>
				<p th:text="${store.storeReviewScore}"></p>
				<p th:text="${store.info}"></p>
			</a>
		</div>
	</section>
</main>
</body>
</html>