<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8" />
<title>가게 상세 페이지</title>
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
<script>
$(document).ready(function () {
	init();
    $(".tab_title li").click(getIndex());
});

//전체 목록 받아오기
function init(){
	$.ajax({
		url: "menuList",
		type: "get",
		dataType: "json",
		success: function(list){
			getList(list);
		},
		error: function(){
			alert('error');
		}
	});
}

//별점 가져오기
function reviewScore(){
	let star = $('#storeReviewScore').val();
    var str = '';

    for(var i = 0 ; i < 5; i++){  
		if(star-i >0 || star-i <1){
			str += '별 반개짜리 이미지';
		}       
		else if(i < star) {
       		str  +=   '★' ;  
      	}else{
       		str  +=  '☆' ;
     	}
    } 
    $('#starDiv').html(str);
}

//리스트 출력
function getList(list){
	let str = '<table><tr>';
	$(list).each(function(i,item){
		str += '<td>' + item.menuName + '</td>';
		str += '<td>' + item.menuInfo + '</td>';
		str += '<td>' + item.price + '</td></tr>';
		str += '<tr><td rowspan="4">' + item.savedFilename + '</td>';
		str += '</tr>';
	});
	str += '</table>';
	$('#menunList').html(str);
}

//인덱스
function getIndex(){
	//(.tab_title li를 누르면)선택된 요소의 index 얻어서 idx라는 변수에 넣어주기
	var idx = $(this).index();
    //li에서 on이라는 클래스를 없앤다.
    $(".tab_title li").removeClass("on");
    //선택한 요소의 인덱스 번호에 해당하는 요소를 찾아서 on이라는 클래스를 붙여준다.
    $(".tab_title li").eq(idx).addClass("on");
    //tab_cont 클래스의 div(전체 탭의 내용물)를 다 감춘다.
    $(".tab_cont > div").hide();
    //인덱스 번호에 해당하는 tab_cont 클래스의 div(선택한 탭의 내용물)를 보여준다. 
    $(".tab_cont > div").eq(idx).show();
}

let nowMonth = new Date();  // 현재 달을 페이지를 로드한 날의 달로 초기화
let today = new Date();     // 페이지를 로드한 날짜를 저장
today.setHours(0,0,0,0);    // 비교 편의를 위해 today의 시간을 초기화

//달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣는다.
function buildCalendar(){
	
let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1);     // 이번달 1일
let lastDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, 0);  // 이번달 마지막날

let tbody_Calendar = document.querySelector(".Calendar > tbody");
document.getElementById("calYear").innerText = nowMonth.getFullYear();             // 연도 숫자 갱신
document.getElementById("calMonth").innerText = leftPad(nowMonth.getMonth() + 1);  // 월 숫자 갱신

   while (tbody_Calendar.rows.length > 0) {                        // 이전 출력결과가 남아있는 경우 초기화
       tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
   }

   let nowRow = tbody_Calendar.insertRow();        // 첫번째 행 추가           

   for (let j = 0; j < firstDate.getDay(); j++) {  // 이번달 1일의 요일만큼
       let nowColumn = nowRow.insertCell();        // 열 추가
   }

   for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay.getDate() + 1)) {   // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

       let nowColumn = nowRow.insertCell();        // 새 열을 추가하고
       nowColumn.innerText = leftPad(nowDay.getDate());      // 추가한 열에 날짜 입력

   
       if (nowDay.getDay() == 0) {                 // 일요일인 경우 글자색 빨강으로
           nowColumn.style.color = "#DC143C";
       }
       if (nowDay.getDay() == 6) {                 // 토요일인 경우 글자색 파랑으로 하고
           nowColumn.style.color = "#0000CD";
           nowRow = tbody_Calendar.insertRow();    // 새로운 행 추가
       }
       if (nowDay < today) {                       // 지난날인 경우
           nowColumn.className = "pastDay";
       }
       else if (nowDay.getFullYear() == today.getFullYear() && nowDay.getMonth() == today.getMonth() && nowDay.getDate() == today.getDate()) { // 오늘인 경우           
           nowColumn.className = "today";
           nowColumn.onclick = function () { choiceDate(this); }
       }
       else {                                      // 미래인 경우
           nowColumn.className = "futureDay";
           nowColumn.onclick = function () { choiceDate(this); }
       }
   }
}

	// 날짜 선택
	function choiceDate(nowColumn) {
	    if (document.getElementsByClassName("choiceDay")[0]) {                              // 기존에 선택한 날짜가 있으면
	        document.getElementsByClassName("choiceDay")[0].classList.remove("choiceDay");  // 해당 날짜의 "choiceDay" class 제거
	    }
	    nowColumn.classList.add("choiceDay");           // 선택된 날짜에 "choiceDay" class 추가
	}
	
	// 이전달 버튼 클릭
	function prevCalendar() {
	    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1, nowMonth.getDate());   // 현재 달을 1 감소
	    buildCalendar();    // 달력 다시 생성
	}
	// 다음달 버튼 클릭
	function nextCalendar() {
	    nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1, nowMonth.getDate());   // 현재 달을 1 증가
	    buildCalendar();    // 달력 다시 생성
	}
	
	// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
	function leftPad(value) {
	    if (value < 10) {
	        value = "0" + value;
	        return value;
	    }
   	return value;
}

</script>
<link rel="stylesheet" th:href="@{/CSS/}">
</head>
<body>
<!-- 헤더 -->
<header id="header" class="header">
	<!-- 네비게이션바 -->
	<nav id="navbar" class="navbar">
    	<div class="search">
   			<a th:href="@{/search}" class="search_logo">
    			<img th:src="@{/image/btn_search.png}" alt="검색">
    		</a>
    	</div>
    
	    <div id="logo">
	    	<a th:href="@{/personal/home}" class="navbar_logo">
	       		<img th:src="@{/image/logo.png}" alt="logo">
	       		<span>FitTail</span>
	     	</a>
	    </div>
	
    	<div class="navbar_right">
    		<div sec:authorize="!isAuthenticated()">
	    		<a th:href="@{/member/login}">로그인</a>
	    	</div>
	    	<div sec:authorize="isAuthenticated()">
	    		<a th:href="@{/member/logout}">로그아웃</a>
	    		<a th:href="@{/personal/member/mypage}">마이페이지</a>
	    	</div>
	   </div>
  </nav>
  <!-- 네비게이션바 끝 -->
</header>
<!-- 헤더 끝 -->
<!-- 메인 시작 -->
<main>
	<!-- 기본 매장 정보 영역(매장 이미지, 매장명, 별점) -->
	<div>
		<table>
			<tr>
				<td>
					<span th:text="${store.storeName}"></span>
				</td>
				<td>
					<span th:text="${store.savedFilename}"></span>
				</td>
			</tr>
			<tr>
				<td>
					<div id="starDiv"></div>
				</td>
				<td>
					<p><span th:text="${store.storeReviewScore}"></span>/5<p>
				</td>
			</tr>
		</table>
	</div>
	<!-- 탭 메뉴 영역 -->
	<section>
		<!-- 탭 이름 -->
		<div class="tab_title">
			<ul>
				<li class="on">메뉴(<span></span>)</li>
				<li>리뷰(<span></span>)</li>
				<li>매장 정보</li>
				<li>예약하기</li>
			</ul>
		</div>
		<!-- 탭 내용 -->
		<div class="tab_cont">
			<!-- 메뉴탭 내용 -->
			<div id="tab_menu" class="on">
				<!-- 대표 메뉴 사진 -->
				<div id="menu_img">
					<img th:src="">
					<img th:src="">
					<img th:src="">
					<img th:src="">
				</div>
				<p>인기 메뉴</p>
				<div id="popularList"></div>
				<!-- 전체 메뉴 리스트 출력 -->
				<!-- 메뉴 이름, 메뉴 설명, 가격, 이미지 -->
				<p>전체 메뉴</p>
				<div id="menuList"></div>
			</div>
			<!-- 리뷰탭 내용 -->
			<div id="tab_review">
				<!-- 별점, 리뷰 리스트(아이디, 별점, 사진, 리뷰 내용, 취향 태그) 출력 -->
				<div id="star"></div>
				<p><span th:text="${store.storeReviewScore}"></span>/5</p>
				<hr>
				<div id="reviewList"></div>
			</div>
			<!-- 매장 정보 탭 내용 -->
			<div id="tab_storeInfo">
				<!-- 매장 소개, 업체 정보(영업시간, 전화번호, 매장주소, 부가정보), 업체 정보(상호명, 사업자 등록번호), 원재료 정보 출력 -->
				<div id="reviewList">
				<p>매장 소개</p>
				<hr>
				<p th:text="${store.info}"></p>
				<p>업체 정보</p>
				<hr>
				<span>영업시간</span>
				<span th:text="${store.runningTime}"></span><br>
				<span>전화번호</span>
				<span th:text="${store.phone}"></span><br>
				<span>매장주소</span>
				<span th:text="${store.address1}"></span><span th:text="${store.address2}"></span><br>
				<p>사업자 정보</p>
				<hr>
				<span>상호명</span>
				<span th:text="${store.storeName}"></span><br>
				<span>사업자 번호</span>
				<span th:text="${member.brn}"></span><br>
				<p>원재료 정보</p>
				<span th:text="${ingredient.ingredientName}"></span><br>
				<hr>
				
				</div>
			</div>
			<!-- 예약하기 탭 내용 -->
			<div id="tab_reserve">
				<!-- 날짜 선택(캘린더),시간 선택, 인원 선택, 예약자 정보 출력 -->
				<div id="reviewList">
				<form></form>
				<p>날짜 선택</p>
					<table class="Calendar">
				        <thead>
				            <tr>
				            	<!-- &#60; = < -->
				                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
				                <td colspan="5">
				                    <span id="calYear"></span>년
				                    <span id="calMonth"></span>월
				                </td>
				                <!-- &#62; = < -->
				                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
				            </tr>
				            <tr>
				                <td>일</td>
				                <td>월</td>
				                <td>화</td>
				                <td>수</td>
				                <td>목</td>
				                <td>금</td>
				                <td>토</td>
				            </tr>
				        </thead>
				        <tbody>
				        </tbody>
    </table>
				<p>시간 선택</p>
				
				<p>인원 선택</p>
				
				<p>예약자 정보</p>
				</div>
			</div>
		</div>
	</section>
</main>
	
</body>
</html>