<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste</title>

<link rel="stylesheet" href="../../static/CSS/personal/taste.css">
<!-- vs code
-->

<link rel="stylesheet" th:href="@{/CSS/personal/taste.css}">
<!-- thymeleaf
-->

</head>
<body>
    <div>
        <h1>개인 취향 선택</h1>
        <form id="taste" th:action="@{/personal/member/taste}" method="post" >
            <div class="con">
                <div class="in_con1">
                    <p>#맛</p>
                    
                        단맛 <input type="checkbox" name="taste" value="sweet">
                        
                        신맛<input type="checkbox" name="taste" value="sour">
                        
                        쓴맛<input type="checkbox" name="taste" value="bitter">
                        
                        짠맛<input type="checkbox" name="taste" value="salty">
                    
                </div>
                <div class="in_con2">
                    <p>#향</p>
                    
                        알코올 향 <input type="checkbox"  name="flavor" value="alcohol">
                        
                        커피/초콜릿 향<input type="checkbox"  name="flavor" value="coffee&chocolate">
                        
                        일반 과일 향<input type="checkbox"  name="flavor" value="general">
                        
                        시트러스 향<input type="checkbox"  name="flavor" value="citrus">

                        열대과일 향<input type="checkbox"  name="flavor" value="tropical">
                    
                </div>
                <div class="in_con3">
                    <p>#알러지 유무</p>
                    
                        예<input type="radio"  name="hasAllergy" value="1">

                        아니오<input type="radio"  name="hasAllergy" value="0"> <br>
                        <p>*알러지 종류</p>
                        <input type="text" name="allergyType" placeholder="예) 아몬드">
                        
                    
                </div>
            </div>
            <div>
                <input type="hidden" name="memberId" th:value="${memberId}">
                <input type="submit" value="저장">
            </div>
        </form>
    </div>
</body>
</html>