<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste</title>
    <script th:src="@{/CSS/personal/taste}"></script>

</head>
<body>
    <h1>개인 취향 선택</h1>
    <div>
        <p>#맛</p>
        <form>
            단맛 <input type="checkbox"  name="taste" value="sweet" class="btn btn-primary" for="btn-check">
            
            신맛<input type="checkbox"  name="taste" value="sour">
            
            쓴맛<input type="checkbox"  name="taste" value="bitter">
            
            짠맛<input type="checkbox"  name="taste" value="salty">
        </form>
    </div>
    <div>
        <p>#향</p>
        <form>
            알코올 향 <input type="checkbox"  name="flavor" value="alcohol">
            
            커피/초콜릿 향<input type="checkbox"  name="flavor" value="coffee&chocolate">
            
            일반 과일 향<input type="checkbox"  name="flavor" value="general">
            
            시트러스 향<input type="checkbox"  name="flavor" value="citrus">

            열대과일 향<input type="checkbox"  name="flavor" value="tropical">
        </form>
    </div>
    <div>
        <p>#알러지 유무</p>
        <form>
            예<input type="radio"  name="status" value="yes">

            아니오<input type="radio"  name="status" value="no"> <br>
            <p>*알러지 종류</p>
            <input type="text" name="status" placeholder="예) 아몬드">
        </form>
    </div>
    <div>
        <input type="submit" value="가입">
    </div>
</body>
</html>