<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <title>Document</title>
</head>
<body>
    <!-- navi -->
    <div>
        <img src="" alt="search">
        <img src="" alt="logo">
        <p>~님 환영합니다.</p>
        <p><a href="">로그아웃</a></p>
        <p><a href="">마이페이지</a></p>
        <img src="" alt="notice">
    </div>
    <!-- title -->
    <div class="title">
        <p>칵테일 위키</p>
    </div>
    <div class="">
        <div class="c_img">
                <img src="" alt="cocktail_image">
        </div>
        <div class="c_con">
            <div>
                <p>칵테일이름</p>
            </div>
            <div>
                <p>칵테일설명</p>
            </div>
            <div>
                <p>칵테일향</p>
            </div>
            <div>
                <p>대상</p>
            </div>
            <div>
                <p>주요 재료</p>
            </div>
            <div>
                <p>도수</p>
            </div>
        </div>
    </div>
    <div class="mid">
        <div>
            <p>~를 파는 매장에서 직접 즐겨볼까요?</p>
        </div>
        <div>
            <div class="inside_box">
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
        </div>
        <div>
            <img src="" alt="view_more">
        </div>
    </div>
</body>
</html>