<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <title>Document</title>
</head>

        <!-- vs code
    <link rel="stylesheet" href="../../static/CSS/personal/wiki.css">

    -->


    <link rel="stylesheet" th:href="@{/CSS/personal/wiki.css}">
    <!-- thymeleaf
    -->

</head>
<body>
   
    <div class="navi">  <!-- navi   -->
        <div class="navi1">
            <a th:href="@{/personal/home}"><img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
            <p th:text="${member.memberId}"> </p>
            <p>님 환영합니다.  &nbsp;</p>
            <a th:href="@{/member/logout}">로그아웃  &nbsp;</a>
            <a th:href="@{/personal/member/myPage}">마이페이지  &nbsp; &nbsp;</a>
            <a th:href="@{/personal/search}"><img th:src="@{/image/btn_search.png}" alt="search"></a>
        </div>
    </div>  
    <!-- title -->
    <div class="title">
        <p>칵테일 위키</p>
    </div>
    <div class="">
        <div class="c_img">
                <img src="" alt="cocktail_image">
        </div>
        <div class="c_con">
            <div>
                <p>칵테일이름</p>
            </div>
            <div>
                <p>칵테일설명</p>
            </div>
            <div>
                <p>칵테일향</p>
            </div>
            <div>
                <p>대상</p>
            </div>
            <div>
                <p>주요 재료</p>
            </div>
            <div>
                <p>도수</p>
            </div>
        </div>
    </div>
    <div class="mid">
        <div>
            <p>~를 파는 매장에서 직접 즐겨볼까요?</p>
        </div>
        <div>
            <div class="inside_box">
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <div>상품명</div>
                    <div>매장주소</div>
                    <div>가격</div>
                </div>
            </div>
        </div>
        <div>
            <img src="" alt="view_more">
        </div>
    </div>
</body>
</html>