<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
    <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <title>칵테일 Wiki</title>
    <link rel="favicon" href="../static/image/ico/favicon.ico">
    <link rel="favicon" th:href="@{CSS/image/ico/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../../static/CSS/personal/wiki.css">
        <!-- vs code
    -->
    <link rel="stylesheet" th:href="@{/CSS/personal/wiki.css}">
    <!-- thymeleaf -->
    <script>
    $(document).ready(function(){
      $(".filter").click(onFilterCilck);
      getBestCocktails();
    });

    let isLoggedIn = null;
    function getBestCocktails(){
      isLoggedIn = $("#loggedIn").html();
      $.ajax({
        url:'getBestCocktails',
        type:'get',
        dataType:'json',
        success:function(list){
          showList("best3", list);
        },
        error:function(e){
          console.log(JSON.stringify(e));
        }
      });
    }

    function showList(target, list){
      let targetDiv = $("#" + target);
      targetDiv.html('');

      $(list).each(function(i, item){
        if(i >= 3)
          return;

        targetDiv.append(`
          <div class="box">
            <a href="/FitTail/personal/wiki?cocktailCode=${item.cocktailCode}">
              <img
                src="/FitTail/image/cocktails/${item.savedFilename}"
                class="boxImg"
                alt="${target}${i}"
              />
              <strong class="pd_title">${item.cocktailName}</strong><br>
              <br>
              <p>
                Eum ad dolor et. Autem aut fugiat debitis voluptatem
                consequuntur sit. Et veritatis id.
              </p>
            </a>
          </div>
          `);
      });
    }
    
    function onFilterCilck(){
        let cls = $(this).attr('filterClass');
        let filter = $(this).attr('filterValue');
        console.log("class : " + cls + " filter : " + filter);

        if(cls == 'weather')
          weatherRecommend(filter);
        else if(cls == 'age')
          ageRecommend(filter);
        else if(cls == 'companion')
          companionRecommend(filter);
        else if(cls == 'event')
          eventRecommend(filter);
      }
    </script>
    
</head>
<body>
<div class="body">
    <div class="navi">  
        <div class="navi1">
            <a th:href="@{/personal/home}">
				<img th:src="@{/image/logo_title.png}" alt="logo"></a>
        </div>
        <div class="navi2">
			  <span><a th:href="@{/member/logout}">로그아웃</a></span>
			  <span><a th:href="@{/personal/member/myPage}">마이페이지</a></span>
			  <a th:href="@{/personal/searchPage}">
				<img th:src="@{/image/btn_search.png}" alt="search"></a>
		</div>
    </div>
    <!-- title =====================================================-->
    <div class="title">
        <p>칵테일 위키</p>
    </div>
    <div class="contents">
      <div class="con1">
        <div class="c_img">
          <img th:src="|@{/image/cocktails/}${cocktail.savedFilename}|" alt="cocktail_image">
        </div>
        <div class="c_con">
            <div class="c_con_inner">
                <p class="sub_title">칵테일이름</p>
                <p th:text="${cocktail.cocktailName}"></p>
            </div>
            <div class="c_con_inner">
                <p class="sub_title">칵테일 맛</p>
                <span th:each="item : ${cocktail.taste}" id="tasteList">
                    <span th:if="${item} == 'sweet'">단맛</span>
                    <span th:if="${item} == 'sour'">신맛</span>
                    <span th:if="${item} == 'bitter'">쓴맛</span>
                    <span th:if="${item} == 'salty'">짠맛</span>
                  </span>
            </div>
            <div class="c_con_inner">
                <p class="sub_title">칵테일 향</p>
                <span th:each="item : ${cocktail.flavor}" id="colorList">
                  <span th:if="${item} == 'alcohol'">알코올향</span>
                  <span th:if="${item} == 'coffee&chocolate'">커피/초콜릿향</span>
                  <span th:if="${item} == 'general'">과일향</span>
                  <span th:if="${item} == 'citrus'">시트러스향</span>
                  <span th:if="${item} == 'tropical'">트로피컬향</span>
                </span>
            </div>
            <div class="c_con_inner">
                <p class="sub_title">칵테일 색</p> 
                <span th:each="item : ${cocktail.color}" id="flavorList">
                    <span th:if="${item} == 'transparent'">투명한색</span>
                    <span th:if="${item} == 'white'">하얀색</span>
                    <span th:if="${item} == 'black'">어두운색</span>
                    <span th:if="${item} == 'red'">빨간색</span>
                    <span th:if="${item} == 'orange'">주황색</span>
                    <span th:if="${item} == 'yellow'">노란색</span>
                    <span th:if="${item} == 'green'">초록색</span>
                    <span th:if="${item} == 'blue'">파란색</span>
                    <span th:if="${item} == 'purple'">보라색</span>
                    <span th:if="${item} == 'multi'">여러색</span>
                </span>
            </div>
            <div class="c_con_inner">
                <p class="sub_title">주요 재료</p>
                <span th:if="${cocktail.cBase} != null" th:text="${cocktail.cBase}"></span>
                <span th:if="${cocktail.cIngre1} != null" th:text="${cocktail.cIngre1}"></span>
                <span th:if="${cocktail.cIngre2} != null" th:text="${cocktail.cIngre2}"></span>
                <span th:if="${cocktail.cIngre3} != null" th:text="${cocktail.cIngre3}"></span>
                <span th:if="${cocktail.cIngre4} != null" th:text="${cocktail.cIngre4}"></span>
            </div>
            <div class="c_con_inner">
                <p class="sub_title">도수</p>
                <p th:text="${cocktail.cocktailAlcohol}"></p>
            </div>
            <hr/>
            <div class="c_con_inner">
                <p class="sub_title">대상</p>
            </div>
        </div>
        <div class="con2"></div>
      </div>
    </div>
    <div class="text">
        <div class="ex_text">
            <p><span th:text="${cocktail.cocktailName}"></span>를 파는 매장에서 직접 즐겨볼까요?</p>
        </div>
        <div class="store_list">
            <div class="inside_box" th:each="store : ${storeList}">
                <div><img th:src="@{/image/store/} + ${store.savedFilename}" alt="store_image"></div>
                <div>
                    <div th:text="${store.storeName}"></div>
                    <div th:text="|${store.address1}, ${store.address2}|"></div>
                    <div th:text="${store.storeReviewScore}" class="store_score"></div>
                </div>
            </div>
            <div class="inside_box" th:each="store : ${storeList}">
              <div><img th:src="@{/image/store/} + ${store.savedFilename}" alt="store_image"></div>
              <div>
                  <div th:text="${store.storeName}"></div>
                  <div th:text="|${store.address1}, ${store.address2}|"></div>
                  <div th:text="${store.storeReviewScore}" class="store_score"></div>
              </div>
          </div>
          <div class="inside_box" th:each="store : ${storeList}">
            <div><img th:src="@{/image/store/} + ${store.savedFilename}" alt="store_image"></div>
            <div>
                <div th:text="${store.storeName}"></div>
                <div th:text="|${store.address1}, ${store.address2}|"></div>
                <div th:text="${store.storeReviewScore}" class="store_score"></div>
            </div>
        </div>
            <div class="inside_box" th:each="store : ${storeList}">
              <div><img th:src="@{/image/store/} + ${store.savedFilename}" alt="store_image"></div>
              <div>
                  <div th:text="${store.storeName}"></div>
                  <div th:text="|${store.address1}, ${store.address2}|"></div>
                  <div th:text="${store.storeReviewScore}" class="store_score"></div>
              </div>
            </div>
            <div class="inside_box" th:each="store : ${storeList}">
              <div><img th:src="@{/image/store/} + ${store.savedFilename}" alt="store_image"></div>
              <div>
                  <div th:text="${store.storeName}"></div>
                  <div th:text="|${store.address1}, ${store.address2}|"></div>
                  <div th:text="${store.storeReviewScore}" class="store_score"></div>
              </div>
            </div>
        </div>
    </div>

    <!-- ======= mainbox1 : 인기상품 ======= -->
      <section id="top3" class="mainbox1">
        <div class="best_prd">
          <div class="main_title">
            <a th:href="@{/}">
              <strong>인기 상품</strong><br>
            </a>
          </div>
          <div class="row" id="best3">
            
          </div>
        </div>
      </section>
      <!-- ======= End mainbox1 : 인기상품 ======= -->
</div>
</body>
</html>