<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <meta charset="UTF-8">
    <title>Cocktails</title>
    <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

  
    <link rel="stylesheet" href="../static/CSS/mainHome.css">
<!-- vs code      
    -->

    <link rel="stylesheet" th:href="@{/CSS/mainHome.css}">
    <!-- thymeleaf
    -->

  </head>

  <body>
    <!---->
           
    <div class="back_img">
      <img src="../static/image/mainimg/logo.png" alt="logo">
      <img src="../static/image/mainimg/ice1.png" alt="ice1">
      <img src="../static/image/mainimg/ice2.png" alt="ice2">
      <img src="../static/image/mainimg/ice3.png" alt="ice3">
      <img src="../static/image/mainimg/ice4.png" alt="ice4">
      <img src="../static/image/mainimg/water1.png" alt="water1">
      <img src="../static/image/mainimg/water2.png" alt="water2">
      <img src="../static/image/mainimg/glass2.png" alt="glass2">
      <img src="../static/image/mainimg/lemon1.png" alt="lemon1">
      <img src="../static/image/mainimg/orange1.png" alt="orange1">
      <img src="../static/image/mainimg/orange2.png" alt="orange2">
      <img src="../static/image/mainimg/cherry2.png" alt="cherry2">
    </div>

    <div class="back_img">
      <img th:src="@{/image/mainimg/logo.png}" alt="logo">
      <img th:src="@{/image/mainimg/ice1.png}" alt="ice1">
      <img th:src="@{/image/mainimg/ice2.png}" alt="ice2">
      <img th:src="@{/image/mainimg/ice3.png}" alt="ice3">
      <img th:src="@{/image/mainimg/ice4.png}" alt="ice4">
      <img th:src="@{/image/mainimg/water1.png}" alt="water1">
      <img th:src="@{/image/mainimg/water2.png}" alt="water2">
      <img th:src="@{/image/mainimg/glass2.png}" alt="glass2">
      <img th:src="@{/image/mainimg/lemon1.png}" alt="lemon1">
      <img th:src="@{/image/mainimg/orange1.png}" alt="orange1">
      <img th:src="@{/image/mainimg/orange2.png}" alt="orange2">
      <img th:src="@{/image/mainimg/cherry2.png}" alt="cherry2">
    </div>

    <div class="body" sec:authorize="!isAuthenticated()">
    
      <div class="box1">
        <div class="title">비회원페이지</div><br>
        <div class="content"><a th:href="@{/personal/home}">비회원 홈으로
          <img th:src="@{/image/arrow.png}" alt="arrow">
        </a></div>
      </div>
      
      <div class="box2">
        <div class="title">개인/기업 회원페이지</div><br>
        <div sec:authorize="!isAuthenticated()" class="content">
        	<a th:href="@{/member/login}">회원 로그인
            <img th:src="@{/image/arrow.png}" alt="arrow">
          </a>
          
        </div>
      </div>
    </div>
<!--==============================================================================-->
    <div class="body" sec:authorize="isAuthenticated()">
      <div class="box1">
        <div class="title"><p>메인페이지</p></div><br>
        <div class="content">
          <p sec:authorize="hasRole('PERSONAL')">
            <a th:href="@{personal/home}">개인 페이지
              <img th:src="@{/image/arrow.png}" alt="arrow">
            </a>
          </p>
          
          <p sec:authorize="hasRole('CORPORATE')">
            <a th:href="@{/corporate/home}">기업 페이지
              <img th:src="@{/image/arrow.png}" alt="arrow">
            </a>
          </p>
        </div>
      </div>
      
      <div class="box2">
        <div class="title">로그아웃</div><br>
        <div class="content">
        	<a th:href="@{/member/logout}">로그아웃
            <img th:src="@{/image/arrow.png}" alt="arrow">
          </a>
          
        </div>
      </div>
    </div>
  </body>
</html>
