.sidebar{display:flex ;}

.navi{
width: 100% ;
height: 60px;
background-color: #fff;
border-bottom:2px solid #e7e7e7;
display: flex; 
justify-content: center;
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
    z-index: 1000;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    padding-right: 40px ;
    align-items: center;
    margin: auto;
}
img[alt=logo] { width: 120px;}

.body{ display: flex; }
/*========================================================================*/
/*profile icon img*/
img[alt=profile] { width: 30px;}
.profile-icon{width:100%; display:flex;}
.profile-icon p{width:100%; display:flex; margin: 8px 0px 0px 15px;}
.profile-icon p span{margin-top: 3px;  font-weight: bold;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  box-shadow: 0px 4px 20px #e2e2e2;
}

.sidebar {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px #e2e2e2;
  display: block;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  margin: 0px 20px;
}

.sidebar-divider {
  margin: 20px 0px;
  border: 1px solid #e7e7e7;
}

.nav-item ul {
  list-style: none;
  padding: 0;
}

.nav-item ul li {
  margin: 20px 0;
}

.nav-item ul li a {
  text-decoration: none;
  color: #232323;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-item ul li a:hover {
  color: #50CCAA;
}

main {
  display: flex;
  padding: 20px;
  height: 600px;
}

.banner img {
  width: 1000px;
  height: auto;
  margin: 10px auto;
  border-radius: 8px;
}

/*주문 페이지*/
.box {
  margin: none;
  width: 300px;
  height: 80px;
  line-height: 85px;
  justify-content: center;
  text-align: center;
  background-color: #50CCAA ;
  border:1px solid #50CCAA;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
    margin: 20px auto 0px;

}

.box:hover {
  background-color: #fff;
  border:1px solid #50CCAA;
  text-decoration: none;

}

/*arrow.png*/
img[alt="arrow"] {
  width: 40px;
  text-align: center;
}

/* Footer 스타일 */
footer {
  background-color: #232323;
  padding: 20px 0;
  text-align: center;
}

.footer1 p {
  font-size: 14px;
  color: #e7e7e7;
}

/*마이페이지 text*/
h1{
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 10px #e7e7e7;
}

/*회원정보*/
.memberInformation{
  width: 50%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 10px #e7e7e7;
}

/*매장 정보*/
.storeInformation{
    width: 50%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 10px #e7e7e7;
}

/*매장 이미지*/
.store_image{
  width: 250px;
}

input[type=button]{
  width:150px;
  height:30px;
  background: #50CCAA;
  border-radius:8px;
  margin: 10px 20px;
  
}

