/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
  }
  a:link {
	color: #232323;
  }
  a:visited {
	color: #454545;
  }
  a:hover {
	color: #232323;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  ol,
  ul {
	list-style: none;
  }
  blockquote,
  q {
	quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
	content: "";
	content: none;
  }
  table {
	border-collapse: collapse;
	border-spacing: 0;
  }
  /*색상 코드
  배경:                   #fff
  input-border-solid:     #e7e7e7
  강조색:                 #ff5805
  폰트 컬러 :             #232323
  조보색:                 #45B783
  
  */
  
  @import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
  @import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
  @font-face {
	font-family: "S-CoreDream-3Light";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
	  format("woff");
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'OKGUNG';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }
  
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
  /*=========================================================*/

/* 네비게이션바 스타일 설정 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50; /* 변경할 색상 */
  padding: 10px;
}

/* 로고 이미지 스타일 설정 */
.navbar_logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* 네비게이션 바 오른쪽 영역 스타일 설정 */
.navbar_right {
  display: flex;
  align-items: center;
  margin-left: auto; /* 로고 오른쪽 */
}

/* 네비게이션 바 링크 스타일 설정 */
.navbar_right a {
  text-decoration: none;
  color: #313131;
  margin-left: 20px;
}

/* 마이페이지 링크 스타일 설정 */
.navbar_right a:last-child {
  margin-left: 0;
  margin-right: 20px; 
}

/* 사이드바 스타일 설정 */
.sidebar {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  color: #313131;
  padding: 20px;
  width: 250px;
  float: left; /* 사이드바를 왼쪽으로  */
}

/* 사이드바 메뉴 리스트 스타일 설정 */
.nav-item ul {
  list-style: none;
}

/* 사이드바 메뉴 아이템 스타일 설정 */
.nav-item a {
  text-decoration: none;
  color: #313131;
  display: block;
  margin-top: 10px;
}

