.sidebar{display:flex ;}

.navi{
width: 100% ;
height: 60px;
background-color: #fff;
border-bottom:2px solid #e7e7e7;
display: flex; 
justify-content: center;
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
    z-index: 1000;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    padding-right: 40px ;
    align-items: center;
    margin: auto;
}
img[alt=logo] { width: 120px;}

.body{ display: flex; }

/* Main Content */
.main {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding-right: 20px;
    border-right: 1px solid #e7e7e7;
}

/* Profile Section */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-text p {
    margin: 0;
    font-weight: bold;
    color: #313131;
}

/* Menu List */
.nav-item ul {
    list-style-type: none;
    padding: 0;
}

.nav-item ul li {
    margin-bottom: 10px;
}

.nav-item ul li a {
    text-decoration: none;
    color: #313131;
    display: block;
}

/* 회원 탈퇴 링크 */
a[name="out"] {
    color: #ff0000; /* 탈퇴하기 링크 색상 */
    text-decoration: none;
}

a[name="out"]:hover {
    text-decoration: underline;
}

/* 메인 섹션 스타일링 */
section {
    flex-grow: 1;
    padding-left: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #313131;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #313131;
}

.memberInformation, .storeInformation {
    margin-bottom: 40px;
}

/* 회원 정보 수정 폼 스타일링 */
form {
    margin-top: 10px;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

/* 저장 버튼 스타일링 */
input[type="button"] {
    background-color: #50CCAA; /* 주조색 */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #408e83; /* 주조색에 조금 어둡게 */
}

/* 오류 메시지 스타일링 */
#errMsg1, #errMsg2, #errMsg3, #errMsg4, #errMsg5, #errMsg6, #errMsg7 {
    color: #ff0000; /* 오류 메시지 색상 */
}
