@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/
.sidebar{display:flex ;}

.navi{
  width: 100% ;
  height: 60px;
  background-color: #fff;
  border-bottom:2px solid #313131;
  display: flex; 
  justify-content: center;
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif;  
  }

img[alt=logo] { width: 120px;}

/*========================================================================*/
/*profile icon img*/
img[alt=icon] { width: 27px;}

body {
  font-family: Arial, sans-serif;
  background-color: #50CCAA;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  height: 600px;
}

table{
    width: 500px;
  justify-content: center;
  text-align: center;
  background-color: #50a0ff ;
  border:1.8px solid #313131;
  color: #414141;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
    margin: 20px auto 0px;
  padding:20px;
 margin-left:250p;
  display: flex;
}


button{
    width:150px;
  line-height:40px;
  background-color: #ff7676;
  border: 1.8px solid #313131;
  border-radius:30px;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
}


#navBar{
  display: flex;
  justify-content: center;
}

/*Ã­â€“â€žÃ«Â²â€žÃªÂ±Â° Ã«Â©â€Ã«â€°Â´*/
.hbgMenu ul li{
  width:150px;
line-height:40px;
background-color: #1e65ff;
border: 1.8px solid #313131;
border-radius:30px;
margin: 10px 5px;
display: flex;
justify-content: center;}

.
.menulist{
  background-color: #709dff;
  margin: auto;

}
.menulist img{
  width: 300px;
  height: 300px;
border: 1.8px solid #313131;
border-radius:30px;
background-color: #fff;

  
}

.menulist .name{
  color: #313131;
  position: relative;
  top: -400px;
  left: 234px;
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;  
}

.menulist .price{
  color: #505050;
  position: relative;
  top: -390px;
  left: 234px;
  font-size: 18pt;
  font-family: 'Noto Sans KR', sans-serif; 
}

.menulist .p, .menulist .m{
  color: #fff;
  position: relative;
  top: -150px;
  left: 7px;
  font-size: 32pt;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif; 
}

.menulist .menunum{
    color: #313131;
  position: relative;
  top: -140px;
  left: 7px;
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif; 
}

.cart{
    width:150px;
  line-height:40px;
  background-color: #ffd229;
  border: 1.8px solid #313131;
  border-radius:10px;
  margin: 10px 5px;
  position: relative;
  top: -150px;
  left: 7px;
}

#bottomTab{
  display: flex;
  justify-content:center;
}