/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.order-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #50CCAA;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.order-item {
    margin-bottom: 10px;
}

.order-item span {
    font-weight: bold;
}

.price-per-item {
    font-weight: normal;
}

.menu-total {
    font-size: 18px;
    margin-top: 20px;
}

#totalPrice {
    font-weight: bold;
}

#closeBtn {
    background-color: #50CCAA;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#orderBtn {
    background-color: #ff7676;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#orderBtn:hover {
    background-color: #f16969;
}
