@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/
body{
  background-color: fff;
  align-content: center;
  align-items: center;
  justify-content: center;

}

h1{
  width: 1000px; 
  font-size: 20pt; 
  height: 70px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  font-size: 22pt;
  font-family: 'Noto Sans KR', sans-serif; 
}

form{
  width: 600px;
  height: 200px;
  border: 1px solid #313131;
  border-radius: 8px;
  box-shadow: 0px 4px 10x solid #313131;
  margin: 20px auto;
  padding: 20px;

}

th{
  width: 50%;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px solid #313131;
  padding: 30px;
}

input{
  width: 250px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #313131;
  border-radius: 5px;
}

input[type=submit]{
  width: 100px;
  height: 30px;
  background-color: #50CCAA;
  border: 1px solid #313131;
  border-radius: 5px;
  color: #313131;
  font-size: 12pt;
  font-family: 'Noto Sans KR', sans-serif; 
  margin: 20px auto;

  /*가운데 정렬*/  
  display: flex;
  justify-content: center;
  margin: 10px auto;
}