@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/


/* Reset CSS */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Container Styles */
  #tab_reserve {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin-top: 100px;
  }
  

  /* Form Styles */
  form {
    text-align: left;
  }
  
  .row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .col {
    flex: 1;
    padding: 0 10px;
  }
  
  /* Sub-heading Styles */
  .sub-heading p {
    font-weight: bold;
  }
  
  /* Input Styles */
  input[type="date"],
  input[type="time"],
  input[type="text"],
  input[type="button"],
  input[type="radio"]{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    font-size: 16px;
  }

  input[type="submit"] {
  background-color: #50CCAA;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #313131;
  font-family: 'Noto Sans KR', sans-serif; 
  }

  input[value="-"],
  input[value="+"]{
    width: 40px;
    height: 40px;
    background-color: #8ccfbd;
  }
  
#head_select{
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#head_select p{
  text-align: left;
}

  /* Hidden Inputs */
  input[type="hidden"] {
    display: none;
  }
  
  /* Error Message Styles */
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Agreement Label Styles */
  label {
    font-size: 14px;
    margin-top: 10px;
  }
  

    /*h1*/
    h1{
      justify-content: center;
      margin: 20px auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #313131;
        font-family: 'Noto Sans KR', sans-serif; 
    }
    