@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OKGUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*=========================================================*/
.sidebar{display:flex ;}

.navi{
width: 100% ;
height: 60px;
background-color: #fff;
border-bottom:2px solid #e7e7e7;
display: flex; 
justify-content: center;
}

.navi1{
    width: 50%;
    padding-left: 40px;
    padding-top: 5px;
    justify-content: center;
    background-color: #fff;
    z-index: 1000;
}

.navi2{
    width: 50%;
    background-color:#fff;
    border-bottom: #e7e7e7;
    display: flex;
    justify-content: end;
    padding-right: 40px ;
    align-items: center;
    margin: auto;
}
img[alt=logo] { width: 120px;}

.body{ display: flex; }
/*========================================================================*/
/*profile icon img*/
img[alt=icon] { width: 27px;}

body {
  font-family: Arial, sans-serif;
  background-color: #50CCAA;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1.8px solid #313131;
  border-radius: 8px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  display: block;
  background-color: #fff;
  border: 1.8px solid #313131;
  margin: 0px 20px;
}

/*side bar - <hr>*/   
.sidebar-divider {
  margin: 20px 0px;
  border: 1px solid #313131;
}

.nav-item ul {
  list-style: none;
  padding: 0;
}

.nav-item ul li {
  margin: 20px 0;
}

.nav-item ul li a {
  text-decoration: none;
  color: #232323;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-item ul li a:hover {
  color: #50CCAA;
}

main {
  display: flex;
  padding: 20px;
  height: 600px;
}

/*ì£¼ë¬¸ íŽ˜ì´ì§€*/
.box {
  width: 300px;
  height: 80px;
  line-height: 85px;
  justify-content: center;
  text-align: center;
  background-color: #fff ;
  border:1.8px solid #313131;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
    margin: 20px auto 0px;

}

.box:hover {
  background-color: #fff;
  border:1.8px solid #313131;
  text-decoration: none;

}

/*arrow.png*/
img[alt="arrow"] {
  width: 40px;
  text-align: center;
}

/* Footer ìŠ¤íƒ€ì¼ */
footer {
  background-color: #232323;
  padding: 20px 0;
  text-align: center;
}

.footer1 p {
  font-size: 14px;
  color: #e7e7e7;
}

/*마이페이지 text*/
h1{
  width: 100%; font-size: 22pt; height: 70px; margin:35px 0px 10px; padding-left: 10px; 
  border-radius: 5px; background-color: #50CCAA; display: flex; 
 font-weight: bold; display: flex; align-items: center; color: #232323;}

.section{
  display: flex;
  margin: 0 auto;
  width: 1000px;
}

/*member Info, store Info*/
.memberInformation, .storeInformation{
  width: 45%;
  border-radius: 10px;
  background-color: #fff;
  border: 1.8px solid #313131;
  padding: 20px;
  margin: 0 auto;
}

/*스토어 이미지*/
.store_image{
  width: 250px;
}

button{
  width:150px;
  height:40px;
  line-height:40px;
  background-color: #ff7676;
  border: 1.8px solid #313131;
  border-radius:30px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 123px;
  left: 560px;
  
}

input[value="수정"]{
  margin: 10px 30px;
  
}

h2{font-weight:bold; font-family: 'Noto Sans KR', sans-serif;  }

table{
    width: 100%;
  line-height: 40px;
  justify-content: center;
  text-align: center;
  background-color: #fff ;
  border:1.8px solid #313131;
  color: #414141;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
    margin: 20px auto 0px;
  padding:20px 30px;

}

table th{color: #ffc123; font-weight:bold; font-size: 12pt;}